  <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table class="table invoice-detail-table text-center">
                  <thead>
                    <tr class="thead-default">
                      <th>Sr. No.</th>
                      <th>Prod. Id</th>
                      <th>Category</th>
                      <th>Shape</th>
                      <th>Class</th>
                      <th>Thickness <span class="d-block">(mm)</span></th>
                      <th>Width <span class="d-block">(mm)</span></th>
                      <th>Length <span class="d-block">(mm)</span></th>
                      <th>Temper</th>
                      <th>Surface</th>
                      <th>Net Wt.  <span class="d-block">(mt.)</span></th>
                      <th>Remark</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td><a routerLink="">P-928</a></td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4</td>
                      <td>Matt</td>
                      <td>2.12</td>
                      <td>-</td>
                      <td class="text-danger">Temp</td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td><a routerLink="">P-928</a></td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4</td>
                      <td>Matt</td>
                      <td>2.12</td>
                      <td>-</td>
                      <td class="text-danger">Temp</td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td><a routerLink="">P-928</a></td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4</td>
                      <td>Matt</td>
                      <td>2.12</td>
                      <td>-</td>
                      <td class="text-danger">Temp</td>
                    </tr>
                    <tr>
                      <td>4.</td>
                      <td><a routerLink="">P-928</a></td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4</td>
                      <td>Matt</td>
                      <td>2.12</td>
                      <td>-</td>
                      <td class="text-danger">Temp</td>
                    </tr>
                    <tr>
                      <td>5.</td>
                      <td><a routerLink="">P-928</a></td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4</td>
                      <td>Matt</td>
                      <td>2.12</td>
                      <td>-</td>
                      <td class="text-danger">Temp</td>
                    </tr>
                    <tr>
                      <td>6.</td>
                      <td><a routerLink="">P-928</a></td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4</td>
                      <td>Matt</td>
                      <td>2.12</td>
                      <td>-</td>
                      <td class="text-danger">Temp</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          