<app-card [hidHeader]="false" cardTitle="User Overview">
  <div class="card-body py-0">
    <div class="user-about-block m-0">
      <div class="row">
        <div class="col-md-12 mt-md-4">
          <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item" style="background: #FF899B;">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'home'}"
                (click)="this.activeTab = 'home'" id="home-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="home" aria-selected="true"><i class="feather icon-home mr-2"></i><span class="f-16 f-w-600">Personal</span></a>
            </li>
            <li class="nav-item" style="background: #ADE28A;">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'profile'}"
                (click)="this.activeTab = 'profile'" id="profile-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="profile" aria-selected="false"><i class="feather icon-user mr-2"></i><span class="f-16 f-w-600">Business</span></a>
            </li>
            <li class="nav-item" style="background: #EDFA8B;">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'contact'}"
                (click)="this.activeTab = 'contact'" id="contact-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="contact" aria-selected="false"><i class="feather icon-phone mr-2"></i><span class="f-16 f-w-600">Key Person</span></a>
            </li>
            <li  *ngIf="selectedUser.userRole=='CUSTOMER' || selectedUser.userRole=='SUPPLIER' " class="nav-item" style="background: #86CEFA;">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'gallery'}"
                (click)="this.activeTab = 'gallery'" id="gallery-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="gallery" aria-selected="false"><i class="feather icon-image mr-2"></i><span class="f-16 f-w-600">Trade</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


<!-- profile body start -->
<div class="row">
  <div class="col-md-12 order-md-2">
    <div *ngIf="status" class="tab-content" id="myTabContent">
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'home'}" id="home" role="tabpanel"
        aria-labelledby="home-tab">
        <app-user-personal-detail [selectedUser]="selectedUser" (check)="checkPersonal($event)"></app-user-personal-detail>
      </div>
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'profile'}" id="profile" role="tabpanel"
        aria-labelledby="profile-tab">
        <app-user-buisness [selectedUser]="selectedUser" (check)="checkBusiness($event)"></app-user-buisness>
      </div>
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'contact'}" id="contact" role="tabpanel"
        aria-labelledby="contact-tab">
        
        <app-user-key-person [selectedUser]="selectedUser" (check)="checkKeyPerson($event)"></app-user-key-person>
      
      </div>
      <div *ngIf="selectedUser.userRole=='CUSTOMER' || selectedUser.userRole=='SUPPLIER' " class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'gallery'}" id="gallery" role="tabpanel"
        aria-labelledby="gallery-tab">
        <app-user-trade-details [selectedUser]="selectedUser" (check)="checkTrade($event)"></app-user-trade-details>
      </div>
    </div>
    <div class="form-group row">
      <div style="text-align: right;" class="col-sm-12">
        <button type="button" class="btn btn-primary updateBtn" (click)="updateUser()">Update</button>&nbsp;
      </div>
    </div>
  </div>
  
</div>
</app-card>
<!-- profile body end -->