<div class="row">
  <div class="col-sm-12">
    <div class="row">
    <button type='button' (click)="basicSwal()">Change User Type</button>
    </div>
    <app-card [hidHeader]="true" cardClass="user-profile-list">
      <div class="dt-responsive table-responsive" *ngIf="userList" cardClass="card-datatable"> 
        <!-- datatable [dtOptions]="dtExportButtonOptions" -->
        <table datatable   class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>User Id</th>
              <th>UserType</th>
              <th>User Name</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Company Name</th>
              <th>Status</th>
              
            </tr>
          </thead>
           <tbody> 
             <tr href="kdkd" *ngFor="let user of userList;let i = index">
              <td>{{i+1}}</td>
              <td (click)="goToView(user)">{{user.id}}</td>
              <td>{{user.userRole}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.mobile}}</td>
              <td>{{user.email}}</td>
              <td>{{user.userDetail?.companyName}}</td>
              <td>
                <span class="badge badge-light-success">{{user.status}}</span>
                <div class="overlay-edit">
                  <button type="button" class="btn btn-icon btn-success"><i
                      class="feather icon-check-circle"></i></button>
                  <!-- <button type="button" class="btn btn-icon btn-danger" ><i class="feather icon-trash-2"></i></button> -->
                </div>
              </td>
            </tr> 
         
            
           </tbody>  
           <!-- <tfoot>
            <tr>
              <th><input type="text" placeholder="S.No." name="search-userType" class="form-control" /></th>
              <th><input type="text" placeholder="User Id" name="search-userType" class="form-control" /></th>
              <th><input type="text" placeholder="User Type" name="search-userType" class="form-control" /></th>
              <th><input type="text" placeholder="User Name" name="search-userType" class="form-control" /></th>
              <th><input type="text" placeholder="Mobile" name="search-userType" class="form-control" /></th>
              <th><input type="text" placeholder="Email" name="search-userType" class="form-control" /></th>
              <th><input type="text" placeholder="Company" name="search-userType" class="form-control" /></th>
            </tr>
            </tfoot>  -->
        </table>
      </div>
    </app-card>
  </div>
</div>