<div class="row">
  <div class="col-sm-12">
    <button type='button' (click)="basicSwal()" class="btn btn-primary btn-sm"
      style="margin: 45px 0px 10px;float:right;">Change User Type</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">

    <app-card [hidHeader]="true" cardClass="user-profile-list">
      <div class="dt-responsive table-responsive" *ngIf="userList" cardClass="card-datatable" #epltable>
        <!-- datatable [dtOptions]="dtExportButtonOptions" -->
        <table datatable id="contentToConvert"  [dtOptions]="dtExportButtonOptions" class="table table-striped table-bordered table-hover" >
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>User Id</th>
              <th>UserType</th>
              <th>User Name</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Company Name</th>
              <th>Status</th>

            </tr>
          </thead>
          <tbody>
            <tr href="kdkd" *ngFor="let user of userList;let i = index">
              <td>{{i+1}}</td>
              <td *ngIf="selectedRole === 'CUSTOMER'" (click)="goToView(user)">{{Ids.CUSTOMER + '-' + user.userDetialId}}</td>
              <td *ngIf="selectedRole === 'SUPPLIER'" (click)="goToView(user)">{{Ids.SUPPLIER + '-' + user.userDetialId}}</td>
              <td *ngIf="selectedRole === 'AGENT'" (click)="goToView(user)">{{Ids.AGENT + '-' + user.userDetialId}}</td>
              <td *ngIf="selectedRole === 'CONTRACTOR'" (click)="goToView(user)">{{Ids.CONTRACTOR + '-' + user.userDetialId}}</td>
              <td *ngIf="selectedRole === 'TRANSPORTER'" (click)="goToView(user)">{{Ids.TRANSPORTER + '-' + user.userDetialId}}</td>
              <td>{{user.userRole}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.mobile}}</td>
              <td>{{user.emailId}}</td>
              <td>{{user.businessDetails[0]?.companyName}}</td>
              <td>
                <span class="badge badge-light-success">{{user.status}}</span>
                <div class="overlay-edit">
                  <button type="button" class="btn btn-icon btn-success"><i class="feather icon-plus"></i></button>
                  <!-- <button type="button" class="btn btn-icon btn-danger" ><i class="feather icon-trash-2"></i></button> -->
                </div>
              </td>
            </tr>


          </tbody>
          <!-- <tfoot>
            <tr>
              <th><input type="text" placeholder="S.No." name="search-userType" class="form-control" /></th>
              <th><input type="text" placeholder="User Id" name="search-userType" class="form-control" /></th>
              <th><input type="text" placeholder="User Type" name="search-userType" class="form-control" /></th>
              <th><input type="text" placeholder="User Name" name="search-userType" class="form-control" /></th>
              <th><input type="text" placeholder="Mobile" name="search-userType" class="form-control" /></th>
              <th><input type="text" placeholder="Email" name="search-userType" class="form-control" /></th>
              <th><input type="text" placeholder="Company" name="search-userType" class="form-control" /></th>
            </tr>
            </tfoot>  -->
        </table>
      </div>
    </app-card>
  </div>
</div>
<button type="submit" class="btn btn-success active" (click)="exportToExcel()">Export</button>&nbsp;
<button type="submit" class="btn btn-danger active" (click)="print()">Print</button>&nbsp;
<button type="submit" class="btn btn-warning active">Copy</button>&nbsp;
