<div class="row">
    <div class="col-md-12">
      <app-card [hidHeader]="true" cardClass="tab-card">
        <h5 class="mb-3">Sales Offer Approval System</h5>
        <ngb-tabset (tabChange)="onTabChange($event)" type="pills">
          <ngb-tab title="Pending" id="pendingTab" class="mb-3">
            <ng-template ngbTabContent>
              <div *ngIf="pendingList" class="dt-responsive table-responsive" cardClass="card-datatable">
                <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Sr. No.</th>
                      <th>SO Id</th>
                      <th>SO Title</th>
                      <th>Category</th>
                      <th>Shape</th>
                      <th>Company Id</th>
                      <th>Warehouse Id</th>
                      <!-- <th>Customer Id</th> -->
                      <!-- <th>Gross Wt.</th> -->
                      <!-- <th>Net Wt.</th> -->
                      <th>Date of Creation</th>
                      <!-- <th>Last Modified Date</th> -->
                      <!-- <th>Created By</th> -->
                      <!-- <th>Last Modified By</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sale of pendingList; let i=index">
                      <td><label class="badge badge-warning">{{sale.status}}</label></td>
                      <td>{{i+1}}</td>
                      <td>SOL-{{sale.id}}</td>
                      <td>{{sale.type}}</td>
                      <td>{{sale.productCategory}}</td>
                      <td>{{sale.productShape}}</td>
                      <td>COM-{{sale.sourceCompanyId}}</td>
                      <td>WAR-{{sale.sourceWarehouseId}}</td>
                      <!-- <td>CU-{{sale.customerId}}</td> -->
                      <!-- <td>{{sale.grossWt}}</td> -->
                      <!-- <td>{{sale.netWt}}</td> -->
                      <td>{{sale.salesHistory[0].createdDate | date: 'medium'}}</td>
                      <!-- <td>{{sale.salesHistory[0].lastModifiedDate | date: 'medium'}}</td> -->
                      <!-- <td>{{sale.salesHistory[0].createdBy}}</td> -->
                      <!-- <td>{{sale.salesHistory[0].lastModifiedBy}}</td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Approved"  id="approvedTab">
            <ng-template ngbTabContent>
              <div *ngIf="approvedList" class="dt-responsive table-responsive" cardClass="card-datatable">
                <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Sr. No.</th>
                      <th>SO Id</th>
                      <th>SO Title</th>
                      <th>Category</th>
                      <th>Shape</th>
                      <th>Company Id</th>
                      <th>Warehouse Id</th>
                      <!-- <th>Customer Id</th> -->
                      <!-- <th>Gross Wt.</th> -->
                      <!-- <th>Net Wt.</th> -->
                      <th>Date of Creation</th>
                      <!-- <th>Last Modified Date</th> -->
                      <!-- <th>Created By</th> -->
                      <!-- <th>Last Modified By</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sale of approvedList; let i= index">
                      <td><label class="badge badge-success">{{sale.status}}</label></td>
                      <td>{{i+1}}</td>
                      <td>SOL-{{sale.id}}</td>
                      <td>{{sale.type}}</td>
                      <td>{{sale.productCategory}}</td>
                      <td>{{sale.productShape}}</td>
                      <td>COM-{{sale.sourceCompanyId}}</td>
                      <td>WAR-{{sale.sourceWarehouseId}}</td>
                      <!-- <td>CU-{{sale.customerId}}</td> -->
                      <!-- <td>{{sale.grossWt}}</td> -->
                      <!-- <td>{{sale.netWt}}</td> -->
                      <td>{{sale.salesHistory[0].createdDate | date: 'medium'}}</td>
                      <!-- <td>{{sale.salesHistory[0].lastModifiedDate | date: 'medium'}}</td> -->
                      <!-- <td>{{sale.salesHistory[0].createdBy}}</td> -->
                      <!-- <td>{{sale.salesHistory[0].lastModifiedBy}}</td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Rejected" id="rejectedTab">
            <ng-template ngbTabContent>
              <div *ngIf="rejectedList" class="dt-responsive table-responsive" cardClass="card-datatable">
                <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Sr. No.</th>
                      <th>SO Id</th>
                      <th>SO Title</th>
                      <th>Category</th>
                      <th>Shape</th>
                      <th>Company Id</th>
                      <th>Warehouse Id</th>
                      <!-- <th>Customer Id</th> -->
                      <!-- <th>Gross Wt.</th> -->
                      <!-- <th>Net Wt.</th> -->
                      <th>Date of Creation</th>
                      <!-- <th>Last Modified Date</th> -->
                      <!-- <th>Created By</th> -->
                      <!-- <th>Last Modified By</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let sale of rejectedList; let i= index">
                      <td><label class="badge badge-danger">{{sale.status}}</label></td>
                      <td>{{i+1}}</td>
                      <td>SOL-{{sale.id}}</td>
                      <td>{{sale.type}}</td>
                      <td>{{sale.productCategory}}</td>
                      <td>{{sale.productShape}}</td>
                      <td>COM-{{sale.sourceCompanyId}}</td>
                      <td>WAR-{{sale.sourceWarehouseId}}</td>
                      <!-- <td>CU-{{sale.customerId}}</td> -->
                      <!-- <td>{{sale.grossWt}}</td> -->
                      <!-- <td>{{sale.netWt}}</td> -->
                      <td>{{sale.salesHistory[0].createdDate | date: 'medium'}}</td>
                      <!-- <td>{{sale.salesHistory[0].lastModifiedDate | date: 'medium'}}</td> -->
                      <!-- <td>{{sale.salesHistory[0].createdBy}}</td> -->
                      <!-- <td>{{sale.salesHistory[0].lastModifiedBy}}</td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
  
        </ngb-tabset>
  
      </app-card>
      <!-- <app-add-product-cart></app-add-product-cart> -->
      <button type="submit" *ngIf="selectedTab=='PENDING' || selectedTab =='REJECTED'" class="btn btn-success active">Approve</button>&nbsp;
      <button type="submit" *ngIf="selectedTab=='PENDING' || selectedTab =='APPROVED'" class="btn btn-danger active">Reject</button>&nbsp;
    </div>
  </div>
