<div class="row">
  <!-- site Analytics card start -->
  <div class="col-xl-12 col-sm-12">
    <h3 class="mb-3">Inventory Details</h3>
    <div class="row">
      <div class="col-sm-3">
        <app-card [hidHeader]="false"  cardTitle="Tin Plate" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-primary text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>121</span></li>
                <li>Total Products Net Wt. <span>1621 Mt.</span></li>
                <li>Number of Coils <span>22</span></li>
                <li>Number of Bundles <span>99</span></li>
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center"> 
              <div class="col p-1">
                <h5 class="m-0 text-white">43</h5>
                <span>Registered</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">5</h5>
                <span>Pending</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">3</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-3">
        <app-card [hidHeader]="false"  cardTitle="Tin Free" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-success text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>121</span></li>
                <li>Total Products Net Wt. <span>1621 Mt.</span></li>
                <li>Number of Coils <span>22</span></li>
                <li>Number of Bundles <span>99</span></li>
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center"> 
              <div class="col p-1">
                <h5 class="m-0 text-white">43</h5>
                <span>Registered</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">5</h5>
                <span>Pending</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">3</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>

      <div class="col-sm-3">
        <app-card [hidHeader]="false"  cardTitle="GALVANIZE" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-danger text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>121</span></li>
                <li>Total Products Net Wt. <span>1621 Mt.</span></li>
                <li>Number of Coils <span>22</span></li>
                <li>Number of Bundles <span>99</span></li>
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center"> 
              <div class="col p-1">
                <h5 class="m-0 text-white">43</h5>
                <span>Registered</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">5</h5>
                <span>Pending</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">3</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-3">
        <app-card [hidHeader]="false"  cardTitle="PCRC" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-warning text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>121</span></li>
                <li>Total Products Net Wt. <span>1621 Mt.</span></li>
                <li>Number of Coils <span>22</span></li>
                <li>Number of Bundles <span>99</span></li>
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center"> 
              <div class="col p-1">
                <h5 class="m-0 text-white">43</h5>
                <span>Registered</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">5</h5>
                <span>Pending</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">3</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
  
  <!-- site Analytics card end -->

  <!-- project and team member start -->
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Latest Inventory Details" cardClass="table-card" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>User ID</th>
              <th>Type</th>
              <th>Name</th>
              <th>Mobile</th>
              <th>Company Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CU-827</td>
              <td>Customer</td>
              <td>Kamal Gupta</td>
              <td>9871874787</td>
              <td>Gupta Steels</td>
            </tr>
            <tr>
              <td>SU-455</td>
              <td>Supplier</td>
              <td>Bhagat Swami</td>
              <td>9648578478</td>
              <td>Shri Dev Steels</td>
            </tr>
            <tr>
              <td>TR-027</td>
              <td>Transporter</td>
              <td>Raj Kundan</td>
              <td>8860974787</td>
              <td>Shri Transportation</td>
            </tr>
            <tr>
              <td>CU-827</td>
              <td>Customer</td>
              <td>Uday Pingat</td>
              <td>9871874787</td>
              <td>Ferropack Industries</td>
            </tr>
            <tr>
              <td>AG-343</td>
              <td>Agent</td>
              <td>Rakesh Mittal</td>
              <td>9871874787</td>
              <td>Royal Steel</td>
            </tr>
            <tr>
              <td>TR-898</td>
              <td>Transporter</td>
              <td>Manish Singh</td>
              <td>8860974787</td>
              <td>Radha Transportation</td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Latest Updates" cardClass="latest-update-card">
      <div class="latest-update-box">
        <div class="row p-t-30 p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 hrs ago</p>
            <i class="feather icon-twitter bg-twitter update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 1652 Followers</h6>
            </a>
            <p class="text-muted m-b-0">You’re getting more and more followers, keep it up!</p>
          </div>
        </div>
        <div class="row p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">4 hrs ago</p>
            <i class="feather icon-briefcase bg-c-red update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 5 New Products were added!</h6>
            </a>
            <p class="text-muted m-b-0">Congratulations!</p>
          </div>
        </div>
        <div class="row p-b-0">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 day ago</p>
            <i class="feather icon-facebook bg-facebook update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+1 Friend Requests</h6>
            </a>
            <p class="text-muted m-b-10">This is great, keep it up!</p>
            <div class="table-responsive">
              <table class="table table-hover">
                <tr>
                  <td class="b-none">
                    <a href="javascript:" class="align-middle">
                      <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                      <div class="d-inline-block">
                        <h6>Jeny William</h6>
                        <p class="text-muted m-b-0">Graphic Designer</p>
                      </div>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="javascript:" class="b-b-primary text-primary">View all Projects</a>
      </div>
    </app-card>
  </div>
  <!-- project and team member end -->

 

  

</div>
