<div class="row">
  <div class="col-md-12">
    <div class="row">
    <button type='button' (click)="basicSwal()">Change User Group</button>
    </div>
      <app-card [hidHeader]="true" cardTitle="Search & Select Customer/s "  cardClass="user-profile-list">
        <div *ngIf="userGroupList && userGroupList?.length > 0" class="dt-responsive table-responsive" cardClass="card-datatable"> 
          <table datatable  class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Group Id</th>
                <th>Group Title</th>
                <th>Group Type</th>
                <th>Type</th>
                <th>Category</th>
                <th>Thick. Range</th>
                <th>Total Users</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
               <tr href="kdkd" *ngFor="let userGroup of userGroupList;let i = index">
              <td>{{i+1}}</td>
              <td>{{userGroup.userGroupId}}</td>
              <td>{{userGroup.userGroupName}}</td>
              <td>{{userGroup.userRole}}</td>
              <td>{{userGroup.productType}}</td>
              <td>{{userGroup.productCategory}}</td>
              <td>{{userGroup.minThickness}}-{{userGroup.maxThickness}}</td>
              <td>{{userGroup.user.length}}</td>
              <td>
                <span class="badge badge-light-success">{{userGroup.status}}</span>
                <div class="overlay-edit">
                  <!-- (click)="addUserGroup(userGroup)"  -->
                  <button type="button" (click)="navigateToEditView(userGroup.userGroupId)"  class="btn btn-icon btn-success"><i
                      class="feather icon-check-circle"></i></button>
                </div>
              </td>
            </tr> 
            </tbody>
          </table>
        </div>
      </app-card>
  </div>
</div>
<!-- <div class="row">
    <div class="col-md-12">
              <app-card [hidHeader]="false" cardTitle="View Above Selected Customer/s" [options]="false" cardClass="user-profile-list">
                <div class="dt-responsive table-responsive" cardClass="card-datatable"> 
                  <table datatable  class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                          <th>Sr. No.</th>
                          <th>Group Id</th>
                          <th>Group Title</th>
                          <th>Group Type</th>
                          <th>Type</th>
                          <th>Category</th>
                          <th>Thick. Range</th>
                          <th>Total Users</th>
                          <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                       <tr href="kdkd" *ngFor="let userGroup of selectedUserGroupList;let i = index">
              <td>{{i+1}}</td>
              <td>{{userGroup.userGroupId}}</td>
              <td>{{userGroup.userGroupName}}</td>
              <td>{{userGroup.userRole}}</td>
              <td>{{userGroup.productType}}</td>
              <td>{{userGroup.productCategory}}</td>
              <td>{{userGroup.minThickness}}-{{userGroup.maxThickness}}</td>
              <td>{{userGroup.user.length}}</td>
              <td>
                <span class="badge badge-light-success">{{userGroup.status}}</span>
                <div class="overlay-edit">
                    <button type="button" (click)="removeSelectedUserd(userGroup)" class="btn btn-icon btn-danger" ><i class="feather icon-trash-2"></i></button>

                </div>
              </td>
            </tr> 
                    </tbody>
                  </table>
                </div>
              </app-card>

            
    </div>
  </div> -->
  <button type="submit" class="btn btn-primary active">CSV</button>&nbsp;
  <button type="submit" class="btn btn-success active">Export</button>&nbsp;
  <button type="submit" class="btn btn-danger active">Print</button>&nbsp;
  <button type="submit" class="btn btn-warning active">Copy</button>&nbsp;
