<form #validationForm="ngForm" class="editForm" novalidate>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="validationCustom02">Gross Quantity</label>
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="validationCustom02">Location</label>
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="validationCustom02">Thickness Range</label>
          <div class="row">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Min">
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Max">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="validationCustom02">Width Range</label>
          <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Min">
              </div>
              <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Max">
              </div>
            </div>
        </div>
      </div>
    </div>
  </form>
  <div class="col-sm-12 centered-content m-t-20">
    <div class="btn-group mt-10">
      <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-success btn-sm">Send for Approval</button>
    </div>
  </div>
