        <!-- <h5>Search & Select MR ID </h5> -->
        <hr/>
        <div class="row">
          <div class="col-md-12">
              <div  *ngIf="poList && poList.length>0" class="dt-responsive table-responsive" cardClass="card-datatable">
                <table datatable class="table table-striped table-xs table-hover">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>PO ID</th>
                      <th>PO Title</th>
                      <th>Category</th>
                      <th>Shape</th>
                      <th>Company ID</th>
                      <th>Warehouse ID</th>
                      <th>Date of Creation</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr  *ngFor="let mr of poList;let i = index">
                      <td (click)="routeToEditMr(mr.id)">{{i+1}}</td>
                      <td >PO-{{mr.id}}</td>
                      <td>{{mr.title}}</td>
                      <td>{{mr.productCategory}}</td>
                      <td>{{mr.productShape}}</td>
                      <td>{{mr.sourceCompanyId}}</td>
                      <td>{{mr.sourceWarehouseId}}</td>
                      <td>{{mr.purchaseHistory[0].createdDate | date: 'short'}}</td>
                      <td>
                        <!-- <span class="badge badge-light-success">{{mr.status}}</span> -->
                        <div class="overlay-edit">
                          <button (click)="getSelectedPO(mr)" type="button" class="btn btn-icon btn-success"><i class="feather icon-plus"></i></button>
                        </div>
                      </td>
                     </tr> 
                    
        
                  </tbody>
                </table>
              </div>
          </div>
        </div>
       
        <div class="col-sm-12 centered-content m-t-20">
          <div class="btn-group mt-10">
            <!-- <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp; -->
            <!-- <button type="button"  [disabled]="!selectedMr" class="btn btn-primary btn-sm" nextStep>Next <i  class="feather icon-arrow-right f-w-600"></i></button> -->
          </div>
        </div>
    