<form [formGroup]="tradeDetails" (submit)="tradeDetailsFormOnSubmit()">
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Type <small class="asterik_sign">*</small></label>
        <select formControlName="productType" class="form-control" id="exampleFormControlSelect1">
          <option value="">Select Type</option>
          <option *ngFor="let item of productTypeList" [value]="item.productType">{{ item?.productType }}</option>
        </select>
        <small *ngIf="f.productType.value == '' && (f.productType.dirty || f.productType.touched )"
          id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Category <small class="asterik_sign">*</small></label>
        <select formControlName="productCategory" class="form-control" id="exampleFormControlSelect1">
          <option value="">Select Category</option>
          <option *ngFor="let item of productCategoryList" [value]="item?.productCategory">{{ item?.productCategory }}
          </option>
        </select>
        <small *ngIf="f.productCategory.value == '' && (f.productCategory.dirty || f.productCategory.touched )"
          id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Shape <small class="asterik_sign">*</small></label>
        <select formControlName="productShape" class="form-control" id="exampleFormControlSelect1">
          <option value="">Select Shape</option>
          <option *ngFor="let item of productShapeList" [value]="item?.productShape">{{ item?.productShape }}</option>
        </select>
        <small *ngIf="f.productShape.value == '' && (f.productShape.dirty || f.productShape.touched )"
          id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Class <small class="asterik_sign">*</small></label>
        <select formControlName="productClass" class="form-control" id="exampleFormControlSelect1">
          <option value="">Select Class</option>
          <option *ngFor="let item of productClassList" [value]="item?.productClass">{{ item?.productClass }}</option>
        </select>
        <small *ngIf="f.productClass.value == '' && (f.productClass.dirty || f.productClass.touched )"
          id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-3 mb-3">
      <label for="validationCustom02">Thickness Range (mm) <small class="asterik_sign">*</small></label>
      <div class="row">
        <div class="col-md-6 mb-3">
          <input formControlName="thicknessMin" type="text" class="form-control" placeholder="0.000" required />
          <small *ngIf="f.thicknessMin.value == '' && (f.thicknessMin.dirty || f.thicknessMin.touched )"
            id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
        </div>
        <div class="col-md-6 mb-3">
          <input formControlName="thicknessMax" type="text" class="form-control" placeholder="0.000" />
          <small *ngIf="f.thicknessMax.value == '' && (f.thicknessMax.dirty || f.thicknessMax.touched )"
            id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
          <small *ngIf="f.thicknessMax.value !== '' && !f.thicknessMax.valid " id="passwordHelpBlock"
            class="form-text text-muted">Maximum thickness should be greater than minimum thickness.</small>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom02">Width Range (mm)</label>
      <div class="row">
        <div class="col-md-6 mb-3">
          <input formControlName="widthMin" type="text" class="form-control" placeholder="Min" />
         
        </div>
        <div class="col-md-6 mb-3">
          <input formControlName="widthMax" type="text" class="form-control" placeholder="Max" />
         
          <small *ngIf="f.widthMax.value !== '' && !f.widthMax.valid " id="passwordHelpBlock"
            class="form-text text-muted">Maximum width should be greater than minimum width.</small>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom02">Length Range (mm)</label>
      <div class="row">
        <div class="col-md-6 mb-3">
          <input formControlName="lengthMin" type="text" class="form-control" placeholder="Min" />
         
        </div>
        <div class="col-md-6 mb-3">
          <input formControlName="lengthMax" type="text" class="form-control" placeholder="Max" />
          
          <small *ngIf="f.lengthMax.value !== '' && !f.lengthMax.valid " id="passwordHelpBlock"
            class="form-text text-muted">Maximum length should be greater than minimum length.</small>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom02">Temper Range <small class="asterik_sign">*</small></label>
      <div class="row">
        <div class="col-md-6 mb-3"> 
                 <input formControlName="temperMin" type="text" class="form-control" placeholder="Min" />
          <small *ngIf="f.temperMin.value == '' && (f.temperMin.dirty || f.temperMin.touched )" id="passwordHelpBlock"
            class="form-text text-muted">This field is required.</small>
        </div>
        <div class="col-md-6 mb-3">
          <input formControlName="temperMax" type="text" class="form-control" placeholder="Max" />
          <small *ngIf="f.temperMax.value == '' && (f.temperMax.dirty || f.temperMax.touched )" id="passwordHelpBlock"
            class="form-text text-muted">This field is required.</small>
          <small *ngIf="f.temperMax.value !== '' && !f.temperMax.valid " id="passwordHelpBlock"
            class="form-text text-muted">Maximum temper should be greater than minimum temper.</small>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationCustom02">Monthly Requirement (mt.) <small class="asterik_sign">*</small></label>
      <input formControlName="monthlyRequirement" type="text" class="form-control" placeholder="" />
      <small *ngIf="f.monthlyRequirement.value == '' && (f.monthlyRequirement.dirty || f.monthlyRequirement.touched )"
        id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
    </div>
    <div class="col-md-offset-6 col-md-3 mb-3">
      <div class="mt-4">
        <button type="button" [disabled]="!tradeDetails.valid" class="btn btn-primary btn-sm" (click)="addMore()">
          Add More
        </button>
      </div>
    </div>
  </div>

  <div class="form-row">
    <app-card [hidHeader]="true" cardClass="user-profile-list" style="width:100%">
      <div class="dt-responsive table-responsive" cardClass="card-datatable">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Type</th>
              <th>Category</th>
              <th>Shape</th>
              <th>Class</th>
              <th>Thick.</th>
              <th>Width</th>
              <th>Length</th>
              <th>Temper</th>
              <th>Monthly Req.</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tradeArr; let i = index">
              <td>{{ i + 1 + "." }}</td>
              <td>{{ item?.productType }}</td>
              <td>{{ item?.productCategory }}</td>
              <td>{{ item?.productShape }}</td>
              <td>{{ item?.productClass }}</td>
              <td>{{ item?.thicknessMin + " - " + item?.thicknessMax }}</td>
              <td>{{ item?.widthMin + " - " + item?.widthMax }}</td>
              <td>{{ item?.lengthMin + " - " + item?.lengthMax }}</td>
              <td>{{ item?.temperMin + " - " + item?.temperMax }}</td>
              <td>{{ item?.monthlyRequirement }}</td>
              <td>
                <span class="badge badge-light-success">Active</span>
                <div class="overlay-edit">
                  <button type="button" class="btn btn-icon btn-success">
                    <i class="feather icon-check-circle"></i>
                  </button>
                  <button type="button" class="btn btn-icon btn-danger">
                    <i class="feather icon-trash-2"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>

  <div class="col-sm-12 centered-content">
    <div class="btn-group mt-10">
      <button type="button" class="btn btn-secondary btn-sm" previousStep>
        Back</button>&nbsp;&nbsp;

      <button type="submit" class="btn btn-primary btn-sm">
        Continue
      </button>
    </div>
  </div>
</form>