<form *ngIf="transportList" [formGroup]="transportDetails" (ngSubmit)="addTransportDetails()">
    
 <div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="f-12" for="validationCustom02">Transporter ID<small
                class="asterik_sign">*</small></label>
            <select #transporterID class="form-control" name="validation-companyName" formControlName="transportId">
                <option value="" disabled>Select Transporter ID</option>
                <option *ngFor="let item of transportList; let i=index" [value]="item.userDetialId">{{ item.userDetialId}}</option>
                <!-- put here fetch data and passed it to the parent component, -->
            </select>
            <small *ngIf="f.transportId.value == '' && (f.transportId.dirty || f.transportId.touched )" id="passwordHelpBlock" class="form-text text-danger"
        >This field is required.</small>
        </div>
    </div>
    
    
    <div class="col-md-2"  >
        <div class="form-group">
            <label class="f-12" for="validationCustom02">Transport Reciept<small
                class="asterik_sign">*</small></label>
            <input type="text" class="form-control" formControlName="transportRecieptNo" placeholder="Transport Reciept No.">
            <small *ngIf="f.transportRecieptNo.value == '' && (f.transportRecieptNo.dirty || f.transportRecieptNo.touched )" id="passwordHelpBlock" class="form-text text-danger"
                     >This field is required.</small>
        </div>
    </div>
    
     <div class="col-md-2">
        <div class="form-group">
            <label class="f-12" for="validationCustom02">Vehicle Number<small
                class="asterik_sign">*</small></label>
            <input type="text" class="form-control" formControlName="lorryNumber" placeholder="Enter Vehicle">
            <small *ngIf="f.lorryNumber.value == '' && (f.lorryNumber.dirty || f.lorryNumber.touched )" id="passwordHelpBlock" class="form-text text-danger"
                     >This field is required.</small>
                     <small *ngIf="f.lorryNumber.value !== '' && !f.lorryNumber.valid " id="passwordHelpBlock" class="form-text text-danger"
            >This field only accepts alphanumeric characters and these symbols: - . ( ) _</small
          >
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="f-12" for="validationCustom02">Container No.<small
                class="asterik_sign">*</small></label>
            <input type="text" class="form-control" formControlName="containerNumber" placeholder="Enter Container">
            <small *ngIf="f.containerNumber.value == '' && (f.containerNumber.dirty || f.containerNumber.touched )" id="passwordHelpBlock" class="form-text text-danger"
                     >This field is required.</small>
                     <small *ngIf="f.containerNumber.value !== '' && !f.containerNumber.valid " id="passwordHelpBlock" class="form-text text-danger"
            >This field only accepts alphanumeric characters and these symbols: - . ( ) _</small
          >
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="f-12" for="validationCustom02">Source Gross Wt.</label>
            <input type="text" class="form-control" formControlName="grossWt" placeholder="Enter Gross Wt.">
                     <small *ngIf="f.grossWt.value !== '' && !f.grossWt.valid " id="passwordHelpBlock" class="form-text text-danger"
            >This field only accepts numbers and this symbol:.</small
          >
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="f-12" for="validationCustom02"> Net Wt.</label>
            <input type="text" class="form-control" formControlName="netWt" placeholder="Enter Net Wt.">
            <small *ngIf="f.netWt.value !== '' && !f.netWt.valid " id="passwordHelpBlock" class="form-text text-danger"
            >This field only accepts numbers and this symbol:.</small
          >
        </div>
    </div>

   
    <div class="col-md-2" >
        <div class="form-group">
            <label class="f-12" for="validationCustom02">Driver Name<small
                class="asterik_sign">*</small></label>
            <input type="text" class="form-control" formControlName="driverName" placeholder="Enter Driver Name">
            <small *ngIf="f.driverName.value == '' && (f.driverName.dirty || f.driverName.touched )" id="passwordHelpBlock" class="form-text text-danger"
            >This field is required.</small>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="f-12" for="validationCustom02">Licence Number</label>
            <input type="text" class="form-control" formControlName="licenceNumber" placeholder="Enter Licence">
            <small *ngIf="f.licenceNumber.value !== '' && !f.licenceNumber.valid " id="passwordHelpBlock" class="form-text text-danger"
            >This field only accepts alphanumeric characters and these symbols: - . ( ) _</small
          >
        </div>
    </div>
   
   

    <div class="col-sm-12 centered-content m-t-20">
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-danger btn-sm">Print</button>&nbsp;&nbsp;
          <button type="submit"  class="btn btn-success btn-sm">Send for Approval</button>
        </div>
      </div>

</div>  
<!-- <button type="submit" class="btn btn-success" [disabled]="!transportDetails.valid">Add</button> -->
</form>