<form [formGroup]="productForm" class="editForm" (ngSubmit)="productFormOnSubmit()" novalidate>
  <h5 class="bg-clr-head1 p-10 f-14">Material Classification</h5>
  <hr>
  <div class="row">
    <div class="col-md-3 col-xs-6">
      <div class="form-group">
        <label class="f-12" for="exampleFormControlSelect1">Product Type <small class="asterik_sign">*</small></label>
        <fieldset formGroupName="productType">
          <select (change)="setValue($event,'productType')" formControlName="id" class="form-control"
            id="exampleFormControlSelect1">
            <option value='' disabled>Select</option>
            <option *ngFor="let item of productTypeList" [value]="item?.id">{{ item?.productType }}</option>
          </select>
        </fieldset>
        <small
          *ngIf="f.productType['controls']['id'].value === '' && (f.productType['controls']['id'].dirty || f.productType['controls']['id'].touched)"
          id="passwordHelpBlock" class="form-text text-danger">Type should be
          required.</small>
        <!-- <label class="f-12" *ngIf="f.productType.controls.id.value === '' && (productForm.productType.controls.id.dirty || productForm.productType.controls.id.touched)" id="validation-type-error"
                  class="error jquery-validation-error small form-text ">Product Type should be
                  required.</label> -->

      </div>
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="form-group">
        <label class="f-12" for="exampleFormControlSelect1">Product Category <small
            class="asterik_sign">*</small></label>
        <fieldset formGroupName="productCategory">
          <select (change)="setValue($event,'productCategory')" formControlName="id" class="form-control"
            id="exampleFormControlSelect1">
            <option value='' disabled>Select</option>
            <option *ngFor="let item of productCategoryList" [value]="item?.id">{{ item?.productCategory }}</option>
          </select>
        </fieldset>
        <small
          *ngIf="f.productCategory['controls']['id'].value === '' && (f.productCategory['controls']['id'].dirty || f.productCategory['controls']['id'].touched)"
          id="passwordHelpBlock" class="form-text text-danger">Category should be required.</small>
      </div>
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="form-group">
        <label class="f-12" for="exampleFormControlSelect1">Product Shape <small class="asterik_sign">*</small></label>
        <fieldset formGroupName="productShape">
          <select (change)="setValue($event,'productShape')" formControlName="id" class="form-control"
            id="exampleFormControlSelect1">
            <option value=''>Select</option>
            <option *ngFor="let item of productShapeList" [value]="item?.id">{{ item?.productShape }}</option>
          </select>
        </fieldset>
        <small
          *ngIf="f.productShape['controls']['id'].value == '' && (f.productShape['controls']['id'].dirty || f.productShape['controls']['id'].touched)"
          id="passwordHelpBlock" class="form-text text-danger">Shape should be
          required.</small>
      </div>
    </div>
    <div class="col-md-3 col-xs-6">
      <div class="form-group">
        <label class="f-12" for="exampleFormControlSelect1">Product Class <small class="asterik_sign">*</small></label>
        <fieldset formGroupName="productClass">
          <select (change)="setValue($event,'productClass')" formControlName="id" class="form-control"
            id="exampleFormControlSelect1">
            <option value='' disabled>Select</option>
            <option *ngFor="let item of productClassList" [value]="item?.id">{{ item?.productClass }}</option>
          </select>
        </fieldset>
        <small
          *ngIf="f.productClass['controls']['id'].value === '' && (f.productClass['controls']['id'].dirty || f.productClass['controls']['id'].touched)"
          id="passwordHelpBlock" class="form-text text-danger">Class should be
          required.</small>
      </div>
    </div>
  </div>
  <h5 class="bg-clr-head1 p-10 f-14">Material Specification <span style="float: right;">  
  <div class="checkbox">
    <label><input type="checkbox" (click)="range = !range" value="">Range</label>
  </div>
</span></h5>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6">
          <div class="photo_upload">
            <form>
              <file-upload name="files" fileslimit="1" class="uploadPhoto"></file-upload>
              <!-- <div class="text-center m-t-20 m-b-20">
              </div> -->
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="photo_upload">
            <form>
              <file-upload name="files" fileslimit="1" class="uploadPhoto"></file-upload>
             
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="photo_upload">
            <form>
              <file-upload name="files" fileslimit="1" class="uploadPhoto"></file-upload>
             
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="photo_upload">
            <form>
              <file-upload name="files" fileslimit="1" class="uploadPhoto"></file-upload>
          
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
<!-- range values -->
<div class="row" *ngIf="!range">
  <div class="col-md-4">
    <div class="form-group m-b-0">
      <label class="f-12 dash" for="validationCustom02">Thickness Range (mm) <small class="asterik_sign">*</small></label>
      <div class="row">
        <div class="col-md-6 col-6 mb-3">
          <input formControlName="thicknessMin" [textMask]="{mask: mask}" type="text" class="form-control" placeholder="Min">
          
          <small *ngIf="f.thicknessMin.value == '' && (f.thicknessMin.touched || f.thicknessMin.dirty)"
            id="passwordHelpBlock" class="form-text text-danger">This Field is required.</small>
        </div>
        <div class="col-md-6 col-6 mb-3">
          <input formControlName="thicknessMax" [textMask]="{mask: mask}" type="text" class="form-control" placeholder="Max">
        
          <small *ngIf="f.thicknessMax.value !== '' && !f.thicknessMax.valid " id="passwordHelpBlock"
            class="form-text text-danger">Maximum thickness should be greater than minimum thickness.</small>
          <small *ngIf="f.thicknessMax.value == '' && (f.thicknessMax.touched || f.thicknessMax.dirty)"
            id="passwordHelpBlock" class="form-text text-danger">This Field is required.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group m-b-0">
      <label class="f-12 dash" for="validationCustom02">Width Range (mm) <small class="asterik_sign">*</small></label>
      <div class="row">
        <div class="col-md-6 col-6 mb-3">
          <input formControlName="widthMin" [textMask]="{mask: mask2}" type="text" class="form-control" placeholder="Min">

          <small *ngIf="f.widthMin.value == '' && (f.widthMin.touched || f.widthMin.dirty)" id="passwordHelpBlock"
            class="form-text text-danger">This Field is required.</small>
        </div>
        <div class="col-md-6 col-6 mb-3">
          <input formControlName="widthMax" type="text" [textMask]="{mask: mask2}" class="form-control" placeholder="Max">
        
          <small *ngIf="f.widthMax.value !== '' && !f.widthMax.valid " id="passwordHelpBlock"
            class="form-text text-danger">Maximum width should be greater than minimum width.</small>
          <small *ngIf="f.widthMax.value == '' && (f.widthMax.touched || f.widthMax.dirty)" id="passwordHelpBlock"
            class="form-text text-danger">This Field is required.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group m-b-0">
      <label class="f-12 dash" for="validationCustom02">Length Range (mm)<small class="asterik_sign">*</small></label>
      <div class="row">
        <div class="col-md-6 col-6 mb-3">
          <input formControlName="lengthMin" [textMask]="{mask: mask2}" type="text" class="form-control" placeholder="Min">
         
          <small *ngIf="f.lengthMin.value == '' && (f.lengthMin.touched || f.lengthMin.dirty)" id="passwordHelpBlock"
            class="form-text text-danger">This Field is required.</small>
        </div>
        <div class="col-md-6 col-6 mb-3">
          <input formControlName="lengthMax" [textMask]="{mask: mask2}" type="text" class="form-control" placeholder="Max">
         
          <small *ngIf="f.lengthMax.value !== '' && !f.lengthMax.valid " id="passwordHelpBlock"
            class="form-text text-danger">Maximum length should be greater than minimum length.</small>
          <small *ngIf="f.lengthMax.value == '' && (f.lengthMax.touched || f.lengthMax.dirty)" id="passwordHelpBlock"
            class="form-text text-danger">This Field is required.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group m-b-0">
      <label class="f-12 dash" for="validationCustom02">Hardness Range<small class="asterik_sign">*</small></label>
      <div class="row">
        <div class="col-md-6 col-6 mb-3">
          <fieldset formGroupName="hardnessMin">

            <select (change)="setValueTwoField($event,'hardnessMin','productHardness')" formControlName="id"
              class="form-control" id="exampleFormControlSelect1">
              <option value='' disabled>Min</option>
              <option *ngFor="let item of productHarndessList" [value]="item?.id">{{ item?.description }}</option>
            </select>
          </fieldset>
          <small
            *ngIf="f.hardnessMin['controls']['id'].value === '' && (f.hardnessMin['controls']['id'].dirty || f.hardnessMin['controls']['id'].touched)"
            id="passwordHelpBlock" class="form-text text-danger">Minimum Hardness should be
            required.</small>
        </div>
        <div class="col-md-6 col-6 mb-3">
          <fieldset formGroupName="hardnessMax">
            <select (change)="setValueTwoField($event,'hardnessMax','productHardness')" formControlName="id"
              class="form-control" id="exampleFormControlSelect1">
              <option value='' disabled>Max</option>
              <option *ngFor="let item of productHarndessList" [value]="item?.id">{{ item?.description }}</option>
            </select>
            <small
              *ngIf="f.hardnessMax['controls']['id'].value === '' && (f.hardnessMax['controls']['id'].dirty || f.hardnessMax['controls']['id'].touched)"
              id="passwordHelpBlock" class="form-text text-danger">Maximum Hardness should be
              required.</small>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group m-b-0">
      <label class="f-12 dash" for="validationCustom02">Temper Range<small class="asterik_sign">*</small></label>
      <div class="row">
        <div class="col-md-6 col-6 mb-3">
          <fieldset formGroupName="temperMin">

            <select (change)="setValueTwoField($event,'temperMin','productTemper')" formControlName="id"
              class="form-control" id="exampleFormControlSelect1">
              <option value='' disabled>Min</option>
              <option *ngFor="let item of productTemperList" [value]="item?.id">{{ item?.productTemper }}</option>
            </select>
          </fieldset>
          <small
            *ngIf="f.temperMin['controls']['id'].value === '' && (f.temperMin['controls']['id'].dirty || f.temperMin['controls']['id'].touched)"
            id="passwordHelpBlock" class="form-text text-danger">Minimum Temper should be
            required.</small>
        </div>
        <div class="col-md-6 col-6 mb-3">
          <fieldset formGroupName="temperMax">

            <select (change)="setValueTwoField($event,'temperMax','productTemper')" formControlName="id"
              class="form-control" id="exampleFormControlSelect1">
              <option value='' disabled>Max</option>
              <option *ngFor="let item of productTemperList" [value]="item?.id">{{ item?.productTemper }}</option>
            </select>
          </fieldset>
          <small
            *ngIf="f.temperMax['controls']['id'].value === '' && (f.temperMax['controls']['id'].dirty || f.temperMax['controls']['id'].touched)"
            id="passwordHelpBlock" class="form-text text-danger">Maximum Temper should be
            required.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 m-b-0">
    <div class="form-group">
      <label class="f-12" for="validationCustom02">Height (mm)<small class="asterik_sign">*</small></label>
      <input formControlName="heigth" type="text" [textMask]="{mask: mask3}" class="form-control" placeholder="00.0">
   
      <small *ngIf="f.heigth.value !== '' && !f.heigth.valid " id="passwordHelpBlock"
        class="form-text text-danger">This field only accepts numbers and this symbol:.</small>
      <small *ngIf="f.heigth.value == '' && (f.heigth.touched || f.heigth.dirty)" id="passwordHelpBlock"
        class="form-text text-danger">This Field is required.</small>
    </div>
  </div>
</div>
<!-- no range value -->
<div class="row" *ngIf="range">
  <div class="col-md-4">
    <div class="form-group m-b-0">
      <label class="f-12" for="validationCustom02">Thickness (mm)<small class="asterik_sign">*</small></label>
      <div class="row">
        <div class="col-md-12 col-12 mb-3">
          <input formControlName="thicknessMin" [textMask]="{mask: mask}" type="text" class="form-control" placeholder="00.00">
          <small *ngIf="f.thicknessMin.value == '' && (f.thicknessMin.touched || f.thicknessMin.dirty)"
            id="passwordHelpBlock" class="form-text text-danger">This Field is required.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group m-b-0">
      <label class="f-12" for="validationCustom02">Width (mm)<small class="asterik_sign">*</small></label>
      <div class="row">
        <div class="col-md-12 col-12 mb-3">
          <input formControlName="widthMin" [textMask]="{mask: mask2}" type="text" class="form-control" placeholder="000.0">
          <small *ngIf="f.widthMin.value == '' && (f.widthMin.touched || f.widthMin.dirty)" id="passwordHelpBlock"
            class="form-text text-danger">This Field is required.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group m-b-0">
      <label class="f-12" for="validationCustom02">Length (mm)<small class="asterik_sign">*</small></label>
      <div class="row">
        <div class="col-md-12 col-12 mb-3">
          <input formControlName="lengthMin" [textMask]="{mask: mask2}" type="text" class="form-control" placeholder="000.0">
          <small *ngIf="f.lengthMin.value == '' && (f.lengthMin.touched || f.lengthMin.dirty)" id="passwordHelpBlock"
            class="form-text text-danger">This Field is required.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group m-b-0">
      <label class="f-12" for="validationCustom02">Hardness<small class="asterik_sign">*</small></label>
      <div class="row">
        <div class="col-md-12 col-12 mb-3">
          <fieldset formGroupName="hardnessMin">
            <select (change)="setValueTwoField($event,'hardnessMin','productHardness')" formControlName="id"
              class="form-control" id="exampleFormControlSelect1">
              <option value='' disabled>Min</option>
              <option *ngFor="let item of productHarndessList" [value]="item?.id">{{ item?.description }}</option>
            </select>
          </fieldset>
          <small
            *ngIf="f.hardnessMin['controls']['id'].value === '' && (f.hardnessMin['controls']['id'].dirty || f.hardnessMin['controls']['id'].touched)"
            id="passwordHelpBlock" class="form-text text-danger">Minimum Hardness should be
            required.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group m-b-0">
      <label class="f-12" for="validationCustom02">Temper<small class="asterik_sign">*</small></label>
      <div class="row">
        <div class="col-md-12 col-12 mb-3">
          <fieldset formGroupName="temperMin">
            <select (change)="setValueTwoField($event,'temperMin','productTemper')" formControlName="id"
              class="form-control" id="exampleFormControlSelect1">
              <option value='' disabled>Select</option>
              <option *ngFor="let item of productTemperList" [value]="item?.id">{{ item?.productTemper }}</option>
            </select>
          </fieldset>
          <small
            *ngIf="f.temperMin['controls']['id'].value === '' && (f.temperMin['controls']['id'].dirty || f.temperMin['controls']['id'].touched)"
            id="passwordHelpBlock" class="form-text text-danger">Temper should be
            required.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group m-b-0">
      <label class="f-12" for="validationCustom02">Height (mm)<small class="asterik_sign">*</small></label>
      <input formControlName="heigth" type="text" [textMask]="{mask: mask3}" class="form-control" placeholder="00.0">
      <small *ngIf="f.heigth.value !== '' && !f.heigth.valid " id="passwordHelpBlock"
        class="form-text text-danger">This
        field only accepts numbers and this symbol:.</small>
      <small *ngIf="f.heigth.value == '' && (f.heigth.touched || f.heigth.dirty)" id="passwordHelpBlock"
        class="form-text text-danger">This Field is required.</small>
    </div>
  </div>
</div>
<!-- end  -->

<div class="row">
  
<div class="col-md-4">
  <div class="form-group">
    <label class="f-12" for="exampleFormControlSelect1">Coating</label>
    <fieldset formGroupName="productCoating">

      <select (change)="setValue($event,'productCoating')" formControlName="id" class="form-control"
        id="exampleFormControlSelect1">
        <option value='' disabled>Select</option>
        <option *ngFor="let item of productCoatingList" [value]="item?.id">{{ item?.productCoating }}</option>
      </select>
    </fieldset>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label class="f-12" for="exampleFormControlSelect1">Defect</label>
    <fieldset formGroupName="productDefect">
      <select (change)="setValue($event,'productDefect')" formControlName="id" class="form-control"
        id="exampleFormControlSelect1">
        <option value='' disabled>Select</option>
        <option *ngFor="let item of productDefectList" [value]="item?.id">{{ item?.productDefect }}</option>
      </select>
    </fieldset>

  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label class="f-12" for="exampleFormControlSelect1">Origin</label>
    <fieldset formGroupName="productOrigin">

      <select (change)="setValue($event,'productOrigin')" formControlName="id" class="form-control"
        id="exampleFormControlSelect1">
        <option value='' disabled>Select</option>
        <option *ngFor="let item of productOriginList" [value]="item?.id">{{ item?.productOrigin }}</option>
      </select>
    </fieldset>

  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label class="f-12">Oiling</label>
    <fieldset formGroupName="productOiling">

      <select (change)="setValue($event,'productOiling')" formControlName="id" class="form-control"
        id="exampleFormControlSelect1">
        <option value='' disabled>Select</option>
        <option *ngFor="let item of productOilingList" [value]="item?.id">{{ item?.productOiling }}</option>
      </select>
    </fieldset>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label class="f-12" for="exampleFormControlSelect1">Surface</label>
    <fieldset formGroupName="productSurfaceCoating">

      <select (change)="setValue($event,'productSurfaceCoating')" formControlName="id" class="form-control"
        id="exampleFormControlSelect1">
        <option value='' disabled>Select</option>
        <option *ngFor="let item of productSurfaceList" [value]="item?.id">{{ item?.productSurfaceCoating }}
        </option>
      </select>
    </fieldset>
  </div>
</div>
<div class="col-md-4">
  <div class="form-group">
    <label class="f-12" for="exampleFormControlSelect1">Annealing</label>
    <fieldset formGroupName="productAnnealing">

      <select (change)="setValue($event,'productAnnealing')" formControlName="id" class="form-control"
        id="exampleFormControlSelect1">
        <option value='' disabled>Select</option>
        <option *ngFor="let item of productAnnealingList" [value]="item?.id">{{ item?.productAnnealing }}</option>
      </select>
    </fieldset>

  </div>
</div>
</div>
    </div>
  </div>
  
  
  <!--  -->
  <div class="row mt-3">
    <div class="col-md-2">
      <div class="form-group">
        <label class="f-12" for="exampleFormControlSelect1">Finish</label>
        <fieldset formGroupName="productFinish">

          <select (change)="setValue($event,'productFinish')" formControlName="id" class="form-control"
            id="exampleFormControlSelect1">
            <option value='' disabled>Select</option>
            <option *ngFor="let item of productFinishList" [value]="item?.id">{{ item?.productFinish }}</option>
          </select>
        </fieldset>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="f-12" for="exampleFormControlSelect1">Packaging</label>
        <fieldset formGroupName="productPackaging">

          <select (change)="setValue($event,'productPackaging')" formControlName="id" class="form-control"
            id="exampleFormControlSelect1">
            <option value='' disabled>Select</option>
            <option *ngFor="let item of productPackagingList" [value]="item?.id">{{ item?.productPackaging }}</option>
          </select>
        </fieldset>

      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="f-12" for="exampleFormControlSelect1">Gross Wt. (Kg)<small class="asterik_sign">*</small></label>
        <input formControlName="gwt" type="text" [textMask]="{mask: mask4}" class="form-control" placeholder="000,00,0">
        
        <!-- <small *ngIf="f.gwt.value !== '' && !f.gwt.valid " id="passwordHelpBlock" class="form-text text-danger">This
          field only accepts numbers and this symbol:.</small> -->
        <small *ngIf="f.gwt.value == '' && (f.gwt.touched || f.gwt.dirty)" id="passwordHelpBlock"
          class="form-text text-danger">This Field is required.</small>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label class="f-12" for="exampleFormControlSelect1">Net Wt. (Kg)<small class="asterik_sign">*</small></label>
        <input formControlName="nwt" type="text" [textMask]="{mask: mask4}" class="form-control" placeholder="000,00,0">
<!--         
        <small *ngIf="f.nwt.value !== '' && !f.nwt.valid " id="passwordHelpBlock" class="form-text text-danger">This
          field only accepts numbers and this symbol:.</small> -->
        <small *ngIf="f.nwt.value == '' && (f.nwt.touched || f.nwt.dirty)" id="passwordHelpBlock"
          class="form-text text-danger">This Field is required.</small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="f-12" for="exampleFormControlSelect1">Other Remarks</label>
        <textarea formControlName="remarks" class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
      </div>
    </div>

  </div>
  <div *ngIf="component === 'processing'" class="form-group row">
    <div class="col-sm-9">
      <label>Length to Cut (mm)<small class="asterik_sign">*</small></label>
      <input type="text" class="form-control" placeholder="enter length to be cut" formControlName="lengthToBeCut">
    </div>
  </div>
<div class="row">
  <div class="col-md-12">
    <div style="float: right;">
      <button type="submit" class="btn btn-primary btn-sm printBtn " uiSref="work"><i  class="feather icon-plus f-w-600"></i> Add
        More</button>
    </div>
  </div>
</div>
</form>
<div class="m-t-20">
  <!-- <app-add-product-cart></app-add-product-cart> -->
</div>
<!-- <div class="col-sm-12 centered-content m-t-20">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary btn-sm">Submit</button>
          </div>
        </div> -->
