<form #validationForm2="ngForm" class="editForm" novalidate>
          <h5>Material Classification</h5>
          <hr>
          <div class="row">
            <div class="col-md-3 col-xs-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Product Type <small class="asterik_sign">*</small></label>
                <select class="form-control" name="validation-type">
                  <option value="0" disabled>Select Type</option>
                  <option value="1">CFRS</option>
                </select>
                <!-- <label *ngIf="!type.valid && (type.dirty || type.touched || isSubmit2)" id="validation-type-error"
                  class="error jquery-validation-error small form-text invalid-feedback">Product Type should be
                  required.</label> -->
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Product Category <small class="asterik_sign">*</small></label>
                <select class="form-control" name="validation-category">
                  <option value="0" disabled>Select Category</option>
                  <option value="1">HR</option>
                  <option value="2">CR</option>
                  <option value="3">GL</option>
                  <option value="4">CC</option>
                  <option value="5">EG</option>
                  <option value="6">TP</option>
                  <option value="7">TFS</option>
                  <option value="8">BP</option>
                  <option value="9">TPL</option>
                  <option value="10">GALVALUM</option>
                  <option value="11">MISPRINT</option>
                  <option value="12">PCRC</option>
                  <option value="13">TFS/LIKER</option>
                  <option value="14">TP/LIKER</option>
                  <option value="15">MIX</option>
                  <option value="16">GA</option>
                  <option value="17">GAJ</option>
                  <option value="18">GI</option>
                  <option value="19">COLOR</option>
                  <option value="20">CR/GA</option>
                  <option value="21">GI/GA</option>
                  <option value="22">CRJ</option>
                  <option value="23">GIJ</option>
                  <option value="24">ALSTER</option>
                  <option value="25">PVC/COLOR</option>
                  <option value="26">PVC&amp;CB</option>
                  <option value="27">BLANK</option>
                  <option value="28">PVC-NON-CB</option>
                  <option value="29">CR/GI</option>
                  <option value="30">NON-CB</option>
                  <option value="31">COLOR-CS</option>
                  <option value="32">MATT</option>
                </select>
                <!-- <label *ngIf="!category.valid && (category.dirty || category.touched || isSubmit2)"
                  id="validation-category-error"
                  class="error jquery-validation-error small form-text invalid-feedback">Category should be
                  required.</label> -->
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Product Shape <small class="asterik_sign">*</small></label>
                <select class="form-control" name="validation-shape">
                  <option value="0" disabled>Select User</option>
                  <option value="1">SLC</option>
                  <option value="2">MWC</option>
                  <option value="3">2RC</option>
                  <option value="4">MC</option>
                  <option value="5">SC</option>
                  <option value="6">FAPS</option>
                  <option value="7">BAPS</option>
                  <option value="8">US</option>
                  <option value="9">FASS</option>
                  <option value="11">BASS</option>
                  <option value="12">SHEETS</option>
                  <option value="13">NO</option>
                  <option value="14">SLC / STS</option>
                </select>
                <!-- <label *ngIf="!shape.valid && (shape.dirty || shape.touched || isSubmit2)" id="validation-shape-error"
                  class="error jquery-validation-error small form-text invalid-feedback">Shape should be
                  required.</label> -->
              </div>
            </div>
            <div class="col-md-3 col-xs-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Product Class <small class="asterik_sign">*</small></label>
                <select class="form-control" name="validation-class">
                  <option value>Select Class</option>
                  <option value="1">1A</option>
                  <option value="2">1B</option>
                  <option value="3">2A</option>
                  <option value="4">2B</option>
                  <option value="5">2C</option>
                  <option value="6">2D</option>
                  <option value="7">3A</option>
                  <option value="8">3B</option>
                  <option value="9">3C</option>
                  <option value="10">3D</option>
                  <option value="11">DEFFECTIVE</option>
                  <option value="12">SCRAPE</option>
                </select>
                <!-- <label *ngIf="!class.valid && (class.dirty || class.touched || isSubmit2)" id="validation-class-error"
                  class="error jquery-validation-error small form-text invalid-feedback">Class should be
                  required.</label> -->
              </div>
            </div>
          </div>
          <h5>Material Specification</h5>
          <hr>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="validationCustom02">Thickness Range</label>
                <div class="row">
                  <div class="col-md-6 col-xs-6 mb-3">
                    <input type="text" [textMask]="{mask: maskIP}" class="form-control">
                    <small class="form-text text-muted">(mm)</small>
                  </div>
                  <div class="col-md-6 col-xs-6 mb-3">
                    <input type="text" [textMask]="{mask: maskIP}" class="form-control">
                    <small class="form-text text-muted">(mm)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="validationCustom02">Width Range</label>
                <div class="row">
                  <div class="col-md-6 col-xs-6 mb-3">
                    <input type="text" class="form-control">
                    <small class="form-text text-muted">(mm)</small>
                  </div>
                  <div class="col-md-6 col-xs-6 mb-3">
                    <input type="text" class="form-control">
                    <small class="form-text text-muted">(mm)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="validationCustom02">Length Range</label>
                <div class="row">
                  <div class="col-md-6 col-xs-6 mb-3">
                    <input type="text" class="form-control">
                    <small class="form-text text-muted">(mm)</small>
                  </div>
                  <div class="col-md-6 col-xs-6 mb-3">
                    <input type="text" class="form-control">
                    <small class="form-text text-muted">(mm)</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="validationCustom02">Hardness Range</label>
                <div class="row">
                  <div class="col-md-6 col-xs-6 mb-3">
                    <select class="form-control">
                      <option value>Min</option>
                      <option value="1">1</option>
                    </select>
                  </div>
                  <div class="col-md-6 col-xs-6 mb-3">
                    <select class="form-control">
                      <option value>Max</option>
                      <option value="1">1</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="validationCustom02">Temper Range</label>
                <div class="row">
                  <div class="col-md-6 col-xs-6 mb-3">
                    <select class="form-control">
                      <option value>Max</option>
                      <option value="1">CFRS</option>
                    </select>
                  </div>
                  <div class="col-md-6 col-xs-6 mb-3">
                    <select class="form-control">
                      <option value>Max</option>
                      <option value="1">CFRS</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="validationCustom02">Height</label>
                <input type="text" class="form-control" placeholder="000">
                <small class="form-text text-muted">(mm)</small>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="row mt-3">
            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Coating</label>
                <select class="form-control">
                  <option value>Select Coating</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Defect</label>
                <select class="form-control">
                  <option value>Select Defect</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Origin</label>
                <select class="form-control">
                  <option value>Select Origin</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Oiling</label>
                <select class="form-control">
                  <option value>Select Oiling</option>
                  <option value="1">1</option>
                  <option value="1">2</option>
                  <option value="1">3</option>
                  <option value="1">4</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Surface</label>
                <select class="form-control">
                  <option value>Select Surface</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Annealing</label>
                <select class="form-control">
                  <option value>Select Annealing</option>
                </select>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="row mt-3">
            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Finish</label>
                <select class="form-control">
                  <option value>Select Finish</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Packaging</label>
                <select class="form-control">
                  <option value>Select Packaging</option>
                </select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Gross Wt.</label>
                <input type="text" class="form-control">
                <small class="form-text text-muted">(mt.)</small>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Net Wt.</label>
                <input type="text" class="form-control">
                <small class="form-text text-muted">(mt.)</small>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Other Remarks</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
              </div>
            </div>
  
          </div>
          <button type="submit" class="btn btn-primary" uiSref="work" (click)="save2(validationForm2)">Add More</button>
        </form>
       <div class="m-t-20">
        <!-- <app-add-product-cart></app-add-product-cart> -->
       </div>
        <div class="col-sm-12 centered-content m-t-20">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary btn-sm">Submit</button>
          </div>
        </div>