<div class="row">
    <div class="col-md-12">
      <app-card [hidHeader]="false" cardTitle="Search & View Delivery Order" [options]="false" cardClass="user-profile-list">
        <div #epltable *ngIf="deliveryOrderlist && deliveryOrderlist.length>0" class="dt-responsive table-responsive" cardClass="card-datatable">
          <table id="contentToConvert" datatable class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>DO Id</th>
                <th>DO Type</th>
                <th>Customer Id</th>
                <th>Transporter Id</th>
                <th>Company Id</th>
                <th>Warehouse Id</th>
                <th>Invoice Gr. Wt.</th>
                <th>Invoice Net Wt.</th>
                <th>Date of Creation</th>
                <th>Status</th>
              </tr>                  
            </thead>
            <tbody>
                <tr (click)="navigateToEdit(delivery.deliveryOrderId)" *ngFor="let delivery of deliveryOrderlist ;let i = index">
                  <td>{{i+1}}.</td>
                  <td >DO-{{delivery.deliveryOrderId}}</td>
                  <td>{{delivery.deliveryOrderType}}</td>
                  <td>CU-{{delivery.customerId}}</td>
                  <td>TU-{{delivery.transportId}}</td>
                  <td>{{delivery.sourceCompanyId}}</td>
                  <td>{{delivery.sourceWarehouseId}}</td>
                  <td>{{delivery.invoiceGrossWeight}}</td>
                  <td>{{delivery.invoiceNetWeight}}</td>
                  <td>{{delivery.createdDate | date:'medium'}}</td>
                <td><button type="button" (click)="addDeliveryOrder(delivery)" class="btn btn-icon btn-success"><i class="feather icon-plus"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-card [hidHeader]="false" cardTitle="View Selected Delivery Order Lots" [options]="false"
        cardClass="user-profile-list">
        <div *ngIf="selectdeliveryOrder && selectdeliveryOrder.length>0" class="dt-responsive table-responsive" cardClass="card-datatable">
          <table datatable class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>DO Id</th>
                <th>DO Type</th>
                <th>Customer Id</th>
                <th>Transporter Id</th>
                <th>Company Id</th>
                <th>Warehouse Id</th>
                <th>Invoice Gr. Wt.</th>
                <th>Invoice Net Wt.</th>
                <th>Date of Creation</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let delivery of selectdeliveryOrder ;let i = index">
                <td>{{i+1}}.</td>
                <td>DO-{{delivery.deliveryOrderId}}</td>
                <td>{{delivery.deliveryOrderType}}</td>
                <td>CU-{{delivery.customerId}}</td>
                <td>TU-{{delivery.transportId}}</td>
                <td>{{delivery.sourceCompanyId}}</td>
                <td>{{delivery.sourceWarehouseId}}</td>
                <td>{{delivery.invoiceGrossWeight}}</td>
                <td>{{delivery.invoiceNetWeight}}</td>
                <td>{{delivery.createdDate | date:'medium'}}</td>
                <td>
                  <span class="badge badge-light-success">Approved</span>
                  <div class="overlay-edit">
                <button (click)="removedeliveryOrder(delivery)" type="button" class="btn btn-icon btn-danger" ><i
                  class="feather icon-trash-2"></i></button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </app-card>

    </div>
  </div>
<button type="submit" class="btn btn-success active" (click)="exportToExcel()">Excel</button>&nbsp;
<!-- <button type="submit" class="btn btn-danger active" (click)="print()">Print</button>&nbsp; -->
<button type="submit" class="btn btn-danger active" (click)="exportToPDF()">PDF</button>&nbsp;