<a href="javascript:" class="pop-search"><i class="feather icon-search" (click)="exampleModalCenter.show()"
    data-toggle="modal"></i></a>
<div class="search-bar" *ngIf="isSearch" [style.display]="'block'">
  <input type="text" class="form-control border-0 shadow-none" placeholder="Search hear">
  <button type="button" class="close" aria-label="Close" (click)="isSearch = false">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



<app-ui-modal #exampleModalCenter dialogClass="modal-dialog-centered" [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">Modal Title</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="exampleModalCenter.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-md-3" style="margin-bottom:20px;">
        <select class="form-control" [(ngModel)]="productFilter.productCategory">
          <option value='' disabled>Category</option>
          <option *ngFor="let item of productCategory" [ngValue]="item?.id">{{ item?.productCategory }}</option>
        </select>
      </div>
      <div class="col-md-3">
        <select class="form-control" [(ngModel)]="productFilter.productShape">
          <option value='' disabled>Shape</option>
          <option *ngFor="let item of productShape" [ngValue]="item?.id">{{ item?.productShape }}</option>
        </select>
      </div>
      <div class="col-md-3" style="margin-bottom:20px;">
        <select class="form-control" [(ngModel)]="productFilter.productClass">
          <option value='' disabled>Shape</option>
          <option *ngFor="let item of productClass" [ngValue]="item?.id">{{ item?.productClass }}</option>
        </select>
      </div>
      <div class="col-md-3" style="margin-bottom:20px;">
        <div class="row">
          <div class="col-md-6"><input type="text" placeholder="Net Wt." class="form-control" [(ngModel)]="productFilter.lessThanNtWt"></div>
          <div class="col-md-6"><input type="text" placeholder="Net Wt." class="form-control" [(ngModel)]="productFilter.greaterThanNtWt"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6"><input type="text" placeholder="Thk. Min" class="form-control" [(ngModel)]="productFilter.thicknessMin"></div>
          <div class="col-md-6"><input type="text" placeholder="Thk. Max" class="form-control" [(ngModel)]="productFilter.thicknessMax"></div>
        </div>
      </div>
      <div class="col-md-4" style="margin-bottom:20px;">
        <div class="row">
          <div class="col-md-6"><input type="text" placeholder="Width Min" class="form-control" [(ngModel)]="productFilter.widthMin"></div>
          <div class="col-md-6"><input type="text" placeholder="Width Max" class="form-control" [(ngModel)]="productFilter.widthMax"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6"><input type="text" placeholder="Length Min" class="form-control" [(ngModel)]="productFilter.lengthMin"></div>
          <div class="col-md-6"><input type="text" placeholder="Length Max" class="form-control" [(ngModel)]="productFilter.lengthMax"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12"><span style="float:left;margin-bottom:10px;"><b>Select Temper</b></span></div>
      <div class="col-md-2" style="margin-bottom:15px;text-align:left;" *ngFor="let item of productTemper">
        <input type="checkbox" value="{{item.id}}" [(ngModel)]="item.checked"> {{item.productTemper}}
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-12"><span style="float:left;margin-bottom:10px;"><b>Select Coating</b></span></div>
      <div class="col-md-2" style="margin-bottom:15px;text-align:left;" *ngFor="let item of productCoating">
        <input type="checkbox"> {{ item.productCoating }}
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="col-md-12">
        <span style="float:left;margin-bottom:10px;"><b>Select Finish</b></span>
      </div>
      <div class="col-md-2" style="margin-bottom:15px;text-align:left;" *ngFor="let item of productFinish">
        <input type="checkbox"> {{item.productFinish}}
      </div>
    </div>

  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"
      (click)="exampleModalCenter.hide()">Close</button>
    <button type="button" class="btn btn-primary"
      (click)="getProduct(); exampleModalCenter.hide(); exampleModalCenter1.show()">Save changes</button>
  </div>
</app-ui-modal>

<app-ui-modal #exampleModalCenter1 dialogClass="modal-dialog-centered" [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h5 class="modal-title">Product Cart</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="exampleModalCenter1.hide()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-md-12">
        <app-nav-search-product [productList]="productList"></app-nav-search-product>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal"
      (click)="exampleModalCenter1.hide()">Close</button>

  </div>
</app-ui-modal>
