<div class="row">
    <div class="col-md-5">
      <h5>Key Person 1</h5>
      <hr>
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Full Name <small class="asterik_sign">*</small></label>
          <input type="text" class="form-control" placeholder="Full Name" required>
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Designation <small class="asterik_sign">*</small></label>
          <input type="text" class="form-control" placeholder="Designation" required>
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Mobile <small class="asterik_sign">*</small></label>
          <input type="text" class="form-control" placeholder="Mobile" required>
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Email <small class="asterik_sign">*</small></label>
          <input type="text" class="form-control" placeholder="Email" required>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <h5>Key Person 2</h5>
      <hr>
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Full Name <small class="asterik_sign">*</small></label>
          <input type="text" class="form-control" placeholder="Full Name" required>
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Designation <small class="asterik_sign">*</small></label>
          <input type="text" class="form-control" placeholder="Designation" required>
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Mobile <small class="asterik_sign">*</small></label>
          <input type="text" class="form-control" placeholder="Mobile" required>
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Email <small class="asterik_sign">*</small></label>
          <input type="text" class="form-control" placeholder="Email" required>
        </div>
      </div>
    </div>
  </div>