<form [formGroup]="keyPersonDetails" (submit)="keyPersonDetailSubmit()">
<div class="row">
    <div class="col-md-5">
      <h5 class="bg-clr-head1 p-10 f-14">Key Person 1</h5>
      <hr>
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Full Name <small class="asterik_sign">*</small></label>
          <input formControlName="fullName1" type="text" class="form-control" placeholder="Full Name" >
          <small *ngIf="f.fullName1.value.length==0 && (f.fullName1.dirty || f.fullName1.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
        <small *ngIf="f.fullName1.value.length!=0 && f.fullName1.errors?.minlength  " id="passwordHelpBlock" class="form-text text-muted"
        >Full Name should be more than 2 characters.</small>
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Designation <small class="asterik_sign">*</small></label>
          <input formControlName="designation1"  type="text" class="form-control" placeholder="Designation" >
          <small *ngIf="f.designation1.value.length==0 && (f.designation1.dirty || f.designation1.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
        
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Mobile <small class="asterik_sign">*</small></label>
          <input formControlName="mobile1"  type="text" class="form-control" placeholder="Mobile" >
          <small *ngIf="f.mobile1.value.length==0 && (f.mobile1.dirty || f.mobile1.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
        <small *ngIf="f.mobile1.value.length>0 && f.mobile1.errors?.contactNumberValidation " id="passwordHelpBlock" class="form-text text-muted"
          >This field only accepts 10 or 13 digits.</small>
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Email <small class="asterik_sign">*</small></label>
          <input formControlName="email1"  type="email" class="form-control" placeholder="Email" >
          <small *ngIf="f.email1.value.length==0 && (f.email1.dirty || f.email1.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
        <!-- <small *ngIf="f.email1.value.length>0 && f.email1.errors?.emailValidation " id="passwordHelpBlock" class="form-text text-muted"
          >Please enter valid Email address.</small> -->
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <h5 class="bg-clr-head1 p-10 f-14">Key Person 2</h5>
      <hr>
      <div class="form-row">
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Full Name</label>
          <input formControlName="fullName2"  type="text" class="form-control" placeholder="Full Name" >
          <!-- <small *ngIf="f.fullName2.value.length==0 && (f.fullName2.dirty || f.fullName2.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
        <small *ngIf="f.fullName2.value.length!=0 && f.fullName2.errors?.minlength  " id="passwordHelpBlock" class="form-text text-muted"
        >Full Name should be more than 2 characters.</small> -->
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Designation</label>
          <input formControlName="designation2" type="text" class="form-control" placeholder="Designation" >
          <!-- <small *ngIf="f.designation2.value.length==0 && (f.designation2.dirty || f.designation2.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small> -->
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Mobile</label>
          <input formControlName="mobile2" type="text" class="form-control" placeholder="Mobile" >
          <!-- <small *ngIf="f.mobile2.value.length==0 && (f.mobile2.dirty || f.mobile2.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
        <small *ngIf="f.mobile2.value.length>0 && f.mobile2.errors?.contactNumberValidation " id="passwordHelpBlock" class="form-text text-muted"
          >This field only accepts 10 or 13 digits.</small> -->
        </div>
        <div class="col-md-12 mb-3">
          <label for="validationCustom02">Email</label>
          <input formControlName="email2" type="email" class="form-control" placeholder="Email" >
          <!-- <small *ngIf="f.email2.value.length==0 && (f.email2.dirty || f.email2.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small> -->
        <!-- <small *ngIf="f.email2.value.length>0 && f.email2.errors?.emailValidation " id="passwordHelpBlock" class="form-text text-muted"
          >Please enter valid Email address.</small> -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary btn-sm" (clicl)="keyPersonDetailSubmit()">Continue</button>
          </div>
        </div>
</form>
<!-- [disabled]="keyPersonDetails.status != 'VALID'" -->