<div class="m-t-20">
    <app-add-product-cart 
      [productList]="productList"
      (selectedProductList)= getSelectedList($event)
      [component]="'sales'"
    ></app-add-product-cart>
   </div>
 <div class="m-t-20">
  <app-add-product-cart 
    [productList]="selectedProductList">
  </app-add-product-cart>
 </div>
  <div class="col-sm-12 centered-content m-t-20">
    <div class="btn-group mt-10">
      <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
      <button type="button" class="btn btn-primary btn-sm printBtn" (click)="submitSelectProductData()">Next <i  class="feather icon-arrow-right f-w-600"></i></button>
    </div>
  </div>
