<app-card cardTitle="Create Sales Confirmation" [options]="false">
    <wizard #wizard class="arc-wizard" navBarLayout="large-empty-symbols">
      <wizard-step stepTitle="Select Customer Order Id" navigationSymbol="1">
        <app-select-customer-order-id (outputSelected)="getProductData($event)" ></app-select-customer-order-id>
      </wizard-step>
      <wizard-step stepTitle="Enter Customer Details" navigationSymbol="2">
            <app-enter-customer-details></app-enter-customer-details>
      </wizard-step>
      <wizard-step stepTitle="Customer Order Details" navigationSymbol="3">
        <app-customer-order-details></app-customer-order-details>
      </wizard-step>
      <wizard-step stepTitle="Other Details" navigationSymbol="4">
        <app-other-details> </app-other-details>
      </wizard-step>
    </wizard>
  </app-card>