<app-card cardTitle="Create Tradelead Id" [options]="false">
  <wizard #wizard class="arc-wizard" navBarLayout="large-empty-symbols">
    <wizard-step stepTitle="Create SO Id" navigationSymbol="1">
      <div class="row">
        <div class="col-sm-12">
          <h5>Create Sales Offer Id</h5>
          <hr>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Company Name <small class="asterik_sign">*</small></label>
                <select class="form-control" name="validation-companyName"
                  [ngClass]="{'is-invalid': !companyName.valid && (companyName.dirty || companyName.touched || isSubmit)}"
                  #companyName="ngModel" required [(ngModel)]="formInput.companyName">
                  <option value="0" disabled>Select Company</option>
                  <option value="1">GP Global Energy Pvt Ltd</option>
                  <option value="2">GP Global Asphalt Pvt Ltd</option>
                  <option value="3">GP Global Kimitsu Pvt Ltd</option>
                </select>
                <label *ngIf="!companyName.valid && (companyName.dirty || companyName.touched || isSubmit)"
                  id="validation-companyName-error"
                  class="error jquery-validation-error small form-text invalid-feedback">Company Name should be
                  required.</label>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Warehouse Name <small class="asterik_sign">*</small></label>
                <select class="form-control" name="validation-warehouse"
                  [ngClass]="{'is-invalid': !warehouse.valid && (warehouse.dirty || warehouse.touched || isSubmit)}"
                  #warehouse="ngModel" required [(ngModel)]="formInput.warehouse">
                  <option value="0" disabled>Select Warehouse</option>
                  <option value="1">A-88</option>
                  <option value="2">L-24/25</option>
                  <option value="3">J-18</option>
                  <option value="4">M-67</option>
                  <option value="5">GROWELL</option>
                  <option value="6">PARAMSHAKTI</option>
                </select>
                <label *ngIf="!warehouse.valid && (warehouse.dirty || warehouse.touched || isSubmit)"
                  id="validation-warehouse-error"
                  class="error jquery-validation-error small form-text invalid-feedback">Warehouse should be
                  required.</label>
              </div>
            </div>
           
          </div>
          <div class="row">
            <div class="col-md-5 col-xs-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Product Category <small class="asterik_sign">*</small></label>
                <select class="form-control" name="validation-category"
                  [ngClass]="{'is-invalid': !category.valid && (category.dirty || category.touched || isSubmit)}"
                  #category="ngModel" required [(ngModel)]="formInput.category">
                  <option value="0" disabled>Select Category</option>
                  <option value="1">HR</option>
                  <option value="2">CR</option>
                  <option value="3">GL</option>
                  <option value="4">CC</option>
                  <option value="5">EG</option>
                  <option value="6">TP</option>
                  <option value="7">TFS</option>
                  <option value="8">BP</option>
                  <option value="9">TPL</option>
                  <option value="10">GALVALUM</option>
                  <option value="11">MISPRINT</option>
                  <option value="12">PCRC</option>
                  <option value="13">TFS/LIKER</option>
                  <option value="14">TP/LIKER</option>
                  <option value="15">MIX</option>
                  <option value="16">GA</option>
                  <option value="17">GAJ</option>
                  <option value="18">GI</option>
                  <option value="19">COLOR</option>
                  <option value="20">CR/GA</option>
                  <option value="21">GI/GA</option>
                  <option value="22">CRJ</option>
                  <option value="23">GIJ</option>
                  <option value="24">ALSTER</option>
                  <option value="25">PVC/COLOR</option>
                  <option value="26">PVC&amp;CB</option>
                  <option value="27">BLANK</option>
                  <option value="28">PVC-NON-CB</option>
                  <option value="29">CR/GI</option>
                  <option value="30">NON-CB</option>
                  <option value="31">COLOR-CS</option>
                  <option value="32">MATT</option>
                </select>
                <label *ngIf="!category.valid && (category.dirty || category.touched || isSubmit)"
                  id="validation-category-error"
                  class="error jquery-validation-error small form-text invalid-feedback">Category should be
                  required.</label>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 col-xs-6">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Product Shape <small class="asterik_sign">*</small></label>
                <select class="form-control" name="validation-shape"
                  [ngClass]="{'is-invalid': !shape.valid && (shape.dirty || shape.touched || isSubmit)}" #shape="ngModel"
                  required [(ngModel)]="formInput.shape">
                  <option value="0" disabled>Select User</option>
                  <option value="1">SLC</option>
                  <option value="2">MWC</option>
                  <option value="3">2RC</option>
                  <option value="4">MC</option>
                  <option value="5">SC</option>
                  <option value="6">FAPS</option>
                  <option value="7">BAPS</option>
                  <option value="8">US</option>
                  <option value="9">FASS</option>
                  <option value="11">BASS</option>
                  <option value="12">SHEETS</option>
                  <option value="13">NO</option>
                  <option value="14">SLC / STS</option>
                </select>
                <label *ngIf="!shape.valid && (shape.dirty || shape.touched || isSubmit)" id="validation-shape-error"
                  class="error jquery-validation-error small form-text invalid-feedback">Shape should be required.</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="submit" class="btn btn-primary btn-sm" uiSref="work" (click)="save(validationForm)"
              nextStep>Continue</button>
          </div>
        </div> 
      </div>
    </wizard-step>
    <wizard-step stepTitle="Select Product" navigationSymbol="2">
      <div class="m-t-20">
        <app-add-product-cart></app-add-product-cart>
       </div>
     <div class="m-t-20">
      <app-add-product-cart></app-add-product-cart>
     </div>
      <div class="col-sm-12 centered-content m-t-20">
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-primary btn-sm" nextStep>Continue</button>
        </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Other Details" navigationSymbol="3">
      <form #validationForm="ngForm" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="validationCustom02">Gross Quantity</label>
              <input type="text" class="form-control" placeholder="">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="validationCustom02">Location</label>
              <input type="text" class="form-control" placeholder="">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="validationCustom02">Thickness Range</label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Min">
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Max">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="validationCustom02">Width Range</label>
              <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Min">
                  </div>
                  <div class="col-md-6">
                      <input type="text" class="form-control" placeholder="Max">
                  </div>
                </div>
            </div>
          </div>
        </div>
      </form>
      <div class="col-sm-12 centered-content m-t-20">
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-success btn-sm">Send for Approval</button>
        </div>
      </div>
    </wizard-step>
  </wizard>
</app-card>