<app-card cardTitle="Create Purchase Confirmation" [options]="false">
    <wizard #wizard class="arc-wizard" navBarLayout="large-empty-symbols">
      <wizard-step stepTitle="Select MR Id" navigationSymbol="1">
        <app-mr-list (selectedMrData)="getSelectedMr($event)"></app-mr-list>                                                                                                                                                                                                     
       
       
        <!-- <div class="col-sm-12 centered-content m-t-20">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary btn-sm" nextStep>Next</button>
          </div>
        </div> -->
      </wizard-step>
      <wizard-step stepTitle="Generate PC Id" navigationSymbol="2">
        <h5>Products Under Above Selected MR Id </h5>
        <hr/>
        <div *ngIf="showData">
       <app-add-product-cart [productList]="productList"></app-add-product-cart>
        </div>
        <h5 class="m-t-20">Generate PC Id </h5>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label mt-2">Material Req. Id</label>
                    <div class="col-sm-3">
                        <input type="text" [(ngModel)]="selectedMrId" class="form-control" id="inputEmail3" placeholder="" disabled>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit"  (click)="generatePcId()" class="btn btn-success primary btn-sm">Generate PC Id</button>
        <label>Your PC id is :{{generatedPcId}}</label>
        <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary btn-sm" (click)="submitGeneratedPcId()">Continue</button>
          </div>
        </div>
      </wizard-step>
      <wizard-step stepTitle="Transport Details" navigationSymbol="3">
        <h5>Enter Transport Details </h5>
        <hr/>
        <app-transport-details (transportData)="getTransportData($event)"></app-transport-details>
        
      </wizard-step>
      <!-- (click)="savePcRecord()" -->
      
    </wizard>
  </app-card>