<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Add Price" [options]="false">
      <form #validationForm="ngForm" class="editForm" novalidate [formGroup]="priceForm" (ngSubmit)="priceOnSubmit()">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="f-12" for="exampleFormControlSelect1">Product Type <small
                  class="asterik_sign">*</small></label>
              <fieldset formGroupName="productCategory">
                <select (change)="setValue($event,'productCategory')" formControlName="id" class="form-control"
                  id="exampleFormControlSelect1">
                  <option value='' disabled>Select</option>
                  <option *ngFor="let item of productCategoryList" [value]="item?.id">{{ item?.productCategory }}
                  </option>
                </select>
              </fieldset>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="f-12" for="exampleFormControlSelect1">Product Category <small
                  class="asterik_sign">*</small></label>
              <fieldset formGroupName="productCategory">
                <select (change)="setValue($event,'productCategory')" formControlName="id" class="form-control"
                  id="exampleFormControlSelect1">
                  <option value='' disabled>Select</option>
                  <option *ngFor="let item of productCategoryList" [value]="item?.id">{{ item?.productCategory }}
                  </option>
                </select>
              </fieldset>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="f-12" for="exampleFormControlSelect1">Product Shape <small
                  class="asterik_sign">*</small></label>
              <fieldset formGroupName="productCategory">
                <select (change)="setValue($event,'productCategory')" formControlName="id" class="form-control"
                  id="exampleFormControlSelect1">
                  <option value='' disabled>Select</option>
                  <option *ngFor="let item of productCategoryList" [value]="item?.id">{{ item?.productCategory }}
                  </option>
                </select>
              </fieldset>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="f-12" for="exampleFormControlSelect1">Product Class <small
                  class="asterik_sign">*</small></label>
              <fieldset formGroupName="productCategory">
                <select (change)="setValue($event,'productCategory')" formControlName="id" class="form-control"
                  id="exampleFormControlSelect1">
                  <option value='' disabled>Select</option>
                  <option *ngFor="let item of productCategoryList" [value]="item?.id">{{ item?.productCategory }}
                  </option>
                </select>
              </fieldset>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="f-12" for="validationCustom02">Thickness Range (mm) <small
                class="asterik_sign">*</small></label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Min" formControlName="thicknessMin">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Max" formControlName="thicknessMax">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="f-12" for="validationCustom02">Width Range (mm) <small
                class="asterik_sign">*</small></label>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Min" formControlName="widthMin">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Max" formControlName="widthMax">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="f-12 dash" for="validationCustom02">Temper Range<small
                  class="asterik_sign">*</small></label>
              <div class="row">
                <div class="col-md-6 col-6 mb-3">
                  <fieldset formGroupName="temperMin">
                    <select (change)="setValueTwoField($event,'temperMin','productTemper')" formControlName="id"
                      class="form-control" id="exampleFormControlSelect1">
                      <option value='' disabled>Min</option>
                      <option *ngFor="let item of productTemperList" [value]="item?.id">{{ item?.productTemper }}
                      </option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-md-6 col-6 mb-3">
                  <fieldset formGroupName="temperMax">
                    <select (change)="setValueTwoField($event,'temperMax','productTemper')" formControlName="id"
                      class="form-control" id="exampleFormControlSelect1">
                      <option value='' disabled>Max</option>
                      <option *ngFor="let item of productTemperList" [value]="item?.id">{{ item?.productTemper }}
                      </option>
                    </select>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="f-12" for="exampleFormControlSelect1">Coating <small
                class="asterik_sign">*</small></label>
                <fieldset formGroupName="productCoating">
                  <select (change)="setValue($event,'productCoating')" formControlName="id" class="form-control"
                    id="exampleFormControlSelect1">
                    <option value='' disabled>Select</option>
                    <option *ngFor="let item of productCoatingList" [value]="item?.id">{{ item?.productCoating }}</option>
                  </select>
                </fieldset>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label class="f-12" for="exampleFormControlSelect1">Finish <small
                class="asterik_sign">*</small></label>
            
              <fieldset formGroupName="productFinish">
                <select (change)="setValue($event,'productFinish')" formControlName="id" class="form-control"
                  id="exampleFormControlSelect1">
                  <option value='' disabled>Select</option>
                  <option *ngFor="let item of productFinishList" [value]="item?.id">{{ item?.productFinish }}</option>
                </select>
              </fieldset>
            </div>
          </div>
          <div class="col-md-2">
            <label class="f-12" for="validationCustom02">Price (Mt.)</label>
            <div class="input-group mb-3"> 
              <div class="input-group-prepend" >
                <select formControlName="" class="form-control">
                <option value="" selected>&#8377;</option>
                <option value="">	&#36;</option>
                <option value="">	&euro;</option>
              </select>
              </div>
              <input type="text" class="form-control" placeholder="Price" formControlName="price">
              <small class="form-text text-muted"></small>
            </div>
            <!-- <div class="form-group">
              <input type="text" class="form-control" placeholder="Enter Price" formControlName="price">
              <small class="form-text text-muted">(/mt.)</small>
            </div> -->
          </div>
        </div>
        <div class="text-right"> 
          <button type="submit" class="btn btn-primary active btn-sm printBtn"><i  class="feather icon-plus f-w-600"></i> Add More</button>
        </div>
      </form>
    </app-card>
    <app-card [hidHeader]="false" cardTitle="View Price List" [options]="false" cardClass="user-profile-list">
      <div class="dt-responsive table-responsive" cardClass="card-datatable">
        <table datatable class="table table-striped table-xs table-hover text-center">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Type</th>
              <th>Category</th>
              <th>Shape</th>
              <th>Class</th>
              <th>Thck. Range <span class="d-block">(mm)</span></th>
              <th>Width Range <span class="d-block">(mm)</span></th>
              <th>Temper Range </th>
              <th>Coating</th>
              <th>Finish</th>
              <th>Price <span class="d-block">(Mt.)</span></th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of priceList; index as i">
              <td>{{ i + 1}}</td>
              <td>Dummy</td>
              <td>{{ item.productCategory.productCategory }}</td>
              <td>Dummy</td>
              <td>Dummy</td>
              <td>{{ item.thicknessMin + ' - ' + item.thicknessMax }}</td>
              <td>{{ item.widthMin + ' - ' + item.widthMax }}</td>
              <td>{{ item.temperMin.productTemper + ' - ' + item.temperMax.productTemper }}</td>
              <td>{{item.productCoating.productCoating }}</td>
              <td>Dummy</td>
              <td>{{ item.price }}</td>
              <td>
                <button type="button" class="btn btn-icon btn-danger btn-sm"><i
                    class="feather icon-trash-2" (click)="deletePrice(item.id)"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
