<div class="row">
  <!-- site Analytics card start -->
  <div class="col-xl-12 col-sm-12">
    <!-- <h3 class="mb-3">Purchase Details</h3> -->
    <div class="row">
      <div class="col-sm-3">
        <app-card [hidHeader]="false" cardTitle="Material Requirement" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true"
          footerClass="bg-primary text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>{{totalMRCount}}</span></li>
                <li>Products Net Wt. <span>{{totalMRCountWt}} Mt.</span></li>
                <!-- <li>Number of Coils <span>22</span></li> -->
                <!-- <li>Number of Bundles <span>99</span></li> -->
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center">
              <div (click)="getAllPurchaseByTypeAndStatus('MATERIAL_REQURIMENT','APPROVED')" class="col p-1">
                <h5 class="m-0 text-white">{{approvedMRCount}}</h5>
                <span>Registered</span>
              </div>
              <div (click)="getAllPurchaseByTypeAndStatus('MATERIAL_REQURIMENT','PENDING')" class="col p-1">
                <h5 class="m-0 text-white">{{pendingMRCount}}</h5>
                <span>Pending</span>
              </div>
              <div (click)="getAllPurchaseByTypeAndStatus('MATERIAL_REQURIMENT','REJECTED')" class="col p-1">
                <h5 class="m-0 text-white">{{rejectedMRCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-3">
        <app-card [hidHeader]="false" cardTitle="Purchase Order" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true"
          footerClass="bg-danger text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>{{totalPOCount}}</span></li>
                <li>Products Net Wt. <span>{{totalPOCountWt}} Mt.</span></li>
                <!-- <li>Number of Coils <span>22</span></li> -->
                <!-- <li>Number of Bundles <span>99</span></li> -->
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center">
              <div (click)="getAllPurchaseByTypeAndStatus('PURCHASE_ORDER','APPROVED')" class="col p-1">
                <h5 class="m-0 text-white">{{approvedPOCount}}</h5>
                <span>Registered</span>
              </div>
              <div (click)="getAllPurchaseByTypeAndStatus('PURCHASE_ORDER','PENDING')" class="col p-1">
                <h5 class="m-0 text-white">{{pendingPOCount}}</h5>
                <span>Pending</span>
              </div>
              <div (click)="getAllPurchaseByTypeAndStatus('PURCHASE_ORDER','REJECTED')" class="col p-1">
                <h5 class="m-0 text-white">{{rejectedPOCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>

      <div class="col-sm-3">
        <app-card [hidHeader]="false" cardTitle="Purchase Confirmation" cardClass="support-bar overflow-hidden" blockClass="p-0"
          [isCardFooter]="true" footerClass="bg-success text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>{{totalPCCount}}</span></li>
                <li>Products Net Wt. <span>{{totalPCCountWt}} Mt.</span></li>
                <!-- <li>Number of Coils <span>22</span></li> -->
                <!-- <li>Number of Bundles <span>99</span></li> -->
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center">
              <div (click)="getAllPurchaseByTypeAndStatus('PURCHASE_CONFIRMATION','APPROVED')" class="col p-1">
                <h5 class="m-0 text-white">{{approvedPCCount}}</h5>
                <span>Registered</span>
              </div>
              <div (click)="getAllPurchaseByTypeAndStatus('PURCHASE_CONFIRMATION','PENDING')" class="col p-1">
                <h5 class="m-0 text-white">{{pendingPCCount}}</h5>
                <span>Pending</span>
              </div>
              <div (click)="getAllPurchaseByTypeAndStatus('PURCHASE_CONFIRMATION','REJECTED')" class="col p-1">
                <h5 class="m-0 text-white">{{rejectedPCCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-3">
        <app-card [hidHeader]="false" cardTitle="Purchase Lot" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true"
          footerClass="bg-warning text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>{{totalPLCount}}</span></li>
                <li>Products Net Wt. <span>{{totalPLCountWt}} Mt.</span></li>
                <!-- <li>Number of Coils <span>22</span></li> -->
                <!-- <li>Number of Bundles <span>99</span></li> -->
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center">
              <div (click)="getAllPurchaseByTypeAndStatus('LOT','APPROVED')" class="col p-1">
                <h5 class="m-0 text-white">{{approvedPLCount}}</h5>
                <span>Registered</span>
              </div>
              <div (click)="getAllPurchaseByTypeAndStatus('LOT','PENDING')" class="col p-1">
                <h5 class="m-0 text-white">{{pendingPLCount}}</h5>
                <span>Pending</span>
              </div>
              <div (click)="getAllPurchaseByTypeAndStatus('PURCHASE_CONFIRMATION','REJECTED')" class="col p-1">
                <h5 class="m-0 text-white">{{rejectedPLCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>

  <!-- site Analytics card end -->

  <!-- project and team member start -->
  <div class="col-xl-12 col-md-12">
    <app-card cardTitle="Latest Purchase Details" cardClass="table-card" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th> ID</th>
              <th> Title</th>
              <th>Category</th>
              <th>Shape</th>
              <th>Company ID</th>
              <th>Warehouse ID</th>
              <th>Date of Creation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let mr of purchaseList;let i = index">
              <td>{{i+1}}</td>
              <td *ngIf="selectedType=='MATERIAL_REQUIREMENT'">{{Ids.MATERIAL_REQUIREMENT + '-' + mr.id}}</td>
              <td *ngIf="selectedType=='PURCHASE_CONFIRMATION'">{{Ids.PURCHASE_CONFIRMATION + '-' + mr.id}}</td>
              <td *ngIf="selectedType=='LOT'">{{Ids.LOT + '-' + mr.id}}</td>
              <td *ngIf="selectedType=='PURCHASE_ORDER'">PO-{{mr.id}}</td>

              <td>{{mr.title}}</td>
              <td>{{mr.productCategory}}</td>
              <td>{{mr.productShape}}</td>
              <td>{{mr.sourceCompanyId}}</td>
              <td>{{mr.sourceWarehouseId}}</td>
              <td>{{mr.purchaseHistory[0].createdDate | date: 'short'}}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  <!-- <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Latest Updates" cardClass="latest-update-card">
      <div class="latest-update-box">
        <div class="row p-t-30 p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 hrs ago</p>
            <i class="feather icon-twitter bg-twitter update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 1652 Followers</h6>
            </a>
            <p class="text-muted m-b-0">You’re getting more and more followers, keep it up!</p>
          </div>
        </div>
        <div class="row p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">4 hrs ago</p>
            <i class="feather icon-briefcase bg-c-red update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 5 New Products were added!</h6>
            </a>
            <p class="text-muted m-b-0">Congratulations!</p>
          </div>
        </div>
        <div class="row p-b-0">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 day ago</p>
            <i class="feather icon-facebook bg-facebook update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+1 Friend Requests</h6>
            </a>
            <p class="text-muted m-b-10">This is great, keep it up!</p>
            <div class="table-responsive">
              <table class="table table-hover">
                <tr>
                  <td class="b-none">
                    <a href="javascript:" class="align-middle">
                      <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                      <div class="d-inline-block">
                        <h6>Jeny William</h6>
                        <p class="text-muted m-b-0">Graphic Designer</p>
                      </div>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="javascript:" class="b-b-primary text-primary">View all Projects</a>
      </div>
    </app-card>
  </div>-->
  <!-- project and team member end -->





</div>