<div class="row">
  <div class="col-md-12">
          <button type="button" (click)="basicSwal()" class="btn btn-primary btn-sm btn-rounded" style="margin: 45px 0px 10px;float:right;">Change Processing Type</button>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
      <!-- <button (click)="basicSwal()"></button> -->
      <app-card #epltable [hidHeader]="false" cardTitle="Search & Select Processing Id " [options]="false"
        cardClass="user-profile-list">
        <app-processing-list
          [processingType]="processingType" 
          [productProcessingList]="productProcessingList"
          (selectedList)="getSelectedProductList($event)"> 
        </app-processing-list>

      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-card [hidHeader]="false" cardTitle="View Above Selected Processing Id" [options]="false"
        cardClass="user-profile-list">
        <app-processing-list
          [cart]="true"
          [productProcessingList]="selectedProcessingList"
          (selectedList)="getSelectedProductList($event)">
        </app-processing-list>

      </app-card>
  
    </div>
  </div>
<button type="submit" class="btn btn-success active" (click)="exportToExcel()">Excel</button>&nbsp;
<!-- <button type="submit" class="btn btn-danger active" (click)="print()">Print</button>&nbsp; -->
<button type="submit" class="btn btn-danger active" (click)="exportToPDF()">PDF</button>&nbsp;