<app-card cardTitle="Create Loading Slip" [options]="false">
  <wizard #wizard class="arc-wizard" navBarLayout="large-empty-symbols">
    <wizard-step stepTitle="Create Sales Invoice" navigationSymbol="1">
      <div *ngIf="salesList"class="dt-responsive table-responsive" cardClass="card-datatable">
        <table datatable class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
                <th>Sr. No.</th>
                <th>SC Id</th>
                <th>SC Type</th>
                <th>Category</th>
                <th>Shape</th>
                <th>Customer Id</th>
                <th>Transporter Id</th>
                <th>Date of Creation</th>
                <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of salesList; let i = index">
                <td>{{i+1}}</td>
                <td>SC-{{item.id}}</td>
                <td>{{item.type}}</td>
                <td>{{item.productCategory}}</td>
                <td>{{item.productShape}}</td>
                <td>CU-{{item.customerId}}</td>
                <td>TR-{{item.transportId}}</td>
                <td>{{item.dalesHistory?.createdDate | date: 'medium'}}</td>
              <td>
                <!-- <span class="badge badge-light-success">Approved</span> -->
                <div class="overlay-edit">
                  <button type="button" class="btn btn-icon btn-success" (click)="addSelectedId(item)" ><i class="feather icon-check-circle"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <h5>Your selected Sales Invoioce Id :{{selectedInvoiceId}}</h5>
      </div>
      <div class="col-sm-12 centered-content m-t-20">
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-primary btn-sm" (click)="moveToSecondStep()">Continue</button>
        </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Add Kata Weight" navigationSymbol="2">
      <form [formGroup]="SelectLsForm" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Select Loading Slip Id<small class="asterik_sign">*</small></label>
              <div class="col-sm-6">
                  <select class="form-control" formControlName="deliveryOrderId">
                      <option value="" disabled>Select Id</option>
                      <option *ngFor="let item of deliveryOrderList" [value]="item.deliveryOrderId">DI-{{item.deliveryOrderId}}</option>
                    </select>
                    <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
                    <small *ngIf="f.deliveryOrderId.value == '' && (f.deliveryOrderId.dirty || f.deliveryOrderId.touched)"
              id="validation-companyName-error"
              class="form-text text-muted">
              This field should be required.
            </small>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="col-sm-12 centered-content">
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
          <button type="submit" class="btn btn-primary btn-sm" uiSref="work" (click)="moveTothirdStep()">Continue</button>
        </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="View Product" navigationSymbol="3">
      <app-add-product-cart></app-add-product-cart>
      <div class="col-sm-12 centered-content m-t-20">
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
          <a type="submit" class="btn btn-success active" routerLink="../generateInvoice">Generate Invoice</a>
        </div>
      </div>
    </wizard-step>
  </wizard>
</app-card>