<div class="row">
          <div class="col-sm-12">
            <h5>Create Material Requirement Id</h5>
            <hr>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Company Name <small class="asterik_sign">*</small></label>
                  <select class="form-control" name="validation-companyName">
                    <option value="0" disabled>Select Company</option>
                    <option value="1">GP Global Energy Pvt Ltd</option>
                    <option value="2">GP Global Asphalt Pvt Ltd</option>
                    <option value="3">GP Global Kimitsu Pvt Ltd</option>
                  </select>
                  <!-- <label *ngIf="!companyName.valid && (companyName.dirty || companyName.touched || isSubmit)"
                    id="validation-companyName-error"
                    class="error jquery-validation-error small form-text invalid-feedback">Company Name should be
                    required.</label> -->
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Warehouse Name <small class="asterik_sign">*</small></label>
                  <select class="form-control" name="validation-warehouse">
                    <option value="0" disabled>Select Warehouse</option>
                    <option value="1">A-88</option>
                    <option value="2">L-24/25</option>
                    <option value="3">J-18</option>
                    <option value="4">M-67</option>
                    <option value="5">GROWELL</option>
                    <option value="6">PARAMSHAKTI</option>
                  </select>
                  <!-- <label *ngIf="!warehouse.valid && (warehouse.dirty || warehouse.touched || isSubmit)"
                    id="validation-warehouse-error"
                    class="error jquery-validation-error small form-text invalid-feedback">Warehouse should be
                    required.</label> -->
                </div>
              </div>
             
            </div>
            <div class="row">
              <div class="col-md-5 col-xs-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Product Category <small class="asterik_sign">*</small></label>
                  <select class="form-control" name="validation-category">
                    <option value="0" disabled>Select Category</option>
                    <option value="1">HR</option>
                    <option value="2">CR</option>
                    <option value="3">GL</option>
                    <option value="4">CC</option>
                    <option value="5">EG</option>
                    <option value="6">TP</option>
                    <option value="7">TFS</option>
                    <option value="8">BP</option>
                    <option value="9">TPL</option>
                    <option value="10">GALVALUM</option>
                    <option value="11">MISPRINT</option>
                    <option value="12">PCRC</option>
                    <option value="13">TFS/LIKER</option>
                    <option value="14">TP/LIKER</option>
                    <option value="15">MIX</option>
                    <option value="16">GA</option>
                    <option value="17">GAJ</option>
                    <option value="18">GI</option>
                    <option value="19">COLOR</option>
                    <option value="20">CR/GA</option>
                    <option value="21">GI/GA</option>
                    <option value="22">CRJ</option>
                    <option value="23">GIJ</option>
                    <option value="24">ALSTER</option>
                    <option value="25">PVC/COLOR</option>
                    <option value="26">PVC&amp;CB</option>
                    <option value="27">BLANK</option>
                    <option value="28">PVC-NON-CB</option>
                    <option value="29">CR/GI</option>
                    <option value="30">NON-CB</option>
                    <option value="31">COLOR-CS</option>
                    <option value="32">MATT</option>
                  </select>
                  <!-- <label *ngIf="!category.valid && (category.dirty || category.touched || isSubmit)"
                    id="validation-category-error"
                    class="error jquery-validation-error small form-text invalid-feedback">Category should be
                    required.</label> -->
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5 col-xs-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Product Shape <small class="asterik_sign">*</small></label>
                  <select class="form-control" name="validation-shape">
                    <option value="0" disabled>Select User</option>
                    <option value="1">SLC</option>
                    <option value="2">MWC</option>
                    <option value="3">2RC</option>
                    <option value="4">MC</option>
                    <option value="5">SC</option>
                    <option value="6">FAPS</option>
                    <option value="7">BAPS</option>
                    <option value="8">US</option>
                    <option value="9">FASS</option>
                    <option value="11">BASS</option>
                    <option value="12">SHEETS</option>
                    <option value="13">NO</option>
                    <option value="14">SLC / STS</option>
                  </select>
                  <!-- <label *ngIf="!shape.valid && (shape.dirty || shape.touched || isSubmit)" id="validation-shape-error"
                    class="error jquery-validation-error small form-text invalid-feedback">Shape should be required.</label> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 centered-content">
            <div class="btn-group mt-10">
              <button type="submit" class="btn btn-primary btn-sm printBtn" uiSref="work" nextStep>Next <i  class="feather icon-arrow-right f-w-600"></i></button>
            </div>
          </div>
        </div>