<div class="row">
  <div class="col-md-12">
    <app-card [hidHeader]="true" cardClass="tab-card">
      <h5 class="mb-3">User Approval System</h5>
      <ngb-tabset (tabChange)="onTabChange($event)" type="pills">
        <ngb-tab title="Pending" id="pendingTab">
          <ng-template ngbTabContent>
            <div *ngIf="pendingUserList" class="dt-responsive table-responsive" cardClass="card-datatable">
              <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Sr. No.</th>
                    <th>User Id</th>
                    <th>User Type</th>
                    <th>Name</th>
                    <th>Company Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Date of Creation</th>
                    <th>Last Modified Date</th>
                    <!-- <th>Created By</th>
                    <th>Last Modified By</th> -->
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr href="kdkd" *ngFor="let user of pendingUserList;let i = index">
                    <td><label class="badge badge-warning">{{user.status}}</label></td>
                    <td>{{i+1}}</td>
                    <td *ngIf="selectedRole === 'CUSTOMER'" (click)="goToView(user)">{{Ids.CUSTOMER + '-' + user.userDetialId}}</td>
                    <td *ngIf="selectedRole === 'SUPPLIER'" (click)="goToView(user)">{{Ids.SUPPLIER + '-' + user.userDetialId}}</td>
                    <td *ngIf="selectedRole === 'AGENT'" (click)="goToView(user)">{{Ids.AGENT + '-' + user.userDetialId}}</td>
                    <td *ngIf="selectedRole === 'CONTRACTOR'" (click)="goToView(user)">{{Ids.CONTRACTOR + '-' + user.userDetialId}}</td>
                    <td *ngIf="selectedRole === 'TRANSPORTER'" (click)="goToView(user)">{{Ids.TRANSPORTER + '-' + user.userDetialId}}</td>
                    <td>{{user.userRole}}</td>
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.businessDetails[0]?.companyName}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.emailId}}</td>
                    <td>{{user.businessDetails[0]?.address1}}</td>
                    <td>{{user.createdDate | date: 'medium'}}</td>
                    <!-- <td>{{user.createdBy}}</td> -->
                    <td>{{user.lastModifiedDate | date: 'medium' }}</td>
                    <!-- <td>{{user.lastModifiedBy}}</td> -->
                    <td>

                      <div class="overlay-edit">
                        <button (click)="selectUser(user)" type="button" class="btn btn-icon btn-success"><i
                            class="feather icon-plus"></i></button>

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Approved" id="approvedTab">
          <ng-template ngbTabContent>
            <div *ngIf="approvedUserList" class="dt-responsive table-responsive" cardClass="card-datatable">
              <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Sr. No.</th>
                    <th>User Id</th>
                    <th>User Type</th>
                    <th>Name</th>
                    <th>Company Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Date of Creation</th>
                    <th>Last Modified Date</th>
                    <th>
                      Action
                    </th>
                    <!-- <th>Created By</th>
                    <th>Last Modified By</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr href="kdkd" *ngFor="let user of approvedUserList;let i = index">
                    <td><label class="badge badge-success">{{user.status}}</label></td>
                    <td>{{i+1}}</td>
                    <td *ngIf="selectedRole === 'CUSTOMER'" (click)="goToView(user)">{{Ids.CUSTOMER + '-' + user.userDetialId}}</td>
                    <td *ngIf="selectedRole === 'SUPPLIER'" (click)="goToView(user)">{{Ids.SUPPLIER + '-' + user.userDetialId}}</td>
                    <td *ngIf="selectedRole === 'AGENT'" (click)="goToView(user)">{{Ids.AGENT + '-' + user.userDetialId}}</td>
                    <td *ngIf="selectedRole === 'CONTRACTOR'" (click)="goToView(user)">{{Ids.CONTRACTOR + '-' + user.userDetialId}}</td>
                    <td *ngIf="selectedRole === 'TRANSPORTER'" (click)="goToView(user)">{{Ids.TRANSPORTER + '-' + user.userDetialId}}</td>
                    <td>{{user.userRole}}</td>
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.businessDetails[0]?.companyName}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.emailId}}</td>
                    <td>{{user.businessDetails[0]?.address1}}</td>
                    <td>{{user.createdDate | date: 'medium'}}</td>
                    <!-- <td>{{user.createdBy}}</td> -->
                    <td>{{user.lastModifiedDate | date: 'medium'}}</td>
                    <!-- <td>{{user.lastModifiedBy}}</td> -->
                    <td>

                      <div class="overlay-edit">
                        <button (click)="selectUser(user)" type="button" class="btn btn-icon btn-success"><i
                            class="feather icon-check-circle"></i></button>

                      </div>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Rejected" id="rejectedTab">
          <ng-template ngbTabContent>
            <div *ngIf="rejectedUserList" class="dt-responsive table-responsive" cardClass="card-datatable">
              <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Sr. No.</th>
                    <th>User Id</th>
                    <th>User Type</th>
                    <th>Name</th>
                    <th>Company Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Date of Creation</th>
                    <th>Last Modified Date</th>
                    <th>
                      Action
                    </th>
                    <!-- <th>Created By</th>
                    <th>Last Modified By</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr href="kdkd" *ngFor="let user of rejectedUserList;let i = index">
                    <td><label class="badge badge-danger">{{user.status}}</label></td>
                    <td>{{i+1}}</td>
                    <td *ngIf="selectedRole === 'CUSTOMER'" (click)="goToView(user)">{{Ids.CUSTOMER + '-' + user.userDetialId}}</td>
                    <td *ngIf="selectedRole === 'SUPPLIER'" (click)="goToView(user)">{{Ids.SUPPLIER + '-' + user.userDetialId}}</td>
                    <td *ngIf="selectedRole === 'AGENT'" (click)="goToView(user)">{{Ids.AGENT + '-' + user.userDetialId}}</td>
                    <td *ngIf="selectedRole === 'CONTRACTOR'" (click)="goToView(user)">{{Ids.CONTRACTOR + '-' + user.userDetialId}}</td>
                    <td *ngIf="selectedRole === 'TRANSPORTER'" (click)="goToView(user)">{{Ids.TRANSPORTER + '-' + user.userDetialId}}</td>
                    <td>{{user.userRole}}</td>
                    <td>{{user.firstName}} {{user.lastName}}</td>
                    <td>{{user.businessDetails[0]?.companyName}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.emailId}}</td>
                    <td>{{user.businessDetails[0]?.address1}}</td>
                    <td>{{user.createdDate | date: 'medium'}}</td>
                    <!-- <td>{{user.createdBy}}</td> -->
                    <td>{{user.lastModifiedDate | date: 'medium'}}</td>
                    <!-- <td>{{user.lastModifiedBy}}</td> -->
                    <td>

                      <div class="overlay-edit">
                        <button (click)="selectUser(user)" type="button" class="btn btn-icon btn-success"><i
                            class="feather icon-check-circle"></i></button>

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>
      <!-- (click)="rejectSelected" -->

    </app-card>
  </div>
</div>





<div class="row">
  <div class="col-md-12">
    <app-card [hidHeader]="false" cardTitle="Take action on above Selected Users" [options]="false"
      cardClass="user-profile-list">
      <div class="dt-responsive table-responsive" cardClass="card-datatable">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Status</th>
              <th>Sr. No.</th>
              <th>User Id</th>
              <th>User Type</th>
              <th>Name</th>
              <th>Company Name</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Location</th>
              <th>Date of Creation</th>
              <th>Last Modified Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr href="kdkd" *ngFor="let user of selectedUserList;let i = index">
              <td><label class="badge badge-default">{{user.status}}</label></td>
              <td>{{i+1}}</td>
              <td *ngIf="selectedRole === 'CUSTOMER'" (click)="goToView(user)">{{Ids.CUSTOMER + '-' + user.userDetialId}}</td>
              <td *ngIf="selectedRole === 'SUPPLIER'" (click)="goToView(user)">{{Ids.SUPPLIER + '-' + user.userDetialId}}</td>
              <td *ngIf="selectedRole === 'AGENT'" (click)="goToView(user)">{{Ids.AGENT + '-' + user.userDetialId}}</td>
              <td *ngIf="selectedRole === 'CONTRACTOR'" (click)="goToView(user)">{{Ids.CONTRACTOR + '-' + user.userDetialId}}</td>
              <td *ngIf="selectedRole === 'TRANSPORTER'" (click)="goToView(user)">{{Ids.TRANSPORTER + '-' + user.userDetialId}}</td>
              <td>{{user.userRole}}</td>
              <td>{{user.firstName}} {{user.lastName}}</td>
              <td>{{user.businessDetails[0]?.companyName}}</td>
              <td>{{user.mobile}}</td>
              <td>{{user.emailId}}</td>
              <td>{{user.businessDetails[0]?.address1}}</td>
              <td>{{user.createdDate | date:"medium"}}</td>
              <td>{{user.lastModifiedDate | date:"medium"}}</td>
              <td>

                <div class="overlay-edit">
                  <button (click)="removeUser(user)" type="button" class="btn btn-icon btn-danger"><i
                      class="feather icon-trash-2"></i></button>

                </div>
              </td>
            </tr>

          </tbody>

        </table>
      </div>
    </app-card>

  </div>
</div>


<div class="col-sm-12 centered-content m-t-20">
  <div class="btn-group mt-10">
    <button (click)="changeStatusOfSelectedUser('APPROVED')" *ngIf="selectedTab=='PENDING' || selectedTab =='REJECTED'"
      type="button" class="btn btn-success active">Approve</button>&nbsp;
    <button (click)="changeStatusOfSelectedUser('REJECTED')" *ngIf="selectedTab=='PENDING' || selectedTab =='APPROVED'"
      type="button" class="btn btn-danger active">Reject</button>&nbsp;

  </div>
</div>
