<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Select Details To Create Lot ID" [options]="false">
      <form #validationForm="ngForm" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Supplier Id <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-3">
                <select class="form-control" name="validation-supplierId"
                  [ngClass]="{'is-invalid': !supplierId.valid && (supplierId.dirty || supplierId.touched || isSubmit)}"
                  #supplierId="ngModel" required [(ngModel)]="formInput.supplierId">
                  <option value>Id</option>
                  <option value="1">SU-#121</option>
                  <option value="2">SU-#564</option>
                  <option value="3">SU-#754</option>
                </select>
                <label *ngIf="!supplierId.valid && (supplierId.dirty || supplierId.touched || isSubmit)"
                  id="validation-supplierId-error"
                  class="error jquery-validation-error small form-text invalid-feedback">required.</label>
              </div>
              <div class="col-sm-5">
                <select class="form-control" name="validation-pcId">
                  <option value> Name</option>
                  <option value="1">Kamles</option>
                  <option value="2">Rajinder</option>
                  <option value="3">Diljeet</option>
                  <option value="4">Mannu</option>
                  <option value="5">Amjad</option>
                </select>
                <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Company Id <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-3">
                <select class="form-control" name="validation-companyId"
                  [ngClass]="{'is-invalid': !companyId.valid && (companyId.dirty || companyId.touched || isSubmit)}"
                  #companyId="ngModel" required [(ngModel)]="formInput.companyId">
                  <option value>Id</option>
                  <option value="1">COMP-1</option>
                  <option value="2">COMP-2</option>
                  <option value="3">COMP-3</option>
                  <option value="4">COMP-4</option>
                </select>
                <label *ngIf="!companyId.valid && (companyId.dirty || companyId.touched || isSubmit)"
                  id="validation-companyId-error"
                  class="error jquery-validation-error small form-text invalid-feedback">required.</label>
              </div>
              <div class="col-sm-5">
                <select class="form-control" name="validation-pcId">
                  <option value> Name</option>
                  <option value="1">GP Global Energy</option>
                  <option value="1">GP Global Asphalt</option>
                  <option value="1">GP Global Kimitsu</option>
                </select>
                <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Lot Type<small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-8">
                <select class="form-control" name="validation-lotType"
                  [ngClass]="{'is-invalid': !lotType.valid && (lotType.dirty || lotType.touched || isSubmit)}"
                  #lotType="ngModel" required [(ngModel)]="formInput.lotType">
                  <option value> Select</option>
                  <option value="1">Without Purchase Invoice</option>
                  <option value="2">Job Work Other</option>
                </select>
                <label *ngIf="!lotType.valid && (lotType.dirty || lotType.touched || isSubmit)"
                  id="validation-lotType-error"
                  class="error jquery-validation-error small form-text invalid-feedback">required.</label>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Warehouse Id <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-3">
                  <select class="form-control" name="validation-warId"
                  [ngClass]="{'is-invalid': !warId.valid && (warId.dirty || warId.touched || isSubmit)}"
                  #warId="ngModel" required [(ngModel)]="formInput.warId">
                  <option value>Id</option>
                  <option value="1">WAR-1</option>
                  <option value="1">WAR-2</option>
                  <option value="1">WAR-3</option>
                  <option value="1">WAR-4</option>
                  <option value="1">WAR-5</option>
                </select>
                <label *ngIf="!warId.valid && (warId.dirty || warId.touched || isSubmit)"
                id="validation-warId-error"
                class="error jquery-validation-error small form-text invalid-feedback">required.</label>
              </div>
              <div class="col-sm-5">
                <select class="form-control" name="validation-pcId">
                  <option value> Name</option>
                  <option value="1">A-88</option>
                  <option value="2">L-24/25</option>
                  <option value="3">J-18</option>
                  <option value="4">M-67</option>
                  <option value="5">GROWELL</option>
                  <option value="6">PARAMSHAKTI</option>
                </select>
                <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Product Category<small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-8">
                  <select class="form-control" name="validation-category" [ngClass]="{'is-invalid': !category.valid && (category.dirty || category.touched || isSubmit)}" #category="ngModel" required [(ngModel)]="formInput.category">
                  <option value>Select Category</option>
                  <option value="1">HR</option>
                  <option value="2">CR</option>
                  <option value="3">GL</option>
                  <option value="4">CC</option>
                  <option value="5">EG</option>
                  <option value="6">TP</option>
                  <option value="7">TFS</option>
                  <option value="8">BP</option>
                  <option value="9">TPL</option>
                  <option value="10">GALVALUM</option>
                  <option value="11">MISPRINT</option>
                  <option value="12">PCRC</option>
                  <option value="13">TFS/LIKER</option>
                  <option value="14">TP/LIKER</option>
                  <option value="15">MIX</option>
                  <option value="16">GA</option>
                  <option value="17">GAJ</option>
                  <option value="18">GI</option>
                  <option value="19">COLOR</option>
                  <option value="20">CR/GA</option>
                  <option value="21">GI/GA</option>
                  <option value="22">CRJ</option>
                  <option value="23">GIJ</option>
                  <option value="24">ALSTER</option>
                  <option value="25">PVC/COLOR</option>
                  <option value="26">PVC&amp;CB</option>
                  <option value="27">BLANK</option>
                  <option value="28">PVC-NON-CB</option>
                  <option value="29">CR/GI</option>
                  <option value="30">NON-CB</option>
                  <option value="31">COLOR-CS</option>
                  <option value="32">MATT</option>
                </select>
                <label *ngIf="!category.valid && (category.dirty || category.touched || isSubmit)" id="validation-category-error" class="error jquery-validation-error small form-text invalid-feedback">Product Category should be required.</label>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Product Shape <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-8">
                  <select class="form-control" name="validation-shape" [ngClass]="{'is-invalid': !shape.valid && (shape.dirty || shape.touched || isSubmit)}" #shape="ngModel" required [(ngModel)]="formInput.shape">
                  <option value>Select Shape</option>
                  <option value="1">SLC</option>
                  <option value="2">MWC</option>
                  <option value="3">2RC</option>
                  <option value="4">MC</option>
                  <option value="5">SC</option>
                  <option value="6">FAPS</option>
                  <option value="7">BAPS</option>
                  <option value="8">US</option>
                  <option value="9">FASS</option>
                  <option value="11">BASS</option>
                  <option value="12">SHEETS</option>
                  <option value="13">NO</option>
                  <option value="14">SLC / STS</option>
                </select>
                <label *ngIf="!shape.valid && (shape.dirty || shape.touched || isSubmit)" id="validation-shape-error" class="error jquery-validation-error small form-text invalid-feedback">Product Shape should be required.</label>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Gross Wt.<small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Enter Net Wt." [ngClass]="{'is-invalid': !grosswt.valid && (grosswt.dirty || grosswt.touched || isSubmit)}" #grosswt="ngModel" required [(ngModel)]="formInput.grosswt">
                  <label *ngIf="!grosswt.valid && (grosswt.dirty || grosswt.touched || isSubmit)" id="validation-grosswt-error" class="error jquery-validation-error small form-text invalid-feedback">Gross Wt should be required.</label>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Net Wt.<small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Enter Net Wt." [ngClass]="{'is-invalid': !netWt.valid && (netWt.dirty || netWt.touched || isSubmit)}" #netWt="ngModel" required [(ngModel)]="formInput.netWt">
                <label *ngIf="!netWt.valid && (netWt.dirty || netWt.touched || isSubmit)" id="validation-netWt-error" class="error jquery-validation-error small form-text invalid-feedback">Net Wt should be required.</label>
              </div>
            </div>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <button type="submit" class="btn btn-success" uiSref="work" (click)="save(validationForm)">Generate Lot Id</button>
  </div>
</div>