<div class="user-profile user-card mb-4">
  <div class="card-header border-0 p-0 pb-0">
    <div class="cover-img-block">
      <div class="overlay"></div>
      <div class="change-cover">
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="user-about-block m-0">
      <div class="row">
        <div class="col-md-4 mt-md-4">
          <h3 class="f-24">Edit Processing</h3>
          <p class="m-b-5 text-dark f-w-600">Processing Id : <span class="text-muted">MSP-{{processingData?.productProcessingId}},</span> <span
              class="f-w-600 text-success"> {{processingData?.status}}</span></p>
          <!-- <p class="m-b-5 text-dark f-w-600">Processing Title : <span class="text-muted">CR-MWC??</span></p> -->
        </div>
        <div class="col-md-6 mt-md-4">
          <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'home'}"
                (click)="this.activeTab = 'home'" id="home-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="home" aria-selected="true"><i class="feather icon-home mr-2"></i>Processing Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'profile'}"
                (click)="this.activeTab = 'profile'" id="profile-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="profile" aria-selected="false"><i class="feather icon-user mr-2"></i>Product Details</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'contact'}"
                (click)="this.activeTab = 'contact'" id="contact-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="contact" aria-selected="false"><i class="feather icon-phone mr-2"></i>Key Person</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'gallery'}"
                (click)="this.activeTab = 'gallery'" id="gallery-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="gallery" aria-selected="false"><i class="feather icon-image mr-2"></i>Trade</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- profile body start -->
<div class="row">
  <div class="col-md-12 order-md-2">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'home'}" id="home" role="tabpanel"
        aria-labelledby="home-tab">
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Processing Details</h5>
            <button type="button"
              (click)="this.editProfile = !this.editProfile; this.editProfileIcon = this.editProfile ? 'icon-x': 'icon-edit';"
              class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
              aria-expanded="false" aria-controls="pro-det-edit-1">
              <i class="feather" [ngClass]="editProfileIcon"></i>
            </button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">MSP Id</label>
              <div class="col-sm-3">
                MSP-{{processingData?.productProcessingId}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Contractor Id</label>
              <div class="col-sm-3">
               CNT-{{processingData?.contractorId}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Job Work Type</label>
              <div class="col-sm-3">
                {{processingData?.jobWorkType}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Machine Details</label>
              <div class="col-sm-3">
                MT-{{processingData?.machineDetailId}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Company</label>
              <div class="col-sm-3">
                COM-{{processingData?.companyId}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Warehouse</label>
              <div class="col-sm-3">
                WAR-{{processingData?.warehouseId}}
              </div>
            </div>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile">
            <form [formGroup]="processingDetails" (ngSubmit)="submitProcessingDetails()">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">MSP Id</label>
                <div class="col-sm-3">
                  <!-- <select class="form-control" id="exampleFormControlSelect1" disabled>
                    <option value>MSP-{{processingData?.productProcessingId}}</option>
                  </select> -->
                  <input type="text" class="form-control" disabled formControlName="productProcessingId" >
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Contractor Id</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect1" formControlName="contractorId" disabled>
                    <option [value]="processingData?.contractorId">CNT-{{processingData?.contractorId}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Job Work Type</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect2" formControlName="jobWorkType">
                    <option value="JOB_WORK_SELF">Job Work Self</option>
                    <option value="JOB_WORK_OTHER">Job Work Other</option>
                  </select>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder"> Machine Id</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect3" formControlName="machineDetailId">
                    <option *ngFor="let machine of machineDetailIdList" [value]="machine">MT-{{machine}}</option>
                    <!-- <option value="2">MT-2</option>
                    <option value="3">MT-3</option>
                    <option value="4">MT-4</option> -->
                  </select>
                </div>
              </div>
  
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Company</label>
                <div class="col-sm-3">
                  <input type="text" formControlName="companyId" class="form-control" disabled>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Warehouse</label>
                <div class="col-sm-3">
                  <input type="text" formControlName="warehouseId" class="form-control" disabled>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                  <button type="submit" [disabled]="!processingDetails.valid" class="btn btn-primary">Save</button>
                </div>
              </div>
            </form>
          </app-card>
        </div>
      </div>
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'profile'}" id="profile" role="tabpanel"
        aria-labelledby="profile-tab">
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Product Details</h5>
            <button type="button"
            (click)="this.editProfile = !this.editProfile; this.editProfileIcon = this.editProfile ? 'icon-x': 'icon-edit';"
            class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
            aria-expanded="false" aria-controls="pro-det-edit-1">
            <i class="feather" [ngClass]="editProfileIcon"></i>
          </button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile">
            <div *ngIf="productList" class="dt-responsive table-responsive" cardClass="card-datatable">
              <table datatable class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Shape</th>
                    <th>Class</th>
                    <th>Thk. Range (mm)</th>
                    <th>Width Range</th>
                    <th>Length</th>
                    <th>Length to Cut</th>
                    <th>Temper</th>
                    <th>Hardness</th>
                    <th>Height</th>
                    <th>Coating</th>
                    <th>Defect</th>
                    <th>Origin</th>
                    <th>Oiling</th>
                    <th>Surface</th>
                    <th>Annealing</th>
                    <th>Finish</th>
                    <th>Packaging</th>
                    <th>Gross Wt.</th>
                    <th>Net Wt.</th>
                    <th>Remarks</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of productList; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{product?.productType?.productType}}</td>
                    <td>{{product?.productCategory?.productCategory}}</td>
                    <td>{{product?.productShape?.productShape}}</td>
                    <td>{{product?.productClass?.productClass}}</td>
                    <td>{{product?.thicknessMin}} - {{product?.thicknessMax}}</td>
                    <td>{{product?.widthMin}} - {{product?.widthMax}}</td>
                    <td>{{product?.lengthMax}}</td>
                    <td style="background: lightpink;">{{product?.lengthToBeCut}}</td>
                    <td>{{product?.temperMin?.productTemper}} -{{product?.temperMax?.productTemper}}</td>
                    <td>{{product?.hardnessMax?.productHardness}}</td>
                    <td>{{product?.heigth}}</td>
                    <td>{{product?.productCoating?.productCoating}}</td>
                    <td>{{product?.productDefect?.productDefect}}</td>
                    <td>{{product?.productOrigin?.productOrigin}}</td>
                    <td>{{product?.productOiling?.productOiling}}</td>
                    <td>{{product?.productSurfaceCoating?.productSurfaceCoating}}</td>
                    <td>{{product?.productAnnealing?.productAnnealing}}</td>
                    <td>{{product?.productFinish?.productFinish}}</td>
                    <td>{{product?.productPackaging?.productPackaging}}</td>
                    <td>{{product?.gwt}}</td>
                    <td>{{product?.nwt}}</td>
                    <td>{{product?.remarks}}</td>
                    <td>
                      <button type="button" class="btn btn-icon btn-success"><i class="feather icon-check-circle"
                          (click)="this.editProfile2 = !this.editProfile2; this.editProfileIcon = this.editProfile2 ? 'icon-x': 'icon-edit';"></i></button>
                      <button type="button" class="btn btn-icon btn-danger"><i
                          class="feather icon-trash-2"></i></button>&nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile">

            <app-material-classification-specification [component]="'processing'" (productData)="getProductData($event)">

            </app-material-classification-specification>

            <!-- <form [formGroup]="productDetails" (ngSubmit)="submitProductDetails()">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Type</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productType" id="exampleFormControlSelect5">
                    <option 
                      *ngFor="let type of productTypeList"
                      [value]="type">{{type}}</option>
                  </select>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Category</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productCategory" id="exampleFormControlSelect6">
                    <option 
                    *ngFor="let category of productCategoryList"
                    [value]="category">{{category}}</option>
                  </select>
                </div>                
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Shape</label>
                <div class="col-sm-3">
                  <select class="form-control"  formControlName="productShape" id="exampleFormControlSelect7">
                    <option 
                      *ngFor="let shape of productShapeList"
                      [value]="shape">{{shape}}</option>
                  </select>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Class</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productClass" id="exampleFormControlSelect8">
                    <option *ngFor="let class of productClassList"
                    [value]="class">{{class}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Thickness Range (mm)</label>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-md-6"> <input type="text" formControlName="thicknessMin" class="form-control" placeholder="Min"></div>
                    <div class="col-md-6"> <input type="text" formControlName="thicknessMax" class="form-control" placeholder="Max"></div>
                  </div>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Width Range (mm)</label>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-md-6"> <input type="text" formControlName="widthMin" class="form-control" placeholder="Min"></div>
                    <div class="col-md-6"> <input type="text" formControlName="widthMax" class="form-control" placeholder="Max"></div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Length Range (mm)</label>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-md-6"> <input type="text" formControlName="lengthMin" class="form-control" placeholder="Min"></div>
                    <div class="col-md-6"> <input type="text" formControlName="lengthMax" class="form-control" placeholder="Max"></div>
                  </div>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Temper Range</label>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-md-6"> <input type="text" formControlName="temperMin" class="form-control" placeholder="Min"></div>
                    <div class="col-md-6"> <input type="text" formControlName="temperMax" class="form-control" placeholder="Max"></div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Hardness</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productHardness" id="exampleFormControlSelect9">
                    <option 
                      *ngFor="let hardness of productHardnessList"
                      [value]="hardness">{{hardness}}</option>
                  </select>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Coating</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productCoating" id="exampleFormControlSelect10">
                    <option 
                      *ngFor="let coating of productCoatingList"
                      [value]="coating">{{coating}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Defect</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productDefect" id="exampleFormControlSelect11">
                    <option 
                      *ngFor="let defect of productDefectList"
                      [value]="defect">{{defect}}</option>
                  </select>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Origin</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productOrigin" id="exampleFormControlSelect12">
                    <option 
                      *ngFor="let origin of productOriginList"
                      [value]="origin">{{origin}}</option>
                  </select>
                </div>
              </div>
              
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Oiling</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productOiling" id="exampleFormControlSelect13">
                    <option 
                      *ngFor="let oiling of productOilingList"
                      [value]="oiling">{{oiling}}</option>
                  </select>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Surface</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productSurfaceCoating" id="exampleFormControlSelect14">
                    <option 
                    *ngFor="let surface of productSurfaceList"
                    [value]="surface">{{surface}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Annealing</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productAnnealing" id="exampleFormControlSelect15">
                    <option 
                      *ngFor="let annealing of productAnnealingList"
                      [value]="annealing">{{annealing}}</option>
                  </select>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Finish</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productFinish" id="exampleFormControlSelect16">
                    <option 
                      *ngFor="let finish of productFinishList"
                      [value]="finish">{{finish}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Gross Wt.</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="gwt" placeholder="Mt.">
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Net Wt.</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="nwt" placeholder="Mt.">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Length to Cut (mm)</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="enter length to be cut" formControlName="lengthToBeCut">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Other Remark</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="remarks">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-1">
                  <button type="submit" [disabled]="!productDetails.valid" class="btn btn-primary">Save</button>&nbsp;
                </div>
              </div>
            </form> -->
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- profile body end -->
<div class="row">
  <div class="col-md-12 text-center">
      <button type="submit" class="btn btn-danger active">Export PDF</button>&nbsp;
      <button type="submit" class="btn btn-success active">Print</button>&nbsp;
  </div>
</div>