<div class="auth-wrapper align-items-stretch aut-bg-img">
    <div class="flex-grow-1">
      <div class="h-100 d-md-flex align-items-center auth-side-img">
        <div class="col-sm-10 auth-content w-auto">
            <div class="gpLogo">
                <img src="../../../../../assets/images/GP-Global-LogoWhite.png" alt="GP Global Steel" class="img-fluid">
              </div>
          <h1 class="text-white my-4">Change securely!</h1>
          <h4 class="text-white font-weight-normal">Change your account password and make your self more securely.</h4>
        </div>
      </div>
      <div class="auth-side-form" *ngIf="!enterOTP"> 
        <div class=" auth-content">
          <img src="assets/images/auth/auth-logo-dark.png" alt="" class="img-fluid mb-4 d-block d-xl-none d-lg-none">
          <h4 class="mb-3 f-w-400">Reset your password</h4>
          <form [formGroup]="otpForm">
            <div class="input-group mb-4">
              <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
            </div>
            <div class="input-group mb-4">
              <input type="text" class="form-control" formControlName="mobile" placeholder="Enter phone number">
            </div>
            <button class="btn btn-block btn-primary mb-4" (click)="SendOTP()">Send Otp</button>
          </form>
          <div class="text-center">
            <!-- <div class="saprator my-4"><span>OR</span></div>
            <button class="btn text-white bg-facebook mb-2 mr-2  wid-40 px-0 hei-40 rounded-circle"><i class="fab fa-facebook-f"></i></button>
            <button class="btn text-white bg-googleplus mb-2 mr-2 wid-40 px-0 hei-40 rounded-circle"><i class="fab fa-google-plus-g"></i></button>
            <button class="btn text-white bg-twitter mb-2  wid-40 px-0 hei-40 rounded-circle"><i class="fab fa-twitter"></i></button> -->
            <p class="mb-0 mt-4 text-muted">Already have an account? <a [routerLink]="['../login']" class="f-w-400">Sign in</a></p>
          </div>
        </div>
      </div>

      <div class="auth-side-form" *ngIf="enterOTP">
        <div class=" auth-content">
          <img src="assets/images/auth/auth-logo-dark.png" alt="" class="img-fluid mb-4 d-block d-xl-none d-lg-none">
          <h4 class="mb-3 f-w-400">Reset your password</h4>
          <form [formGroup]="verifyOtpForm">
            <div class="input-group mb-4">
              <input type="text" class="form-control" formControlName="otp" placeholder="Enter otp">
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" formControlName="newPassword" placeholder="Enter new password">
            </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Enter confirm password">
            </div>
            <button class="btn btn-block btn-primary mb-4" (click)="changePwd()">Change</button>
          </form>
          <div class="text-center">
            <p (click)="resendOTP()">Resend OTP</p>
          </div>
          <div class="text-center">
            <!-- <div class="saprator my-4"><span>OR</span></div>
            <button class="btn text-white bg-facebook mb-2 mr-2  wid-40 px-0 hei-40 rounded-circle"><i class="fab fa-facebook-f"></i></button>
            <button class="btn text-white bg-googleplus mb-2 mr-2 wid-40 px-0 hei-40 rounded-circle"><i class="fab fa-google-plus-g"></i></button>
            <button class="btn text-white bg-twitter mb-2  wid-40 px-0 hei-40 rounded-circle"><i class="fab fa-twitter"></i></button> -->
            <p class="mb-0 mt-4 text-muted">Already have an account? <a [routerLink]="['../login']" class="f-w-400">Sign in</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>
  