<div class="row">
    <div class="col-md-12">
      <app-card [hidHeader]="false" cardTitle="Search & Select LOT Id " [options]="false"
        cardClass="user-profile-list">
        <div  *ngIf="purchaseList" class="dt-responsive table-responsive" cardClass="card-datatable">
          <table  datatable class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>LOT ID</th>
                <th>LOT Title</th>
                <th>Type</th>
                <th>Status</th>
                <th>Category</th>
                <th>Shape</th>
                <th>Company ID</th>
                <th>Warehouse ID</th>
                <th>Gross Wt.</th>
                <th>Net Wt.</th>
                <th>Date of Creation</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let purchase of purchaseList; let i = index">
                <td (click)="navigateToEdit(purchase.id)">{{i+1}}</td>
                <td  (click)="navigateToEdit(purchase.id)">{{Ids.LOT + '-' + purchase.id}}</td>
                <td (click)="navigateToEdit(purchase.id)" >{{purchase.title}}</td>
                <td (click)="navigateToEdit(purchase.id)">{{purchase.lotType}}</td>
                <td (click)="navigateToEdit(purchase.id)">{{purchase.status}}</td>
                <td (click)="navigateToEdit(purchase.id)">{{purchase.productCategory}}</td>
                <td (click)="navigateToEdit(purchase.id)">{{purchase.productShape}}</td>
                <td (click)="navigateToEdit(purchase.id)">{{Ids.COMPANY + '-' + purchase.sourceCompanyId}}</td>
                <td (click)="navigateToEdit(purchase.id)">{{Ids.WAREHOUSE + '-' + purchase.sourceWarehouseId}}</td>
                <td (click)="navigateToEdit(purchase.id)">{{purchase.grossWt}}</td>
                <td (click)="navigateToEdit(purchase.id)">{{purchase.netWt}}</td>
                <td>{{purchase.purchaseHistory[0].createdDate | date: 'medium'}}</td>
                <td>
                    <button type="button" class="btn btn-icon btn-success" (click)="addPurchaseToList(purchase)">
                        <i class="feather icon-plus"></i>
                    </button>
                </td>
              </tr>
                
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-card [hidHeader]="false" cardTitle="View Above Selected LOT Id" [options]="false"
        cardClass="user-profile-list">
        <div #epltable *ngIf="selectedPurchaseList" class="dt-responsive table-responsive" cardClass="card-datatable">
          <table id="contentToConvert" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                  <th>Sr. No.</th>
                <th>LOT ID</th>
                <th>LOT Title</th>
                <th>Type</th>
                <th>Status</th>
                <th>Category</th>
                <th>Shape</th>
                <th>Company ID</th>
                <th>Warehouse ID</th>
                <th>Gross Wt.</th>
                <th>Net Wt.</th>
                <th>Date of Creation</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let purchase of selectedPurchaseList; let i = index">
                <td>{{i+1}}</td>
                <td>{{Ids.LOT + '-' + purchase.id}}</td>
                <td>{{purchase.title}}</td>
                <td>{{purchase.lotType}}</td>
                <td>{{purchase.status}}</td>
                <td>{{purchase.productCategory}}</td>
                <td>{{purchase.productShape}}</td>
                <td>{{Ids.COMPANY + '-' + purchase.sourceCompanyId}}</td>
                <td>{{Ids.WAREHOUSE + '-' + purchase.sourceWarehouseId}}</td>
                <td>{{purchase.grossWt}}</td>
                <td>{{purchase.netWt}}</td>
                <td>{{purchase.purchaseHistory[0].createdDate | date: 'medium'}}</td>
                <td>
                    <button type="button" class="btn btn-icon btn-danger" (click)="removePurchase(purchase)">
                        <i  class="feather icon-trash-2"></i>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </app-card>
  
    </div>
  </div>
<button type="submit" class="btn btn-success active" (click)="exportToExcel()">Excel</button>&nbsp;
<!-- <button type="submit" class="btn btn-danger active" (click)="print()">Print</button>&nbsp; -->
<button type="submit" class="btn btn-danger active" (click)="exportToPDF()">PDF</button>&nbsp;