<div class="row">
  <div class="col-md-12">
    <app-card [hidHeader]="false" cardTitle="Search & Select PO " [options]="false" cardClass="user-profile-list">
     <app-po-list></app-po-list>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-card [hidHeader]="false" cardTitle="Search & Select Supplier Id" [options]="false" cardClass="user-profile-list">
      <div class="dt-responsive table-responsive" cardClass="card-datatable">
        <table datatable class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Sr. No.</th>
              <th>Supplier Id</th>
              <th>Supplier Name</th>
              <th>Company Name</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Date of Creation</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.</td>
              <td>SU-892</td>
              <td>Mukesh Sharma</td>
              <td>Shri Vinayak Steel</td>
              <td>+91- 9876167167</td>
              <td>shrivinayak@gmail.com</td>
              <td>24-10-2019</td>
              <td>
                <span class="badge badge-light-success">Approved</span>
                <div class="overlay-edit">
                  <button type="button" class="btn btn-icon btn-danger"><i class="feather icon-trash-2"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>

<button type="submit" class="btn btn-primary active">EMAIL</button>&nbsp;
<button type="submit" class="btn btn-success active">SMS</button>&nbsp;
<button type="submit" class="btn btn-danger active">WHATSAPP</button>&nbsp;