<app-card [hidHeader]="true"  cardClass="user-profile-list">
<div #epltable  *ngIf="productProcessingList" class="dt-responsive table-responsive" cardClass="card-datatable">
          <table id="contentToConvert" datatable class="table table-striped table-xs table-hover">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Processing ID</th>
                <th>Processing Type</th>
                <th>Job Work Type</th>
                <th>Category</th>
                <!-- <th>Shape</th> -->
                <th>Contractor ID</th>
                <th>Company ID</th>
                <th>Warehouse ID</th>
                <th>Machine Details</th>
                <th>Date of Creation</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let processing of productProcessingList; let i = index">
                <td (click)="navigateToEdit(processing.productProcessingId)">{{i+1}}</td>
                <td (click)="navigateToEdit(processing.productProcessingId)" *ngIf="processingType === 'SHEARING'">{{Ids.MATERIAL_SHEARING + '-' + processing?.productProcessingId}}</td>
                <td (click)="navigateToEdit(processing.productProcessingId)" *ngIf="processingType === 'BLANKING'">{{Ids.MATERIAL_BLANKING + '-' + processing?.productProcessingId}}</td>
                <td (click)="navigateToEdit(processing.productProcessingId)" *ngIf="processingType === 'ASSORTING'">{{Ids.MATERIAL_ASSORTING + '-' + processing?.productProcessingId}}</td>
                <td (click)="navigateToEdit(processing.productProcessingId)">{{processing?.processingType}}</td>
                <td (click)="navigateToEdit(processing.productProcessingId)">{{processing?.jobWorkType}}</td>
                <td (click)="navigateToEdit(processing.productProcessingId)">{{processing?.productCategory?.productCategory}}</td>
                <!-- <td>MWC</td> -->
                <td (click)="navigateToEdit(processing.productProcessingId)">{{Ids.CONTRACTOR + '-' + processing?.contractorId}}</td>
                <td (click)="navigateToEdit(processing.productProcessingId)">{{Ids.COMPANY + '-' + processing?.companyId}}</td>
                <td (click)="navigateToEdit(processing.productProcessingId)">{{Ids.WAREHOUSE + '-' + processing?.warehouseId}}</td>
                <td (click)="navigateToEdit(processing.productProcessingId)">MD-{{processing?.machineDetailId}}</td>
                <td (click)="navigateToEdit(processing.productProcessingId)">{{processing?.createdDate | date: 'short'}}</td>
                <td>
                  <button *ngIf="!cart" (click)="addToProcessingList(processing)" type="button" class="btn btn-icon btn-success"><i class="feather icon-plus"></i></button>
                  <button *ngIf="cart" (click)="removeFromProcessingList(processing)" type="button" class="btn btn-icon btn-danger"><i class="feather icon-minus"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </app-card>