<div *ngIf="productProcessingList" class="dt-responsive table-responsive" cardClass="card-datatable">
          <table datatable class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Processing Id</th>
                <th>Processing Type</th>
                <th>Job Work Type</th>
                <th>Category</th>
                <!-- <th>Shape</th> -->
                <th>Contractor Id</th>
                <th>Company Id</th>
                <th>Warehouse Id</th>
                <th>Machine Details</th>
                <th>Date of Creation</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let processing of productProcessingList; let i = index">
                <td>{{i+1}}</td>
                <td (click)="navigateToEdit(processing.productProcessingId)">MSP-{{processing?.productProcessingId}}</td>
                <td>{{processing?.processingType}}</td>
                <td>{{processing?.jobWorkType}}</td>
                <td>{{processing?.productCategory?.productCategory}}</td>
                <!-- <td>MWC</td> -->
                <td>CNT-{{processing?.contractorId}}</td>
                <td>COM-{{processing?.companyId}}</td>
                <td>WAR-{{processing?.warehouseId}}</td>
                <td>MAC-{{processing?.machineDetailId}}</td>
                <td>{{processing?.createdDate | date: 'medium'}}</td>
                <td>
                  <button *ngIf="!cart" (click)="addToProcessingList(processing)" type="button" class="btn btn-icon btn-success"><i class="feather icon-plus"></i></button>
                  <button *ngIf="cart" (click)="removeFromProcessingList(processing)" type="button" class="btn btn-icon btn-danger"><i class="feather icon-minus"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>