<app-card cardTitle="Create Material Requirement Id" [options]="false">
  <wizard #wizard class="arc-wizard" navBarLayout="large-empty-symbols">
    <wizard-step [stepTitle]="myTitle" navigationSymbol="1">
      <form [formGroup]="mrPurchase" (ngSubmit)="createMrSubmit()">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Company Name <small class="asterik_sign">*</small></label>
                  <select (change)="selectedCompany($event.target.value)" formControlName="sourceCompanyId"
                    class="form-control" name="validation-category" required>
                    <option value='' disabled>Select</option>
                    <option *ngFor="let item of companyList" [value]="item?.id">{{ item?.name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div *ngIf="selectedComapny" class="col-md-5">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Warehouse Name <small class="asterik_sign">*</small></label>
                  <select (change)="getSelectedWarehouse($event.target.value)" formControlName="sourceWarehouseId"
                    class="form-control" name="validation-category" required>
                    <option value='' disabled>Select</option>
                    <option *ngFor="let warehouse of warehouseList" [value]="warehouse?.id">
                      {{ warehouse?.name }}</option>
                  </select>
                </div>
              </div>
              <div *ngIf="!selectedComapny" class="col-md-5">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Warehouse Name <small class="asterik_sign">*</small></label>
                  <select disabled class="form-control" name="validation-category"></select>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-md-5 col-xs-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Product Category <small class="asterik_sign">*</small></label>
                  <select formControlName="productCategory" class="form-control" name="validation-category" required>
                    <option value='' disabled>Select</option>
                    <option *ngFor="let item of productCategoryList" [value]="item?.productCategory">
                      {{ item?.productCategory }}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5 col-xs-6">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Product Shape <small class="asterik_sign">*</small></label>
                  <select formControlName="productShape" class="form-control" name="validation-category" required>
                    <option value='' disabled>Select</option>
                    <option *ngFor="let productShape of productShapeList" [value]="productShape?.productShape">
                      {{ productShape?.productShape }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 centered-content">
            <div class="btn-group mt-10">
              <!--  -->
              <button (click)="setTitle()" type="submit" class="btn btn-primary btn-sm"
                uiSref="work">Continue</button>
            </div>
          </div>`
        </div>
      </form>
    </wizard-step>
    <wizard-step stepTitle="Add Product" navigationSymbol="2">
      <app-material-classification-specification (productData)="getProductData($event)">
      </app-material-classification-specification>
      <div class="m-t-20"> 
        <app-add-product-cart [productList]="productList"></app-add-product-cart>
      </div>
      <div class="col-sm-12 centered-content m-t-20">
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
          <button type="button" (click)='saveMrRecord()' class="btn btn-primary  btn-sm">Submit</button>
        </div>
      </div>
    </wizard-step>
  </wizard>
</app-card>
