<div class="row">
  <div class="col-md-12">
     <div class="row">
    <button type='button' (click)="basicSwal()">Change User Type</button>
    </div>
    <app-card [hidHeader]="true" cardClass="tab-card">
      <h5 class="mb-3">User Group Approval System</h5>
      <ngb-tabset (tabChange)="onTabChange($event)" type="pills"> 
        <ngb-tab title="Pending" id="pendingTab" class="mb-3">
          <ng-template ngbTabContent>
            <div *ngIf="pendingUserGroupList" class="dt-responsive table-responsive" cardClass="card-datatable">
              <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Sr. No.</th>
                    <th>Group Id</th>
                    <th>Group Title</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Min Thickness</th>
                    <th>Max Thickness</th>
                    <th>Date of Creation</th>
                    <th>Last Modified Date</th>
                    <!-- <th>Created By</th>
                      <th>Last Modified By</th> -->
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr href="kdkd" *ngFor="let userGroup of pendingUserGroupList;let i = index">
                    <td><label class="badge badge-warning">{{userGroup.status}}</label></td>
                    <td>{{i+1}}</td>
                    <td>{{userGroup.userGroupId}}</td>
                    <td>{{userGroup.userGroupName}}</td>
                    <td>{{userGroup.productType}}</td>
                    <td>{{userGroup.productCategory}}</td>
                    <td>{{userGroup.minThickness}}</td>
                    <td>{{userGroup.maxThickness}}</td>
                    <td>{{userGroup.createdDate}}</td>
                    <!-- <td>{{userGroup.createdBy}}</td> -->
                    <td>{{userGroup.lastModifiedDate}}</td>
                    <!-- <td>{{userGroup.lastModifiedBy}}</td> -->
                    <td>

                      <div class="overlay-edit">
                        <button (click)="selectUser(userGroup)" type="button" class="btn btn-icon btn-success"><i
                      class="feather icon-plus"></i></button>

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Approved" id="approvedTab">
          <ng-template ngbTabContent>
            <div *ngIf="approvedUserGroupList" class="dt-responsive table-responsive" cardClass="card-datatable">
              <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Sr. No.</th>
                    <th>Group Id</th>
                    <th>Group Title</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Min Thickness</th>
                    <th>Max Thickness</th>
                    <th>Date of Creation</th>
                    <th>Last Modified Date</th>
                    <!-- <th>Created By</th>
                      <th>Last Modified By</th> -->
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr href="kdkd" *ngFor="let userGroup of approvedUserGroupList;let i = index">
                    <td><label class="badge badge-success">{{userGroup.status}}</label></td>
                    <td>{{i+1}}</td>
                    <td>{{userGroup.userGroupId}}</td>
                    <td>{{userGroup.userGroupName}}</td>
                    <td>{{userGroup.productType}}</td>
                    <td>{{userGroup.productCategory}}</td>
                    <td>{{userGroup.minThickness}}</td>
                    <td>{{userGroup.maxThickness}}</td>
                    <td>{{userGroup.createdDate}}</td>
                    <!-- <td>{{userGroup.createdBy}}</td> -->
                    <td>{{userGroup.lastModifiedDate}}</td>
                    <!-- <td>{{userGroup.lastModifiedBy}}</td> -->
                    <td>

                      <div class="overlay-edit">
                        <button (click)="selectUser(userGroup)" type="button" class="btn btn-icon btn-success"><i
                      class="feather icon-plus"></i></button>

                      </div>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Rejected" id="rejectedTab">
          <ng-template ngbTabContent>
            <div *ngIf="rejectedUserGroupList" class="dt-responsive table-responsive" cardClass="card-datatable">
              <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Sr. No.</th>
                    <th>Group Id</th>
                    <th>Group Title</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Min Thickness</th>
                    <th>Max Thickness</th>
                    <th>Date of Creation</th>
                    <th>Last Modified Date</th>
                    <!-- <th>Created By</th> -->
                    <!-- <th>Last Modified By</th> -->
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr href="kdkd" *ngFor="let userGroup of rejectedUserGroupList;let i = index">
                    <td><label class="badge badge-danger">{{userGroup.status}}</label></td>
                    <td>{{i+1}}</td>
                    <td>{{userGroup.userGroupId}}</td>
                    <td>{{userGroup.userGroupName}}</td>
                    <td>{{userGroup.productType}}</td>
                    <td>{{userGroup.productCategory}}</td>
                    <td>{{userGroup.minThickness}}</td>
                    <td>{{userGroup.maxThickness}}</td>
                    <td>{{userGroup.createdDate}}</td>
                    <!-- <td>{{userGroup.createdBy}}</td> -->
                    <td>{{userGroup.lastModifiedDate}}</td>
                    <!-- <td>{{userGroup.lastModifiedBy}}</td> -->
                    <td>

                      <div class="overlay-edit">
                        <button (click)="selectUser(userGroup)" type="button" class="btn btn-icon btn-success"><i
                      class="feather icon-plus"></i></button>

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>
      <!-- (click)="rejectSelected" -->

    </app-card>
  </div>
</div>





<div class="row">
    <div class="col-md-12">
        <app-card [hidHeader]="false" cardTitle="Take action on above Selected Group" [options]="false" cardClass="user-profile-list">
            <div class="dt-responsive table-responsive" cardClass="card-datatable">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                    <th>Status</th>
                    <th>Sr. No.</th>
                    <th>Group Id</th>
                    <th>Group Title</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Min Thickness</th>
                    <th>Max Thickness</th>
                    <th>Date of Creation</th>
                    <th>Last Modified Date</th>
                    <!-- <th>Created By</th> -->
                    <!-- <th>Last Modified By</th> -->
                    <th>Action</th>
                  </tr>
                    </thead>
                    <tbody>
                         <tr href="kdkd" *ngFor="let userGroup of selectedUserGroupList;let i = index">
                          <td><label class="badge badge-default">{{userGroup.status}}</label></td>
                    <td>{{i+1}}</td>
                    <td>{{userGroup.userGroupId}}</td>
                    <td>{{userGroup.userGroupName}}</td>
                    <td>{{userGroup.productType}}</td>
                    <td>{{userGroup.productCategory}}</td>
                    <td>{{userGroup.minThickness}}</td>
                    <td>{{userGroup.maxThickness}}</td>
                    <td>{{userGroup.createdDate}}</td>
                    <!-- <td>{{userGroup.createdBy}}</td> -->
                    <td>{{userGroup.lastModifiedDate}}</td>
                    <!-- <td>{{userGroup.lastModifiedBy}}</td> -->
                    <td>

                       <div class="overlay-edit">
                        <button (click)="removeUserGroup(userGroup)" type="button" class="btn btn-icon btn-danger"><i
                      class="feather icon-trash-2"></i></button>

                      </div>
                    </td>
                  </tr>

                    </tbody>

                </table>
            </div>
        </app-card>

    </div>
</div>


<div class="col-sm-12 centered-content m-t-20">
    <div class="btn-group mt-10">
           <button (click)="changeStatusOfSelectedGroup('APPROVED')" *ngIf="selectedTab=='PENDING' || selectedTab =='REJECTED'" type="button" class="btn btn-success active">Approve</button>&nbsp;
    <button (click)="changeStatusOfSelectedGroup('REJECTED')" *ngIf="selectedTab=='PENDING' || selectedTab =='APPROVED'" type="button" class="btn btn-danger active">Reject</button>&nbsp;
 
    </div>
</div>