<div class="row">
    <div class="col-md-7">
      <app-card cardTitle="Add Company" [options]="false">
        <form #validationForm="ngForm" class="editForm" novalidate>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Company Name<small class="asterik_sign">*</small></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control">
                </div>
              </div>
              <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Landline</label>
                  <div class="col-sm-6">
                      <input type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Email</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">GST</label>
                      <div class="col-sm-6">
                          <input type="text" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Address</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="form-group row">
                          <label for="inputEmail3" class="col-sm-4 col-form-label mt-2"></label>
                          <div class="col-sm-3">
                              <input type="text" class="form-control" placeholder="Country">
                          </div>
                          <div class="col-sm-3">
                              <input type="text" class="form-control" placeholder="Country">
                          </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label mt-2"></label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="City">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" placeholder="Pincode">
                            </div>
                          </div>
            </div>
        
            </div>
          </form>
          <button type="submit" class="btn btn-primary btn-sm" uiSref="work">Add Company</button>
        </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <app-card [hidHeader]="false" cardTitle="View or Modify Company" [options]="false"
        cardClass="user-profile-list">
        <div class="dt-responsive table-responsive" cardClass="card-datatable">
          <table datatable class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                  <th>Sr. No.</th>
                  <th>Company Id</th>
                  <th>Company Name</th>
                  <th>Landline</th>
                  <th>Email</th>
                  <th>GST</th>
                  <th>Address</th>
                  <th>State</th>
                  <th>City</th>
                  <th>Pincode</th>
                  <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>1.</td>
                  <td>COM-01</td>
                  <td>GP Global Asphalt</td>
                  <td>011-23893892</td>
                  <td>info@gpglobal.com</td>
                  <td>6CFM834DD32652</td>
                  <td>L24/25, Panvel</td>
                  <td>Maharashtra</td>
                  <td>Navi Mumbai</td>
                  <td>401201</td>
                <td>
                    <button type="button" class="btn btn-icon btn-success"><i
                      class="feather icon-check-circle"></i></button>&nbsp;
               
                    <button type="button" class="btn btn-icon btn-danger" ><i
                        class="feather icon-trash-2"></i></button>
                
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>