<app-card cardTitle="Create Delivery Order" [options]="false">
  <wizard #wizard class="arc-wizard" navBarLayout="large-empty-symbols">
    <wizard-step stepTitle="Search & Select SC Lot ID" navigationSymbol="1">
      <form [formGroup]="deliverOrderForm" class="editForm" >
        <div class="row">
          <div class="col-md-8">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Select SC LOT Id<small class="asterik_sign">*</small></label>
              <div class="col-sm-6">
                  
                     <select formControlName="salesId"  (change)="getLoadingId($event.target.value)"  class="form-control" name="validation-pcId">
                  <option value=""> Select SC Id</option>
                  <option  *ngFor="let item of salesLotList"    [value]="item?.id" >SC-{{ item?.id }}</option>

                </select>
                    <!-- <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small> -->
              </div>
            </div>
          </div>
          <div class="col-md-8">
              <div class="form-group row">
                <label for="inputEmail3"  class="col-sm-4 col-form-label mt-2">Create Loading Slip<small class="asterik_sign">*</small></label>
                <div class="col-sm-6">
                    <select formControlName="deliveryOrderId" class="form-control">
                        <option value="">Select Loading Id</option>
                        <option *ngFor="let item of deliveryOrderList"  [value]="item?.id" >LS-{{ item?.deliveryOrderId }}</option>
                      </select>
                      <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
                </div>
              </div>
            </div>
        </div>
           <div class="col-sm-12 centered-content m-t-20">
        <div class="btn-group mt-10">
          
          <button [disabled]="deliverOrderForm.invalid" type="button" class="btn btn-primary btn-sm" nextStep>Continue</button>
        </div>
      </div>
      </form>
     
    </wizard-step>
    <wizard-step stepTitle="Enter Sales Invoice Details" navigationSymbol="2">
      <app-invoice-details></app-invoice-details>
     
    </wizard-step>
    <wizard-step stepTitle="Transport Details" navigationSymbol="3">
      <app-transporter-do></app-transporter-do>
    </wizard-step>
  </wizard>
</app-card>