<app-add-product-cart 
    [productList]="productList" 
    [component]="'inventory'"
    (selectedProductList)= getSelectedProductList($event)>
</app-add-product-cart>

<app-add-product-cart 
    [productList]="selectedProductList">
</app-add-product-cart>
<button type="submit" class="btn btn-success active excelBtn" (click)="exportToExcel()"><i  class="feather icon-menu"></i> Excel</button>&nbsp;
<button type="submit" class="btn btn-danger active printBtn" (click)="print()"><i  class="feather icon-printer"></i> Print</button>&nbsp;
<button type="submit" class="btn btn-danger active pdfBtn" (click)="exportToPDF()"><i  class="feather icon-file"></i> PDF</button>&nbsp;
<button type="submit" class="btn btn-warning active copyBtn"><i  class="feather icon-copy"></i> Copy</button>&nbsp;