<app-add-product-cart 
    [productList]="productList" 
    [component]="'inventory'"
    (selectedProductList)= getSelectedProductList($event)>
</app-add-product-cart>

<app-add-product-cart 
    [productList]="selectedProductList">
</app-add-product-cart>
<button type="submit" class="btn btn-success active" (click)="exportToExcel()">Excel</button>&nbsp;
<!-- <button type="submit" class="btn btn-danger active" (click)="print()">Print</button>&nbsp; -->
<button type="submit" class="btn btn-danger active" (click)="exportToPDF()">PDF</button>&nbsp;