<form [formGroup]="selectDetailsForm" (ngSubmit)="submitForm()">
  <div class="row">
    <div class="col-md-5">
      <h5 class="bg-clr-head1 p-10 f-14">Customer Company Detail</h5> 
      <hr>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Company ID <small
            class="asterik_sign">*</small></label>
        <div class="col-sm-3 m-t-10 p-t-5">
          <select [value]="selectedName1.value" formControlName="buyerCompanyName" #selectedId1 class="form-control" name="validation-customerId">
            <option value=''>ID</option>
            <option *ngFor="let item of userMini" [value]="item?.userDetialId">{{ item?.userDetialId }}</option>
          </select>
        </div>
        <div class="col-sm-5 m-t-10 p-t-5">
          <select #selectedName1  [value]="selectedId1.value" class="form-control" formControlName="buyerCompanyName" name="validation-pcId">
            <option value> Name</option>
            <option *ngFor="let item of userMini" [value]="item?.userDetialId">{{ item?.companyName }}</option>
          </select>
          <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
          <small *ngIf="f.buyerCompanyName.value == '' && (f.buyerCompanyName.dirty || f.buyerCompanyName.touched )"
            id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <h5 class="bg-clr-head1 p-10 f-14">Own Company Detail</h5>
      <hr>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Company ID <small
            class="asterik_sign">*</small></label>
        <div class="col-sm-3 m-t-10 p-t-5">
          <select [value]="selectedName2.value" formControlName="sellerCompanyName" #selectedId2 class="form-control" name="validation-companyId">
            <option value>ID</option>
            <option *ngFor="let item of companyList" [value]="item?.id">{{ item?.id }}</option>
          </select>
          
        </div>
        <div class="col-sm-5 m-t-10 p-t-5">
          <select #selectedName2  [value]="selectedId2.value"  class="form-control" formControlName="sellerCompanyName" name="validation-pcId">
            <option value> Name</option>
            <option *ngFor="let item of companyList" [value]="item?.id">{{ item?.name }}</option>
          </select>
          <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
          <small *ngIf="f.sellerCompanyName.value == '' && (f.sellerCompanyName.dirty || f.sellerCompanyName.touched )"
            id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Address</label>
        <div class="col-sm-8 m-t-10 p-t-5">
          <input type="text" class="form-control" formControlName="buyerAddress" placeholder="">
          <small *ngIf="f.buyerAddress.value == '' && (f.buyerAddress.dirty || f.buyerAddress.touched )"
            id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Address</label>
        <div class="col-sm-8 m-t-10 p-t-5">
          <input type="text" class="form-control" formControlName="sellerAddress"  placeholder="">
          <small *ngIf="f.sellerAddress.value == '' && (f.sellerAddress.dirty || f.sellerAddress.touched )"
            id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-md-5">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Pincode</label>
        <div class="col-sm-8 m-t-10 p-t-5">
          <input type="text" class="form-control" formControlName="buyerStateCode"  placeholder="">
          <small *ngIf="f.buyerStateCode.value == '' && (f.buyerStateCode.dirty || f.buyerStateCode.touched )"
            id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
            <small *ngIf="f.buyerStateCode.value !== '' && f.buyerStateCode.invalid" id="passwordHelpBlock"
            class="form-text text-muted">Pin Code should be in 6 digits.</small>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Pincode</label>
        <div class="col-sm-8 m-t-10 p-t-5">
          <input type="text" class="form-control" formControlName="sellerStateCode"  placeholder="">
          <small *ngIf="f.sellerStateCode.value == '' && (f.sellerStateCode.dirty || f.sellerStateCode.touched )"
            id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
            <small *ngIf="f.sellerStateCode.value !== '' && f.sellerStateCode.invalid" id="passwordHelpBlock"
            class="form-text text-muted">Pin Code should be in 6 digits.</small>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-md-5">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Pan No.</label>
        <div class="col-sm-8 m-t-10 p-t-5">
          <input type="text" class="form-control" formControlName="buyerPANNo"  placeholder="">
          <small *ngIf="f.buyerPANNo.value == '' && (f.buyerPANNo.dirty || f.buyerPANNo.touched )"
            id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Pan No.</label>
        <div class="col-sm-8 m-t-10 p-t-5">
          <input type="text" class="form-control" formControlName="sellerPANNo"  placeholder="">
          <small *ngIf="f.sellerPANNo.value == '' && (f.sellerPANNo.dirty || f.sellerPANNo.touched )"
            id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="row">
    <div class="col-md-5">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">GST</label>
        <div class="col-sm-8 m-t-10 p-t-5">
          <input type="text" class="form-control" formControlName="buyerGSTNo"  placeholder="">
          <small *ngIf="f.buyerGSTNo.value == '' && (f.buyerGSTNo.dirty || f.buyerGSTNo.touched )"
            id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">GST</label>
        <div class="col-sm-8 m-t-10 p-t-5">
          <input type="text" class="form-control" formControlName="sellerGSTNo"  placeholder="">
          <small *ngIf="f.sellerGSTNo.value == '' && (f.sellerGSTNo.dirty || f.sellerGSTNo.touched )"
            id="passwordHelpBlock" class="form-text text-muted">This field is required.</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 centered-content">
    <div class="btn-group mt-10">
      <button type="submit" class="btn btn-primary btn-sm printBtn" uiSref="work" 
        >Next <i  class="feather icon-arrow-right f-w-600"></i></button>
    </div>
  </div>

</form>