<form [formGroup]="createGroupForm" #validationForm="ngForm" class="editForm" (submit)="createGroupSubmit()">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Product Type <small class="asterik_sign">*</small></label>
              <select formControlName="productType" class="form-control" name="validation-type" required >
                  <option
            *ngFor="let item of productTypeList"
            [value]="item?.productType"
            >{{ item?.productType }}</option>
                </select>
                <small *ngIf="f.productType.value == '' && (f.productType.dirty || f.productType.touched )" id="passwordHelpBlock" class="form-text text-muted"
                >This field is required.</small>
                <!-- <label *ngIf="!productType.valid && (productType.dirty || productType.touched || isSubmit)" id="validation-type-error" class="error jquery-validation-error small form-text invalid-feedback">Product Type should be required.</label> -->
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Product Category <small class="asterik_sign">*</small></label>
              <select formControlName="productCategory"  class="form-control" name="validation-category"   required >
                  <option
            *ngFor="let item of productCategoryList"
            [value]="item?.productCategory"
            >{{ item?.productCategory }}</option
          >
              </select>
              <small *ngIf="f.productCategory.value == '' && (f.productCategory.dirty || f.productCategory.touched )" id="passwordHelpBlock" class="form-text text-muted"
              >This field is required.</small>
              <!-- <label *ngIf="!productCategory.valid && (productCategory.dirty || productCategory.touched || isSubmit)" id="validation-category-error" class="error jquery-validation-error small form-text invalid-feedback">Product Category should be required.</label> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-xs-6">
            <div class="form-group">
              <label for="validationCustom02">Thickness Range (mm) <small class="asterik_sign">*</small></label>
              <div class="row">
                <div class="col-md-6 col-xs-6 mb-3">
                    <input formControlName="minThickness" [textMask]="{mask: thickMask}"  type="text"  class="form-control"  placeholder="0.00"  required >
                    <small *ngIf="f.minThickness.value == '' && (f.minThickness.dirty || f.minThickness.touched )" id="passwordHelpBlock" class="form-text text-muted"
              >This field is required.</small>
                    <!-- <label *ngIf="!minThickness.valid && (minThickness.dirty || minThickness.touched || isSubmit)" id="validation-thickMin-error" class="error jquery-validation-error small form-text invalid-feedback">This field should be required</label> -->
                </div>
                <div class="col-md-6 col-xs-6 mb-3">
                    <input  formControlName="maxThickness"  type="text" [textMask]="{mask: thickMask}" class="form-control"  placeholder="0.00"  required >
                    <small *ngIf="f.maxThickness.value == '' && (f.maxThickness.dirty || f.maxThickness.touched )" id="passwordHelpBlock" class="form-text text-muted"
              >This field is required.</small>
              <small *ngIf="f.maxThickness.value !== '' && !f.maxThickness.valid " id="passwordHelpBlock" class="form-text text-muted"
            >Maximum thickness should be greater than minimum thickness.</small
          >
                    <!-- <label *ngIf="!maxThickness.valid && (maxThickness.dirty || maxThickness.touched || isSubmit)" id="validation-thickMax-error" class="error jquery-validation-error small form-text invalid-feedback">This field should be required</label> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
            <div class="col-md-5 col-xs-6">
                <div class="form-group">
                    <label for="exampleFormControlSelect1">User Group Type <small class="asterik_sign">*</small></label>
                    <select formControlName="userRole"  class="form-control" name="validation-groupType" >
                        <option value="0" disabled>Select User</option>
                        <option value="CUSTOMER">Customer Group</option>
                        <option value="SUPPLIER">Supplier Group</option>
                        <option value="AGENT">Agent Group</option>
                        <option value="TRANSPORTER">Transporter Group</option>
                        <option value="CONTRACTOR">Contractor Group</option>
                    </select>
                    <small *ngIf="f.userRole.value == '' && (f.userRole.dirty || f.userRole.touched )" id="passwordHelpBlock" class="form-text text-muted"
              >This field is required.</small>
                    <!-- <label *ngIf="!userRole.valid && (userRole.dirty || userRole.touched || isSubmit)" id="validation-groupType-error" class="error jquery-validation-error small form-text invalid-feedback">Group Type should be required.</label> -->
                  </div>
            </div>
        </div>
          <div class="col-sm-12 centered-content m-t-20">
        <div class="btn-group mt-10">
          <!-- <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp; -->
          <button type="submit"  class="btn btn-primary btn-sm" >Next</button>
        </div>
      </div>
      </form>
      