<div class="row btn-page">
  <!-- [ Invoice ] start -->
  <div class="container" id="printTable">
    <div>
      <div class="card">
        <div class="row invoice-contact">
          <div class="col-md-8">
            <div class="invoice-box row">
              <div class="col-sm-9">
                <table class="table table-responsive invoice-table table-borderless p-l-20">
                  <tbody>
                    <tr>
                      <td><a href="index.html" class="b-brand">
                          <img class="img-fluid" src="assets/images/GP-Global-Logo.png" alt="GP Global Logo"
                            class="gp_logo">
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>GP Global Asphalt Pvt. Ltd. </td>
                    </tr>
                    <tr>
                      <td>A-88 MIDC Taloja, District Raigad,<br />
                        Navi Mumbai - 410208, Maharashtra</td>
                    </tr>
                    <tr>
                      <td><a class="text-secondary" href="mailto:info@gpglobal.com" target="_top">info@gpglobal.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>011- 29028901</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <h1 class="f-22 f-w-700">Product Detail Tag</h1>
            <p class="f-16 f-w-600 m-b-5 text-muted">Product Id : <span class="text-primary">P-#0282</span></p>
            <p class="f-16 f-w-600 m-b-5 text-muted">GRN Id : <span class="text-dark">GRN-927</span>
            <p class="f-16 f-w-600 m-b-5 text-muted">LOT Id : <span class="text-dark">LOT-927</span>
            </p>
            <div class="barcode">
              <img src="../../../../../assets/images/barcode.svg">
              <img src="../../../../../assets/images/barcode.svg">
              <small class="text-muted">P-#0282</small>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row invoive-info">
            <div class="col-md-12 col-xs-12 invoice-client-info">
                <table class="table table-xs m-b-0">
                  <tbody>
                    <tr>
                        <th>Type : <span>CRFS</span></th>
                        <th>Category : <span>Cold Rolled</span></th>
                        <th>Shape : <span>MWC</span></th>
                        <th>Class : <span>2A</span></th>
                        <th>Thickness : <span>2.00 mm</span></th>
                        <th>Width : <span>730 mm</span></th>
                        <th>Length : <span>COIL</span></th>
                        <th>Finish : <span>N/A</span></th>
                    </tr>
                    <tr>
                        <th>Temper : <span> N/A</span></th>
                        <th>Hardness : <span>SEMI</span></th>
                        <th>Surface : <span>N/A</span></th>
                        <th>Coating : <span>N/A</span></th>
                        <th>Origin : <span>Japan</span></th>
                        <th>Packaging : <span>Plastic</span></th>
                        <th>Gross Wt. : <span>12.3 MT.</span></th>
                        <th>Net Wt. : <span>12.1 MT.</span></th>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-xs">
                    <tbody>
                        <tr>
                            <th>Status: <span class="text-success"> Approved</span></th>
                            <th>Product Remarks : <span>Product Remarks goes here,</span></th>
                            <th>Price : <span>N/A</span></th>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-6">
              <h6>Created By :</h6>
              <p>Vineet, <a routerLink="">Emp-001</a></p>
            </div>
            <div class="col-sm-6">
              <div class="text-right">
                <h6>Apporved By :</h6>
                <p>Mukesh, <a routerLink="">Emp-341</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-12 invoice-btn-group text-center">
          <button type="submit" class="btn btn-success active">Export</button>&nbsp;
          <button type="button" class="btn waves-effect waves-light btn-primary btn-print-invoice m-b-10">Print</button>
          <button type="button" class="btn waves-effect waves-light btn-secondary m-b-10 ">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Invoice ] end -->
</div>