<div class="user-profile user-card mb-4">
  <div class="card-header border-0 p-0 pb-0">
    <div class="cover-img-block">
      <div class="overlay"></div>
      <div class="change-cover">
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="user-about-block m-0">
      <div class="row">
        <div class="col-md-4 mt-md-4">
          <h3 class="f-24">Edit Product</h3>
          <p class="m-b-5 text-dark f-w-600">Product ID : <span class="text-muted">P-{{productResponse?.productId}},</span> <span
              class="f-w-600 text-success"> {{productResponse?.status}}</span></p>
          <p class="m-b-5 text-dark f-w-600">Product Title : <span class="text-muted">{{productResponse?.title}}</span></p>
        </div>
        <div class="col-md-6 mt-md-4">
          <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'home'}"
                (click)="this.activeTab = 'home'" id="home-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="home" aria-selected="true"><i class="feather icon-home mr-2"></i>Product ID</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'profile'}"
                (click)="this.activeTab = 'profile'" id="profile-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="profile" aria-selected="false"><i class="feather icon-user mr-2"></i>Product Details</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'contact'}"
                (click)="this.activeTab = 'contact'" id="contact-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="contact" aria-selected="false"><i class="feather icon-phone mr-2"></i>Key Person</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'gallery'}"
                (click)="this.activeTab = 'gallery'" id="gallery-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="gallery" aria-selected="false"><i class="feather icon-image mr-2"></i>Trade</a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- profile body start -->
<div class="row">
  <div class="col-md-12 order-md-2">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'home'}" id="home" role="tabpanel"
        aria-labelledby="home-tab">
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Product ID</h5>
            <button type="button"
              (click)="this.editProfile1 = !this.editProfile1; this.editProfileIcon = this.editProfile1 ? 'icon-x': 'icon-edit';"
              class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
              aria-expanded="false" aria-controls="pro-det-edit-1">
              <i class="feather" [ngClass]="editProfileIcon"></i>
            </button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile1">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Product ID</label>
              <div class="col-sm-3">
                P-{{productResponse?.productId}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Product Title</label>
              <div class="col-sm-3">
                {{productResponse?.title}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">LOT ID</label>
              <div class="col-sm-3">
                LOT-{{productResponse?.purchaseId}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">GRN ID</label>
              <div class="col-sm-3">
                GRN-{{productResponse?.grnId}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Company</label>
              <div class="col-sm-3">
                COM-{{productResponse?.warehouse?.companyId}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Warehouse</label>
              <div class="col-sm-3">
                WAR-{{productResponse?.warehouse?.name}}
              </div>
            </div>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile1">
            <form [formGroup]="productIdForm" (ngSubmit)="saveProductId()" >
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Product ID</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="productId" >
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Product Title</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="title" >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">LOT ID</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="purchaseId" >
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">GRN ID</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="grnId" >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Company</label>
                <div class="col-sm-9">
                  <input type="text" formControlName="companyId" class="form-control" disabled>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Warehouse</label>
                <div class="col-sm-9">
                  <input type="text" formControlName="WarehouseName" class="form-control" disabled>
                </div>
              </div>
  
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                  <button type="submit" [disabled]="!productIdForm.valid" class="btn btn-primary">Save</button>
                </div>
              </div>
            </form>
          </app-card>
        </div>
      </div>
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'profile'}" id="profile" role="tabpanel"
        aria-labelledby="profile-tab">
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Product Details</h5>
            <button type="button"
            (click)="this.editProfile2 = !this.editProfile2; this.editProfileIcon = this.editProfile2 ? 'icon-x': 'icon-edit';"
            class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
            aria-expanded="false" aria-controls="pro-det-edit-1">
            <i class="feather" [ngClass]="editProfileIcon"></i>
          </button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile2">

            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Type</label>
              <div class="col-sm-3">
                {{productResponse?.productType?.productType}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Category</label>
              <div class="col-sm-3">
                {{productResponse?.productCategory?.productCategory}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Shape</label>
              <div class="col-sm-3">
                {{productResponse?.productShape?.productShape}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Class</label>
              <div class="col-sm-3">
                {{productResponse?.productClass?.productClass}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Thickness Range</label>
              <div class="col-sm-3">
                <div class="row">
                  <div class="col-md-6">{{productResponse?.thicknessMin}}</div>
                  <div class="col-md-6">{{productResponse?.thicknessMax}}</div>
                </div>
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Width Range</label>
              <div class="col-sm-3">
                <div class="row">
                  <div class="col-md-6">{{productResponse?.widthMin}}</div>
                  <div class="col-md-6">{{productResponse?.widthMax}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Length Range</label>
              <div class="col-sm-3">
                <div class="row">
                  <div class="col-md-6">{{productResponse?.lengthMin}}</div>
                  <div class="col-md-6">{{productResponse?.lengthMax}}</div>
                </div>
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Temper Range</label>
              <div class="col-sm-3">
                <div class="row">
                  <div class="col-md-6">{{productResponse?.temperMin?.productTemper}}</div>
                  <div class="col-md-6">{{productResponse?.temperMax?.productTemper}}</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Hardness</label>
              <div class="col-sm-3">
                {{productResponse?.hardnessMax?.productHardness}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Coating</label>
              <div class="col-sm-3">
                {{productResponse?.productCoating?.productCoating}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Defect</label>
              <div class="col-sm-3">
                {{productResponse?.productDefect?.productDefect}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Origin</label>
              <div class="col-sm-3">
                {{productResponse?.productOrigin?.productOrigin}}
              </div>
            </div>
            <!--  -->
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Oiling</label>
              <div class="col-sm-3">
                {{productResponse?.productOiling?.productOiling}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Surface</label>
              <div class="col-sm-3">
                {{productResponse?.productSurfaceCoating?.productSurfaceCoating}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Annealing</label>
              <div class="col-sm-3">
                {{productResponse?.productAnnealing?.productAnnealing}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Finish</label>
              <div class="col-sm-3">
                {{productResponse?.productFinish?.productFinish}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Gross Wt.</label>
              <div class="col-sm-3">
                {{productResponse?.gwt}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Net Wt.</label>
              <div class="col-sm-3">
                {{productResponse?.nwt}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Remarks</label>
              <div class="col-sm-3">
                {{productResponse?.remarks}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Price</label>
              <div class="col-sm-3">
                {{ price }}
              </div>
            </div>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile2">
            <form [formGroup]="productDetailForm" (ngSubmit)="submitProductDetails()">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Type</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productType" id="exampleFormControlSelect1">
                    <option 
                      *ngFor="let type of productTypeList"
                      [value]="type">{{type}}</option>
                  </select>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Category</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productCategory" id="exampleFormControlSelect1">
                    <option 
                      *ngFor="let category of productCategoryList"
                      [value]="category">{{category}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Shape</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productShape" id="exampleFormControlSelect1">
                    <option 
                      *ngFor="let shape of productShapeList"
                      [value]="shape">{{shape}}</option>
                  </select>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Class</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productClass" id="exampleFormControlSelect1">
                    <option *ngFor="let class of productClassList"
                    [value]="class">{{class}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Thickness Range</label>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-md-6"> <input type="text" formControlName="thicknessMin" class="form-control" placeholder="Min"></div>
                    <div class="col-md-6"> <input type="text" formControlName="thicknessMax" class="form-control" placeholder="Max"></div>
                  </div>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Width Range</label>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-md-6"> <input type="text" class="form-control" formControlName="widthMin" placeholder="Min"></div>
                    <div class="col-md-6"> <input type="text" class="form-control" formControlName="widthMax" placeholder="Max"></div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Length Range</label>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-md-6"> <input type="text" class="form-control" formControlName="lengthMin" placeholder="Min"></div>
                    <div class="col-md-6"> <input type="text" class="form-control" formControlName="lengthMax" placeholder="Max"></div>
                  </div>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Temper Range</label>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-md-6"> <input type="text" formControlName="temperMin" class="form-control" placeholder="Min"></div>
                    <div class="col-md-6"> <input type="text" formControlName="temperMax" class="form-control" placeholder="Max"></div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Hardness</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productHardness" id="exampleFormControlSelect1">
                    <option 
                      *ngFor="let hardness of productHardnessList"
                      [value]="hardness">{{hardness}}</option>
                  </select>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Coating</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productCoating" id="exampleFormControlSelect1">
                    <option 
                      *ngFor="let coating of productCoatingList"
                      [value]="coating">{{coating}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Defect</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productDefect" id="exampleFormControlSelect1">
                    <option 
                      *ngFor="let defect of productDefectList"
                      [value]="defect">{{defect}}</option>
                  </select>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Origin</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productOrigin" id="exampleFormControlSelect1">
                    <option 
                      *ngFor="let origin of productOriginList"
                      [value]="origin">{{origin}}</option>
                  </select>
                </div>
              </div>
              <!--  -->
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Oiling</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productOiling" id="exampleFormControlSelect1">
                    <option 
                      *ngFor="let oiling of productOilingList"
                      [value]="oiling">{{oiling}}</option>
                  </select>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Surface</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productSurfaceCoating" id="exampleFormControlSelect1">
                    <option 
                      *ngFor="let surface of productSurfaceList"
                      [value]="surface">{{surface}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Annealing</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productAnnealing" id="exampleFormControlSelect1">
                    <option 
                      *ngFor="let annealing of productAnnealingList"
                      [value]="annealing">{{annealing}}</option>
                  </select>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Finish</label>
                <div class="col-sm-3">
                  <select class="form-control" formControlName="productFinish" id="exampleFormControlSelect1">
                    <option 
                      *ngFor="let finish of productFinishList"
                      [value]="finish">{{finish}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Gross Wt.</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="gwt" placeholder="Mt.">
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Net Wt.</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" formControlName="nwt" placeholder="Mt.">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Remarks</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" formControlName="remarks" placeholder="">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-1">
                  <button type="submit" class="btn btn-primary">Save</button>&nbsp;
                </div>
                <div class="col-sm-2">
                  <span style="float: left;"> <button type="button"
                      (click)="this.editProfile = !this.editProfile; this.editProfileIcon = this.editProfile ? 'icon-x': 'icon-x';"
                      class="btn btn-primary rounded m-0 float-right">
                      Cancel
                    </button></span>
                </div>
              </div>
            </form>
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- profile body end -->
<div class="row">
  <div class="col-md-12 text-center">
    <button type="submit" class="btn btn-danger active">Export PDF</button>&nbsp;
    <button type="submit" class="btn btn-success active">Print</button>&nbsp;
  </div>
</div>