<div class="row btn-page">
  <!-- [ Invoice ] start -->
  <div class="container" id="printTable">
    <div>
      <div class="card">
        <div class="row invoice-contact">
          <div class="col-md-8">
            <div class="invoice-box row">
              <div class="col-sm-9">
                <table class="table table-responsive invoice-table table-borderless p-l-20">
                  <tbody>
                    <tr>
                      <td><a href="index.html" class="b-brand">
                          <img class="img-fluid" src="assets/images/GP-Global-Logo.png" alt="GP Global Logo"
                            class="gp_logo">
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>GP Global Asphalt Pvt. Ltd. </td>
                    </tr>
                    <tr>
                      <td>A-88 MIDC Taloja, District Raigad,<br />
                        Navi Mumbai - 410208, Maharashtra</td>
                    </tr>
                    <tr>
                      <td><a class="text-secondary" href="mailto:info@gpglobal.com" target="_top">info@gpglobal.com</a>
                      </td>
                    </tr>
                    <tr>
                      <td>011- 29028901</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <h1 class="f-22 f-w-700">SALES INVOICE</h1>
            <p class="f-16 f-w-600 m-b-5 text-muted">SI ID : <span class="text-primary">SI-#0282</span></p>
            <p class="f-16 f-w-600 m-b-5 text-muted">Material Description : <span class="text-dark">Cold Rolled</span>
            </p>
            <div class="barcode">
              <img src="../../../../../assets/images/barcode.svg">
              <img src="../../../../../assets/images/barcode.svg">
              <small class="text-muted">SI-#0282</small>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row invoive-info">
            <div class="col-md-4 col-xs-12 invoice-client-info">
              <h6>Seller Information :</h6>
              <table class="table table-responsive invoice-table invoice-order table-borderless">
                <tbody>
                  <tr>
                    <th>Company ID :</th>
                    <td>GP GLOBAL PVT LTD</td>
                  </tr>
                  <tr>
                    <th>Address :</th>
                    <td>G/28 Mumbai Taluja MIDC</td>
                  </tr>
                  <tr>
                    <th>GST :</th>
                    <td>JKLDK893H34348</td>
                  </tr>
                  <tr>
                    <th>Mobile :</th>
                    <td>+91-987187477</td>
                  </tr>
                  <tr>
                    <th>E-mail :</th>
                    <td>info@gmail.com</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-4 col-sm-6">
              <h6>Buyer (Billed to) :</h6>
              <table class="table table-responsive invoice-table invoice-order table-borderless">
                  <tbody>
                    <tr>
                      <th>Company ID :</th>
                      <td>Shri Vinayak Steel</td>
                    </tr>
                    <tr>
                      <th>Address :</th>
                      <td>G/28 Mumbai Taluja MIDC</td>
                    </tr>
                    <tr>
                      <th>GST :</th>
                      <td>JKLDK893H34348</td>
                    </tr>
                    <tr>
                      <th>Mobile :</th>
                      <td>+91-987187477</td>
                    </tr>
                    <tr>
                      <th>E-mail :</th>
                      <td>info@gmail.com</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <div class="col-md-4 col-sm-6">
              <h6>Buyer (Ship to) :</h6>
              <table class="table table-responsive invoice-table invoice-order table-borderless">
                  <tbody>
                    <tr>
                      <th>Company ID :</th>
                      <td>Shri Vinayak Steel</td>
                    </tr>
                    <tr>
                      <th>Address :</th>
                      <td>G/28 Mumbai Taluja MIDC</td>
                    </tr>
                    <tr>
                      <th>GST :</th>
                      <td>JKLDK893H34348</td>
                    </tr>
                    <tr>
                      <th>Mobile :</th>
                      <td>+91-987187477</td>
                    </tr>
                    <tr>
                      <th>E-mail :</th>
                      <td>info@gmail.com</td>
                    </tr>
                  </tbody>
                </table>

            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="table-responsive">
                <table class="table invoice-detail-table text-center">
                  <thead>
                    <tr class="thead-default">
                      <th>Sr. No.</th>
                      <th>Prod. ID</th>
                      <th>Category</th>
                      <th>Shape</th>
                      <th>Class</th>
                      <th>Thickness <span class="d-block">(mm)</span></th>
                      <th>Width <span class="d-block">(mm)</span></th>
                      <th>Length <span class="d-block">(mm)</span></th>
                      <th>26542er</th>
                      <th>Surface</th>
                      <th>Net Wt. <span class="d-block">(mt.)</span></th>
                      <th>Remark</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td><a routerLink="">P-928</a></td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4</td>
                      <td>Matt</td>
                      <td>2.12</td>
                      <td>-</td>
                      <td class="text-danger">26542</td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td><a routerLink="">P-928</a></td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4</td>
                      <td>Matt</td>
                      <td>2.12</td>
                      <td>-</td>
                      <td class="text-danger">26542</td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td><a routerLink="">P-928</a></td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4</td>
                      <td>Matt</td>
                      <td>2.12</td>
                      <td>-</td>
                      <td class="text-danger">26542</td>
                    </tr>
                    <tr>
                      <td>4.</td>
                      <td><a routerLink="">P-928</a></td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4</td>
                      <td>Matt</td>
                      <td>2.12</td>
                      <td>-</td>
                      <td class="text-danger">26542</td>
                    </tr>
                    <tr>
                      <td>5.</td>
                      <td><a routerLink="">P-928</a></td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4</td>
                      <td>Matt</td>
                      <td>2.12</td>
                      <td>-</td>
                      <td class="text-danger">26542</td>
                    </tr>
                    <tr>
                      <td>6.</td>
                      <td><a routerLink="">P-928</a></td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4</td>
                      <td>Matt</td>
                      <td>2.12</td>
                      <td>-</td>
                      <td class="text-danger">26542</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <table class="table table-responsive invoice-table invoice-total">
                <tbody>
                  <tr>
                    <th>Sub Total :</th>
                    <td>4725.00</td>
                  </tr>
                  <tr>
                    <th>CGST (0%) :</th>
                    <td>00.00</td>
                  </tr>
                  <tr>
                      <th>SGST (0%) :</th>
                      <td>00.00</td>
                    </tr>
                    <tr>
                        <th>IGST (0%) :</th>
                        <td>00.00</td>
                      </tr>
                  <tr>
                    <th>Total IGST (5%) :</th>
                    <td>00.00</td>
                  </tr>
                  <tr class="text-info">
                    <td>
                      <hr />
                      <h5 class="text-primary m-r-10 f-20">Total :</h5>
                    </td>
                    <td>
                      <hr />
                      <h5 class="text-primary f-20">4827.00</h5>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h6>Terms and Condition :</h6>
              <p>1. Late payment charges @ 24% per annum shall be chargeable alongwith applicable GST thereon if the
                invoice is no paid within stipulated time. 2. Goods Once sold will not be taken back or exchanged 3. Our
                responsibility ceases soon after the goods leave from our premises 4. Conduct Survey in case of loss of
                Material insured under Marine Open Policy No. of the valid up to 5. Subject To Maharashtra Jurisdiction
              </p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-6">
              <h6>Created By :</h6>
              <p>Vineet, <a routerLink="">Emp-001</a></p>
            </div>
            <div class="col-sm-6">
              <div class="text-right">
                <h6>Apporved By :</h6>
                <p>Mukesh, <a routerLink="">Emp-341</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-12 invoice-btn-group text-center">
          <button type="submit" class="btn btn-success active">Export</button>&nbsp;
          <button type="button" class="btn waves-effect waves-light btn-primary btn-print-invoice m-b-10">Print</button>
          <button type="button" class="btn waves-effect waves-light btn-secondary m-b-10 ">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Invoice ] end -->
</div>