<div class="user-profile user-card mb-4">
  <div class="card-header border-0 p-0 pb-0">
    <div class="cover-img-block">
      <div class="overlay"></div>
      <div class="change-cover">
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="user-about-block m-0">
      <div class="row">
        <div class="col-md-3 mt-md-4">
          <h3 class="f-24">Edit Sales Invoice</h3>
          <p class="m-b-5 text-dark f-w-600">SI ID : <span class="text-muted">SI-782,</span> <span
              class="f-w-600 text-success"> Approved</span></p>
          <p class="m-b-5 text-dark f-w-600">SI Title : <span class="text-muted">SI-CR-MWC</span></p>
        </div>
        <div class="col-md-9 mt-md-4">
          <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'home'}"
                (click)="this.activeTab = 'home'" id="home-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="home" aria-selected="true"><i class="feather icon-home mr-2"></i>Sales Invoice
                Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'profile'}"
                (click)="this.activeTab = 'profile'" id="profile-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="profile" aria-selected="false"><i class="feather icon-user mr-2"></i>Buyer's & Seller's
                Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'contact'}"
                (click)="this.activeTab = 'contact'" id="contact-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="contact" aria-selected="false"><i class="feather icon-phone mr-2"></i>Transport
                Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'gallery'}"
                (click)="this.activeTab = 'gallery'" id="gallery-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="gallery" aria-selected="false"><i class="feather icon-image mr-2"></i>GST & Bank
                Details</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- profile body start -->
<div class="row">
  <div class="col-md-12 order-md-2">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'home'}" id="home" role="tabpanel"
        aria-labelledby="home-tab">
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">SI Details</h5>
            <button type="button"
              (click)="this.editProfile1 = !this.editProfile1; this.editProfileIcon = this.editProfile1 ? 'icon-x': 'icon-edit';"
              class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
              aria-expanded="false" aria-controls="pro-det-edit-1">
              <i class="feather" [ngClass]="editProfileIcon"></i>
            </button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile1">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Company CIN No.</label>
              <div class="col-sm-3">
                Company CIN No.
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Payment Term</label>
              <div class="col-sm-3">
                Payment Term
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Due Date</label>
              <div class="col-sm-3">
                Due Date
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Place Of Supply
              </label>
              <div class="col-sm-3">
                Place Of Supply

              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Buyers Order No.</label>
              <div class="col-sm-3">
                Buyers Order No.
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Buyers Order Date</label>
              <div class="col-sm-3">
                Buyers Order Date
              </div>
            </div>
            <!--  -->
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Supplier's Ref. No</label>
              <div class="col-sm-3">
                Supplier's Ref. No
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Supplier's Ref. Date</label>
              <div class="col-sm-3">
                Supplier's Ref. Date
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Despatch L.R. No.</label>
              <div class="col-sm-3">
                Despatch L.R. No.
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Despatch L.R. Date
              </label>
              <div class="col-sm-3">
                Despatch L.R. Date
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Bunker Delivery Note</label>
              <div class="col-sm-3">
                Bunker Delivery No.
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Bunker Delivery Date</label>
              <div class="col-sm-3">
                Bunker Delivery Date
              </div>
            </div>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile1">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Company CIN No.</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Payment Term</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Due Date</label>
              <div class="col-sm-3">
                <input type="date" placeholder="" value="" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Place Of Supply
              </label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="" class="form-control">

              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Buyers Order No.</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Buyers Order Date</label>
              <div class="col-sm-3">
                <input type="date" placeholder="" value="" class="form-control">
              </div>
            </div>
            <!--  -->
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Supplier's Ref. No</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Supplier's Ref. Date</label>
              <div class="col-sm-3">
                <input type="date" placeholder="" value="" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Despatch L.R. No.</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Despatch L.R. Date
              </label>
              <div class="col-sm-3">
                <input type="date" placeholder="" value="" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Bunker Delivery Note</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Bunker Delivery Date</label>
              <div class="col-sm-3">
                <input type="date" placeholder="" value="" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </app-card>
        </div>
      </div>
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'profile'}" id="profile" role="tabpanel"
        aria-labelledby="profile-tab">
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Seller & Buyer Detail</h5>
            <button type="button"
              (click)="this.editProfile2 = !this.editProfile2; this.editProfileIcon = this.editProfile2 ? 'icon-x': 'icon-edit';"
              class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
              aria-expanded="false" aria-controls="pro-det-edit-1">
              <i class="feather" [ngClass]="editProfileIcon"></i>
            </button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile2">
            <div class="row">
              <div class="col-md-6">
                <h5 class="mb-0">Seller Detail</h5>
                <hr />
              </div>
              <div class="col-md-6">
                <h5 class="mb-0">Buyer Detail (Billed to)</h5>
                <hr />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Company ID</label>
              <div class="col-sm-3">
                COM-927
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Company ID</label>
              <div class="col-sm-3">
                COM-02
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Address </label>
              <div class="col-sm-3">
                K92 MIDC Taloja Navi-Mumbai 401208
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Address </label>
              <div class="col-sm-3">
                L24/25 Panvel Road Navi-Mumbai 409378
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">PAN No.</label>
              <div class="col-sm-3">
                JUOPS3882KD
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">PAN No.</label>
              <div class="col-sm-3">
                FJOPS38829
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">GST No.</label>
              <div class="col-sm-3">
                232332KJKJ9D0332
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">GST No.</label>
              <div class="col-sm-3">
                344JD9DJKDJ98J83
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">State Code</label>
              <div class="col-sm-3">
                43
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">State Code</label>
              <div class="col-sm-3">
                11
              </div>
            </div>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile2">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Company ID</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="COM-927" class="form-control" disabled>
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Company ID</label>
              <div class="col-sm-3">
                <input type="text" placeholder="COM-02" value="" class="form-control" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Address </label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="K92 MIDC Taloja Navi-Mumbai 401208" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Address </label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="L24/25 Panvel Road Navi-Mumbai 409378" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">PAN No.</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="JUOPS3882KD" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">PAN No.</label>
              <div class="col-sm-3">
                <input type="text" placeholder="FJOPS38829" value="" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">GST No.</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="232332KJKJ9D0332" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">GST No.</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="344JD9DJKDJ98J83" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">State Code</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="43" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">State Code</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="11" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-1">
                <button type="button" class="btn btn-primary">Save</button>&nbsp;
              </div>
            </div>
          </app-card>
        </div>
      </div>
      <!-- transport -->
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'contact'}" id="contact" role="tabpanel"
        aria-labelledby="contact-tab">
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Transport Details</h5>
            <button type="button"
              (click)="this.editProfile3 = !this.editProfile3; this.editProfileIcon = this.editProfile3 ? 'icon-x': 'icon-edit';"
              class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
              aria-expanded="false" aria-controls="pro-det-edit-3">
              <i class="feather" [ngClass]="editProfileIcon"></i>
            </button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile3">
            <div class="form-group row">

              <label class="col-sm-3 col-form-label font-weight-bolder">Transpoter ID</label>
              <div class="col-sm-3">
                TP-082
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Transpoter Reciept</label>
              <div class="col-sm-3">
                44KJD886764
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Expected Delivery</label>
              <div class="col-sm-3">
                20/12/2019
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Invoice Number</label>
              <div class="col-sm-3">
                #98487483
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Gross Weight</label>
              <div class="col-sm-3">
                20.84 Mt.
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Net Weight </label>
              <div class="col-sm-3">
                20.84 Mt.
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Container Number</label>
              <div class="col-sm-3">
                937KDJ89783
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Vehicle Number</label>
              <div class="col-sm-3">
                MH 2AS 9833
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Driver Name</label>
              <div class="col-sm-3">
                Ramesh Aggarwal
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Driver Mobile</label>
              <div class="col-sm-3">
                +91-9978262522
              </div>
            </div>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile3">
            <div class="form-group row">

              <label class="col-sm-3 col-form-label font-weight-bolder">Transpoter ID</label>
              <div class="col-sm-3">
                <div class="row">
                  <div class="col-md-5">
                    <select class="form-control" id="">
                      <option value="1">TP-022</option>
                      <option value="2">TP-352</option>
                      <option value="3">TP-234</option>
                    </select>
                  </div>
                  <div class="col-md-7">
                    <select class="form-control" id="">
                      <option value="1">Shri Transport Pvt Ltd.</option>
                      <option value="2">Vidya Transport Pvt Ltd.</option>
                      <option value="3">Kamal Transport Pvt Ltd.</option>
                    </select>
                  </div>
                </div>
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Transpoter Reciept</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="44KJD886764">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Expected Delivery</label>
              <div class="col-sm-3">
                <input type="date" class="form-control" placeholder="" value="20/12/2019">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Invoice Number</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="+91 - 9871776756">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Gross Weight</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="20.84 Mt.">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Net Weight</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value=" 20.84 Mt.">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Material Description</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="CR-MWC">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">No. of Coils/Bundles</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="2 Coils, 3 Bundles">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Container Number
              </label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="937KDJ89783">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Vehicle Number</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="MH 2AS 9833">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Driver Name
              </label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="Ramesh Aggarwal">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Driver Mobile</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="+91-9978262522">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </app-card>
        </div>
        <!-- material details -->
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Material Details</h5>
            <button type="button"
              (click)="this.editProfile3 = !this.editProfile3; this.editProfileIcon = this.editProfile3 ? 'icon-x': 'icon-edit';"
              class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
              aria-expanded="false" aria-controls="pro-det-edit-3">
              <i class="feather" [ngClass]="editProfileIcon"></i>
            </button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile3">
            <div class="form-group row">

              <label class="col-sm-3 col-form-label font-weight-bolder">Material Description</label>
              <div class="col-sm-3">
                Material Description
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">HSN/ SAC Code
              </label>
              <div class="col-sm-3">
                HSN/ SAC Code

              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Total Quantity</label>
              <div class="col-sm-3">
                Total Quantity
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Price Per KG</label>
              <div class="col-sm-3">
                Price Per KG
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Total Amount</label>
              <div class="col-sm-3">
                Total Amount
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Total Amount In Words </label>
              <div class="col-sm-3">
                Total Amount In Words
              </div>
            </div>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile3">
            <div class="form-group row">

              <label class="col-sm-3 col-form-label font-weight-bolder">Material Description</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="Material Description">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">
                HSN/ SAC Code</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="
                HSN/ SAC Code">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Total Quantity
              </label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="Total Quantity
                ">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">
                Price Per KG</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="
                Price Per KG">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Total Amount</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="Total Amount">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Total Amount In Words</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" placeholder="" value="Total Amount In Words">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </app-card>
        </div>
      </div>
      <!-- weigh bridge -->
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'gallery'}" id="gallery" role="tabpanel"
        aria-labelledby="gallery-tab">
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">GST Details</h5>
            <button type="button"
              (click)="this.editProfile4 = !this.editProfile4; this.editProfileIcon = this.editProfile4 ? 'icon-x': 'icon-edit';"
              class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
              aria-expanded="false" aria-controls="pro-det-edit-1">
              <i class="feather" [ngClass]="editProfileIcon"></i>
            </button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile4">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Enter CGST (%)</label>
              <div class="col-sm-3">
                12
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Total Invoice Value With GST</label>
              <div class="col-sm-3">
                5,04,5455
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Enter SGST (%)</label>
              <div class="col-sm-3">
                10
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Total Amount In Words</label>
              <div class="col-sm-3">
                Total Amount In Words
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Enter IGST</label>
              <div class="col-sm-3">
                82 Mt.
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Total GST</label>
              <div class="col-sm-3">
                445111
              </div>
            </div>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile4">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Enter CGST (%)</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Total Invoice Value With GST</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Enter SGST (%)</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Total Amount In Words</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Enter IGST</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Total GST</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </app-card>
        </div>
        <!-- bank details -->
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Bank Details</h5>
            <button type="button"
              (click)="this.editProfile4 = !this.editProfile4; this.editProfileIcon = this.editProfile4 ? 'icon-x': 'icon-edit';"
              class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
              aria-expanded="false" aria-controls="pro-det-edit-1">
              <i class="feather" [ngClass]="editProfileIcon"></i>
            </button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile4">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Name Of Beneficiary</label>
              <div class="col-sm-3">
            ABDUL SAMAD
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Swift Code Number
              </label>
              <div class="col-sm-3">
                548455645
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Bank Name</label>
              <div class="col-sm-3">
               Bank of Baroda Delhi
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">IFSC Code</label>
              <div class="col-sm-3">
                BARB0SADARC
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Branch Name</label>
              <div class="col-sm-3">
             Sadar Bazar
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Account No</label>
              <div class="col-sm-3">
                00910100020889
              </div>
            </div>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile4">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Name Of Beneficiary</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="ABDUL SAMAD" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Swift Code Number</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="548455645" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Bank Name</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="Bank of Baroda Delhi" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">IFSC Code</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="BARB0SADARC" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Branch Name</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="Sadar Bazar" class="form-control">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Account No</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" value="00910100020889" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </app-card>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</div>
<!-- profile body end -->
<div class="row">
  <div class="col-md-12 text-center">
    <button type="submit" class="btn btn-danger active">Export PDF</button>&nbsp;
    <button type="submit" class="btn btn-success active">Print</button>&nbsp;
  </div>
</div>