<app-card cardTitle="Create Loading Slip" [options]="false">
  <wizard #wizard class="arc-wizard" navBarLayout="large-empty-symbols">
    <wizard-step stepTitle="Search & Select SC Lot ID" navigationSymbol="1">
      <form [formGroup]="selectScIdForm" (ngSubmit)="submitScId()" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-3 col-form-label mt-2">Select SC LOT ID<small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-6">
                <select class="form-control" formControlName="salesId">
                  <option value="" disabled>Select SC ID</option>
                  <option *ngFor="let sales of salesList" [value]="sales.id">SC-{{sales.id}}</option>
                </select>
                <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
                <small *ngIf="f.salesId.value == '' && (f.salesId.dirty || f.salesId.touched)"
              id="validation-companyName-error"
              class="form-text text-muted">
              This field should be required.
            </small>
              </div>
            </div>
          </div>
        </div>
      <div class="col-sm-12 centered-content m-t-20">
        <div class="btn-group mt-10">
          <!-- <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp; -->
          <button type="submit" class="btn btn-primary btn-sm printBtn" >Next <i  class="feather icon-arrow-right f-w-600"></i></button>
        </div>
      </div>
    </form>
    </wizard-step>
    <wizard-step stepTitle="Select Product" navigationSymbol="2">
      <app-add-product-cart [productList]="productList" [component]="'dispatch'"></app-add-product-cart>
      <form [formGroup]="productIdForm" (ngSubmit)="submitProductId()" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-3 col-form-label mt-2">Enter Product ID<small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-6">
                <input type="text" formControlName="productId" class="form-control" placeholder="Enter product ID">
              </div>
            </div>
          </div>
        </div>
        <button type="submit"  class="btn btn-primary">Load Product</button>
      </form>
      <app-add-product-cart [productList]="selectedProductList"></app-add-product-cart>
      <div class="col-sm-12 centered-content">
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-success btn-sm" (click)="saveRecord()">Submit</button>
        </div>
      </div>
    </wizard-step>
    <!-- <wizard-step stepTitle="Search & Select SC Lot ID" navigationSymbol="3">
      
      <div class="col-sm-12 centered-content m-t-20">
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-primary btn-sm" nextStep>Continue</button>
        </div>
      </div>
    </wizard-step> -->
    <!-- <wizard-step stepTitle="View Product" navigationSymbol="4">
      <app-add-product-cart [productList]="selectedProductList"></app-add-product-cart>
      <div class="col-sm-12 centered-content m-t-20">
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-success btn-sm" (click)="saveRecord()">Submit</button>
        </div>
      </div>
    </wizard-step> -->
  </wizard>
</app-card>