<div class="row">
  <div class="col-md-12">
    <app-card [hidHeader]="true" cardClass="tab-card">
      <h5 class="mb-3">Product Approval System</h5>
      <ngb-tabset (tabChange)="onTabChange($event)" type="pills">
        <ngb-tab title="Pending" id="pendingTab" class="mb-3">
          <ng-template ngbTabContent>
            <app-add-product-cart 
              [productList]="pendingProductList"
              [component]="'inventory'"
              (selectedProductList)= getSelectedProductList($event)>
            </app-add-product-cart>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Approved" id="approvedTab">
          <ng-template ngbTabContent>
            <app-add-product-cart 
              [productList]="approvedProductList"
              [component]="'inventory'"
              (selectedProductList)= getSelectedProductList($event)>
            </app-add-product-cart>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Rejected"  id="rejectedTab">
          <ng-template ngbTabContent>
            <app-add-product-cart 
              [productList]="rejectedProductList"
              [component]="'inventory'"
              (selectedProductList)= getSelectedProductList($event)>
            </app-add-product-cart>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </app-card>
    <app-add-product-cart [productList]="selectedProductList"></app-add-product-cart>
    <button type="submit" (click)="changeStatusOfProduct('APPROVED')" *ngIf="selectedTab=='PENDING' || selectedTab =='REJECTED'" class="btn btn-success active">Approve</button>&nbsp;
          <div  *ngxPermissionsOnly="['INVENTORY_DELETE_PRIVILEGE']">

    <button type="submit" (click)="changeStatusOfProduct('REJECTED')" *ngIf="selectedTab=='PENDING' || selectedTab =='APPROVED'" class="btn btn-danger active">Reject</button>&nbsp;
          </div>
  </div>
</div>

