<div class="row">
  <!-- site Analytics card start -->
  <div class="col-xl-12 col-sm-12">
    <!-- <h3 class="mb-3">Inventory Details</h3> -->
    <div class="row">
      <div class="col-sm-3">
        <app-card [hidHeader]="false"  cardTitle="Tin Plate" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-primary text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>{{totalTPCount}}</span></li>
                <li>Products Net Wt. <span>{{totalTPCountWt}} Mt.</span></li>
                <!--<li>Number of Coils <span>22</span></li> -->
                <!--<li>Number of Coils <span>22</span></li> -->
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center"> 
              <div (click)="getProduct(1,'APPROVED')" class="col p-1">
                <h5 class="m-0 text-white">{{approvedTPCount}}</h5>
                <span>Registered</span>
              </div>
              <div (click)="getProduct(1,'PENDING')" class="col p-1">
                <h5 class="m-0 text-white">{{pendingTPCount}}</h5>
                <span>Pending</span>
              </div>
              <div (click)="getProduct(1,'REJECTED')"class="col p-1">
                <h5 class="m-0 text-white">{{rejectedTPCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-3">
        <app-card [hidHeader]="false"  cardTitle="Tin Free" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-success text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>{{totalTFCount}}</span></li>
                <li>Products Net Wt. <span>{{totalTFCountWt}} Mt.</span></li>
                <!--<li>Number of Coils <span>22</span></li> -->
                <!--<li>Number of Coils <span>22</span></li> -->
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center"> 
              <div class="col p-1">
                <h5 class="m-0 text-white">{{approvedTFCount}}</h5>
                <span>Registered</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{pendingTFCount}}</h5>
                <span>Pending</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{rejectedTFCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>

      <div class="col-sm-3">
        <app-card [hidHeader]="false"  cardTitle="GALVANIZE" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-danger text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>{{totalGLCount}}</span></li>
                <li>Products Net Wt. <span>{{totalGLCountWt}} Mt.</span></li>
                <!--<li>Number of Coils <span>22</span></li> -->
                <!--<li>Number of Coils <span>22</span></li> -->
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center"> 
              <div class="col p-1">
                <h5 class="m-0 text-white">{{approvedGLCount}}</h5>
                <span>Registered</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{pendingGLCount}}</h5>
                <span>Pending</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{rejectedGLCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-3">
        <app-card [hidHeader]="false"  cardTitle="PCRC" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-warning text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>{{totalPCRCCount}}</span></li>
                <li>Products Net Wt. <span>{{totalPCRCCountWt}} Mt.</span></li>
                <!--<li>Number of Coils <span>22</span></li> -->
                <!--<li>Number of Coils <span>22</span></li> -->
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center"> 
              <div class="col p-1">
                <h5 class="m-0 text-white">{{approvedPCRCCount}}</h5>
                <span>Registered</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{pendingPCRCCount}}</h5>
                <span>Pending</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{rejectedPCRCCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
  
  <!-- site Analytics card end -->

  <!-- project and team member start -->
  <div class="col-xl-12 col-md-12">
    <app-card cardTitle="Latest Inventory Details" cardClass="table-card" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th >Product ID</th> 
                <th>Type</th>
                <th>Category</th>
                <th>Shape</th>
                <th>Class</th>
                <th>Thk. Range (mm)</th>
                <th>Width Range</th>
                <th>Length</th>
            </tr>
          </thead>
          <tbody>
            <tr  href="kdkd" *ngFor="let product of productList;let i = index">
              <td>P-{{product.productId}}</td> 
              <td>{{product.productType?.productType}}</td>
              <td>{{product.productCategory?.productCategory}}</td>
              <td>{{product.productShape?.productShape}}</td>
              <td>{{product.productClass?.productClass}}</td>
              <td>{{product.thicknessMin}}-{{product.thicknessMax}}</td>
              <td>{{product.widthMin}}-{{product.widthMax}}</td>
              <td>{{product.lengthMin}}-{{product.lengthMax}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  <!-- <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Latest Updates" cardClass="latest-update-card">
      <div class="latest-update-box">
        <div class="row p-t-30 p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 hrs ago</p>
            <i class="feather icon-twitter bg-twitter update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 1652 Followers</h6>
            </a>
            <p class="text-muted m-b-0">You’re getting more and more followers, keep it up!</p>
          </div>
        </div>
        <div class="row p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">4 hrs ago</p>
            <i class="feather icon-briefcase bg-c-red update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 5 New Products were added!</h6>
            </a>
            <p class="text-muted m-b-0">Congratulations!</p>
          </div>
        </div>
        <div class="row p-b-0">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 day ago</p>
            <i class="feather icon-facebook bg-facebook update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+1 Friend Requests</h6>
            </a>
            <p class="text-muted m-b-10">This is great, keep it up!</p>
            <div class="table-responsive">
              <table class="table table-hover">
                <tr>
                  <td class="b-none">
                    <a href="javascript:" class="align-middle">
                      <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                      <div class="d-inline-block">
                        <h6>Jeny William</h6>
                        <p class="text-muted m-b-0">Graphic Designer</p>
                      </div>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="javascript:" class="b-b-primary text-primary">View all Projects</a>
      </div>
    </app-card>
  </div> -->
  <!-- project and team member end -->

 

  

</div>
