<div class="row">
  <!-- site Analytics card start -->
  <div class="col-xl-12 col-sm-12">
    <h3 class="mb-3">User Details</h3>
    <div class="row">
      <div class="col-sm-3">
        <app-card (click)="getAllUserByRole('CUSTOMER')" [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-primary text-white">
          <div class="p-20 pb-0">
            <h4 class="m-0">Customer <span style="float: right;font-size: 25px; " class="text-primary">{{totalCustomerCount}}</span></h4>
            <p class="mb-3 mt-3">Total number of support requests that come in.</p>
          </div>
         
          <div class="app-card-footer">
            <div class="row text-center"> 
              <div class="col p-1">
                <h5 class="m-0 text-white">{{approvedCustomerCount}}</h5>
                <span>Registered</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{pendingCustomerCount}}</h5>
                <span>Pending</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{rejectedCustomerCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-3">
        <app-card (click)="getAllUserByRole('SUPPLIER')"  [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-success text-white">
          <div class="p-20 pb-0">
            <h4 class="m-0">Supplier <span style="float: right;font-size: 25px; " class="text-success">{{totalSupplierCount}}</span></h4>
            <p class="mb-3 mt-3">Total number of support requests that come in.</p>
          </div>
          
          <div class="app-card-footer">
            <div class="row text-center">
              <div (click)="getAllUserByRoleAndStatus('SUPPLIER','APPROVED')"  class="col p-1">
                <h5 class="m-0 text-white">{{approvedSupplierCount}}</h5>
                <span>Registered</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{pendingSupplierCount}}</h5>
                <span>Pending</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{rejectedSupplierCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>

      <div class="col-sm-3">
        <app-card (click)="getAllUserByRole('AGENT')"  [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-danger text-white">
          <div class="p-20 pb-0">
            <h4 class="m-0">Agent/Broker <span style="float: right;font-size: 25px; " class="text-danger">{{totalAgentCount}}</span></h4>
            <p class="mb-3 mt-3">Total number of support requests that come in.</p>
          </div>
          
          <div class="app-card-footer">
            <div class="row text-center">
              <div class="col p-1">
                <h5 class="m-0 text-white">{{approvedAgentCount}}</h5>
                <span>Registered</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{pendingAgentCount}}</h5>
                <span>Pending</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{rejectedAgentCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-3">
        <app-card (click)="getAllUserByRole('CONTRACTOR')"  [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-warning text-white">
          <div class="p-20 pb-0">
            <h4 class="m-0">Contractor <span style="float: right;font-size: 25px; " class="text-warning">{{totalContractorCount}}</span></h4>
            <p class="mb-3 mt-3">Total number of support requests that come in.</p>
          </div>
          
          <div class="app-card-footer">
            <div class="row text-center">
              <div class="col p-1">
                <h5 class="m-0 text-white">{{approvedContractorCount}}</h5>
                <span>Registered</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{pendingContractorCount}}</h5>
                <span>Pending</span>
              </div>
              <div class="col p-1">
                <h5 class="m-0 text-white">{{rejectedContractorCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
  
  <!-- site Analytics card end -->

  <!-- project and team member start -->
  <div class="col-xl-12 col-md-12">
    <app-card cardTitle="Latest User" cardClass="table-card" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
              <th>User Id</th>
              <th>Type</th>
              <th>Name</th>
              <th>Mobile</th>
              <th>Company Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>CU-827</td>
              <td>Customer</td>
              <td>Kamal Gupta</td>
              <td>9871874787</td>
              <td>Gupta Steels</td>
            </tr>
           
           
            
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  <!-- <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Latest Updates" cardClass="latest-update-card">
      <div class="latest-update-box">
        <div class="row p-t-30 p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 hrs ago</p>
            <i class="feather icon-twitter bg-twitter update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 1652 Followers</h6>
            </a>
            <p class="text-muted m-b-0">You’re getting more and more followers, keep it up!</p>
          </div>
        </div>
        <div class="row p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">4 hrs ago</p>
            <i class="feather icon-briefcase bg-c-red update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 5 New Products were added!</h6>
            </a>
            <p class="text-muted m-b-0">Congratulations!</p>
          </div>
        </div>
        <div class="row p-b-0">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 day ago</p>
            <i class="feather icon-facebook bg-facebook update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+1 Friend Requests</h6>
            </a>
            <p class="text-muted m-b-10">This is great, keep it up!</p>
            <div class="table-responsive">
              <table class="table table-hover">
                <tr>
                  <td class="b-none">
                    <a href="javascript:" class="align-middle">
                      <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                      <div class="d-inline-block">
                        <h6>Jeny William</h6>
                        <p class="text-muted m-b-0">Graphic Designer</p>
                      </div>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="javascript:" class="b-b-primary text-primary">View all Projects</a>
      </div>
    </app-card>
  </div> -->
  <!-- project and team member end -->

 

  

</div>
