<div class="row">
  <!-- site Analytics card start -->
  <div class="col-xl-12 col-sm-12">
    <!-- <h3 class="mb-3">User Details</h3> -->
    <div class="row">
      <div class="col-sm-3">
        <app-card [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-primary text-white m-b-5 text-center">
          <div class="p-20 pb-0">
            <h4 class="m-0">Customer <span style="float: right;font-size: 25px; " class="text-primary">{{totalCustomerCount}}</span></h4>
            <p class="mb-3 mt-3">Total number of support requests that come in.</p>
          </div>

          <div class="app-card-footer">
            <div class="row text-center">
              <div (click)="getAllUserByRoleAndStatus('CUSTOMER','APPROVED')" class="col-md-4">
                <h5 class="m-0 text-white m-b-5 text-center">{{approvedCustomerCount}}</h5>
                <span class="btn btn-primary btn-sm shadow f-12">Registered</span> 
              </div>
   
              <div (click)="getAllUserByRoleAndStatus('CUSTOMER','PENDING')" class="col-md-4">
                <h5 class="m-0 text-white m-b-5 text-center">{{pendingCustomerCount}}</h5>
                <span class="btn btn-primary btn-sm shadow f-12">Pending</span>
              </div>
              <div (click)="getAllUserByRoleAndStatus('CUSTOMER','REJECTED')" class="col-md-4">
                <h5 class="m-0 text-white m-b-5 text-center">{{rejectedCustomerCount}}</h5>
                <span class="btn btn-primary btn-sm shadow f-12">Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-3">
        <app-card [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-success text-white m-b-5 text-center">
          <div class="p-20 pb-0">
            <h4 class="m-0">Supplier <span style="float: right;font-size: 25px; " class="text-success">{{totalSupplierCount}}</span></h4>
            <p class="mb-3 mt-3">Total number of support requests that come in.</p>
          </div>

          <div class="app-card-footer">
            <div class="row text-center">
              <div (click)="getAllUserByRoleAndStatus('SUPPLIER','APPROVED')" class="col-md-4">
                <h5 class="m-0 text-white m-b-5 text-center">{{approvedSupplierCount}}</h5>
                <span class="btn btn-success btn-sm shadow f-12">Registered</span>
              </div>
              <div (click)="getAllUserByRoleAndStatus('SUPPLIER','PENDING')" class="col-md-4">
                <h5 class="m-0 text-white m-b-5 text-center">{{pendingSupplierCount}}</h5>
                <span class="btn btn-success btn-sm shadow f-12">Pending</span>
              </div>
              <div (click)="getAllUserByRoleAndStatus('SUPPLIER','REJECTED')" class="col-md-4">
                <h5 class="m-0 text-white m-b-5 text-center">{{rejectedSupplierCount}}</h5>
                <span class="btn btn-success btn-sm shadow f-12">Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>

      <div class="col-sm-3">
        <app-card [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-danger text-white m-b-5 text-center">
          <div class="p-20 pb-0">
            <h4 class="m-0">Agent/Broker <span style="float: right;font-size: 25px; " class="text-danger">{{totalAgentCount}}</span></h4>
            <p class="mb-3 mt-3">Total number of support requests that come in.</p>
          </div>

          <div class="app-card-footer">
            <div class="row text-center">
              <div (click)="getAllUserByRoleAndStatus('AGENT','APPROVED')" class="col-md-4">
                <h5 class="m-0 text-white m-b-5 text-center">{{approvedAgentCount}}</h5>
                <span class="btn btn-danger btn-sm shadow f-12">Registered</span>
              </div>
              <div (click)="getAllUserByRoleAndStatus('AGENT','PENDING')" class="col-md-4">
                <h5 class="m-0 text-white m-b-5 text-center">{{pendingAgentCount}}</h5>
                <span class="btn btn-danger btn-sm shadow f-12">Pending</span>
              </div>
              <div (click)="getAllUserByRoleAndStatus('AGENT','REJECTED')" class="col-md-4">
                <h5 class="m-0 text-white m-b-5 text-center">{{rejectedAgentCount}}</h5>
                <span class="btn btn-danger btn-sm shadow f-12">Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-3">
        <app-card [hidHeader]="true" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-warning text-white m-b-5 text-center">
          <div class="p-20 pb-0">
            <h4 class="m-0">Contractor <span style="float: right;font-size: 25px; " class="text-warning">{{totalContractorCount}}</span></h4>
            <p class="mb-3 mt-3">Total number of support requests that come in.</p>
          </div>

          <div class="app-card-footer">
            <div class="row text-center">
              <div (click)="getAllUserByRoleAndStatus('CONTRACTOR','APPROVED')" class="col-md-4">
                <h5 class="m-0 text-white m-b-5 text-center">{{approvedContractorCount}}</h5>
                <span class="btn btn-warning btn-sm shadow f-12">Registered</span>
              </div>
              <div (click)="getAllUserByRoleAndStatus('CONTRACTOR','PENDING')" class="col-md-4">
                <h5 class="m-0 text-white m-b-5 text-center">{{pendingContractorCount}}</h5>
                <span class="btn btn-warning btn-sm shadow f-12">Pending</span>
              </div>
              <div (click)="getAllUserByRoleAndStatus('CONTRACTOR','REJECTED')" class="col-md-4">
                <h5 class="m-0 text-white m-b-5 text-center">{{rejectedContractorCount}}</h5>
                <span class="btn btn-warning btn-sm shadow f-12">Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>

  <!-- site Analytics card end -->

  <!-- project and team member start -->
  <div class="col-xl-12 col-md-12">
    <app-card cardTitle="Latest User" cardClass="table-card" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
            <tr>
               <th>Sr. No.</th>
              <th>User ID</th>
              <th>User Name</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Company Name</th>
            </tr>
          </thead>
          <tbody>
            <tr href="kdkd" *ngFor="let user of userList;let i = index">
              <td>{{i+1}}</td>
              <td *ngIf="selectedRole === 'CUSTOMER'">{{Ids.CUSTOMER + '-' + user.userDetialId}}</td>
              <td *ngIf="selectedRole === 'SUPPLIER'">{{Ids.SUPPLIER + '-' + user.userDetialId}}</td>
              <td *ngIf="selectedRole === 'AGENT'">{{Ids.AGENT + '-' + user.userDetialId}}</td>
              <td *ngIf="selectedRole === 'CONTRACTOR'">{{Ids.CONTRACTOR + '-' + user.userDetialId}}</td>
              <td *ngIf="selectedRole === 'TRANSPORTER'">{{Ids.TRANSPORTER + '-' + user.userDetialId}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.mobile}}</td>
              <td>{{user.emailId}}</td>
              <td>{{user.businessDetails[0]?.companyName}}</td>

            </tr>



          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  <!-- <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Latest Updates" cardClass="latest-update-card">
      <div class="latest-update-box">
        <div class="row p-t-30 p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 hrs ago</p>
            <i class="feather icon-twitter bg-twitter update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 1652 Followers</h6>
            </a>
            <p class="text-muted m-b-0">You’re getting more and more followers, keep it up!</p>
          </div>
        </div>
        <div class="row p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">4 hrs ago</p>
            <i class="feather icon-briefcase bg-c-red update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 5 New Products were added!</h6>
            </a>
            <p class="text-muted m-b-0">Congratulations!</p>
          </div>
        </div>
        <div class="row p-b-0">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 day ago</p>
            <i class="feather icon-facebook bg-facebook update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+1 Friend Requests</h6>
            </a>
            <p class="text-muted m-b-10">This is great, keep it up!</p>
            <div class="table-responsive">
              <table class="table table-hover">
                <tr>
                  <td class="b-none">
                    <a href="javascript:" class="align-middle">
                      <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                      <div class="d-inline-block">
                        <h6>Jeny William</h6>
                        <p class="text-muted m-b-0">Graphic Designer</p>
                      </div>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="javascript:" class="b-b-primary text-primary">View all Projects</a>
      </div>
    </app-card>
  </div> -->
  <!-- project and team member end -->





</div>