<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Select Details To Create Lot ID" [options]="false">
      <form #validationForm="ngForm" class="editForm" novalidate>
          <div class="row">
              <div class="col-md-5">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Job Work Type<small
                      class="asterik_sign">*</small></label>
                  <div class="col-sm-8">
                    <select class="form-control" name="validation-lotType"
                      [ngClass]="{'is-invalid': !lotType.valid && (lotType.dirty || lotType.touched || isSubmit)}"
                      #lotType="ngModel" required [(ngModel)]="formInput.lotType">
                      <option value> Select</option>
                      <option value="1">Without Purchase Invoice</option>
                      <option value="2">Job Work Other</option>
                    </select>
                    <label *ngIf="!lotType.valid && (lotType.dirty || lotType.touched || isSubmit)"
                      id="validation-lotType-error"
                      class="error jquery-validation-error small form-text invalid-feedback">required.</label>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                  <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Category<small
                          class="asterik_sign">*</small></label>
                      <div class="col-sm-8">
                        <select class="form-control" name="validation-lotType"
                          [ngClass]="{'is-invalid': !lotType.valid && (lotType.dirty || lotType.touched || isSubmit)}"
                          #lotType="ngModel" required [(ngModel)]="formInput.lotType">
                          <option value> Select</option>
                          <option value="1">Without Purchase Invoice</option>
                          <option value="2">Job Work Other</option>
                        </select>
                        <label *ngIf="!lotType.valid && (lotType.dirty || lotType.touched || isSubmit)"
                          id="validation-lotType-error"
                          class="error jquery-validation-error small form-text invalid-feedback">required.</label>
                      </div>
                    </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Contractor<small
                        class="asterik_sign">*</small></label>
                    <div class="col-sm-3">
                        <select class="form-control" name="validation-warId"
                        [ngClass]="{'is-invalid': !warId.valid && (warId.dirty || warId.touched || isSubmit)}"
                        #warId="ngModel" required [(ngModel)]="formInput.warId">
                        <option value>Id</option>
                        <option value="1">WAR-1</option>
                        <option value="1">WAR-2</option>
                        <option value="1">WAR-3</option>
                        <option value="1">WAR-4</option>
                        <option value="1">WAR-5</option>
                      </select>
                      <label *ngIf="!warId.valid && (warId.dirty || warId.touched || isSubmit)"
                      id="validation-warId-error"
                      class="error jquery-validation-error small form-text invalid-feedback">required.</label>
                    </div>
                    <div class="col-sm-5">
                      <select class="form-control" name="validation-pcId">
                        <option value> Name</option>
                        <option value="1">A-88</option>
                        <option value="2">L-24/25</option>
                        <option value="3">J-18</option>
                        <option value="4">M-67</option>
                        <option value="5">GROWELL</option>
                        <option value="6">PARAMSHAKTI</option>
                      </select>
                      <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
                    </div>
                  </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Machine Details<small
                          class="asterik_sign">*</small></label>
                      <div class="col-sm-3">
                          <select class="form-control" name="validation-warId"
                          [ngClass]="{'is-invalid': !warId.valid && (warId.dirty || warId.touched || isSubmit)}"
                          #warId="ngModel" required [(ngModel)]="formInput.warId">
                          <option value>Id</option>
                          <option value="1">WAR-1</option>
                          <option value="1">WAR-2</option>
                          <option value="1">WAR-3</option>
                          <option value="1">WAR-4</option>
                          <option value="1">WAR-5</option>
                        </select>
                        <label *ngIf="!warId.valid && (warId.dirty || warId.touched || isSubmit)"
                        id="validation-warId-error"
                        class="error jquery-validation-error small form-text invalid-feedback">required.</label>
                      </div>
                      <div class="col-sm-5">
                        <select class="form-control" name="validation-pcId">
                          <option value> Name</option>
                          <option value="1">A-88</option>
                          <option value="2">L-24/25</option>
                          <option value="3">J-18</option>
                          <option value="4">M-67</option>
                          <option value="5">GROWELL</option>
                          <option value="6">PARAMSHAKTI</option>
                        </select>
                        <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
                      </div>
                    </div>
                  </div>
              </div>
        <!--  -->
        <div class="row">
            <div class="col-md-5">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Company Id <small
                      class="asterik_sign">*</small></label>
                  <div class="col-sm-3">
                      <select class="form-control" name="validation-warId"
                      [ngClass]="{'is-invalid': !warId.valid && (warId.dirty || warId.touched || isSubmit)}"
                      #warId="ngModel" required [(ngModel)]="formInput.warId">
                      <option value>Id</option>
                      <option value="1">COM-1</option>
                      <option value="1">COM-2</option>
                      <option value="1">COM-3</option>
                      <option value="1">COM-4</option>
                      <option value="1">COM-5</option>
                    </select>
                    <label *ngIf="!warId.valid && (warId.dirty || warId.touched || isSubmit)"
                    id="validation-warId-error"
                    class="error jquery-validation-error small form-text invalid-feedback">required.</label>
                  </div>
                  <div class="col-sm-5">
                    <select class="form-control" name="validation-pcId">
                      <option value> Name</option>
                      <option value="1">A-88</option>
                      <option value="2">L-24/25</option>
                      <option value="3">J-18</option>
                      <option value="4">M-67</option>
                      <option value="5">GROWELL</option>
                      <option value="6">PARAMSHAKTI</option>
                    </select>
                    <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Warehouse Id <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-3">
                  <select class="form-control" name="validation-warId"
                  [ngClass]="{'is-invalid': !warId.valid && (warId.dirty || warId.touched || isSubmit)}"
                  #warId="ngModel" required [(ngModel)]="formInput.warId">
                  <option value>Id</option>
                  <option value="1">WAR-1</option>
                  <option value="1">WAR-2</option>
                  <option value="1">WAR-3</option>
                  <option value="1">WAR-4</option>
                  <option value="1">WAR-5</option>
                </select>
                <label *ngIf="!warId.valid && (warId.dirty || warId.touched || isSubmit)"
                id="validation-warId-error"
                class="error jquery-validation-error small form-text invalid-feedback">required.</label>
              </div>
              <div class="col-sm-5">
                <select class="form-control" name="validation-pcId">
                  <option value> Name</option>
                  <option value="1">A-88</option>
                  <option value="2">L-24/25</option>
                  <option value="3">J-18</option>
                  <option value="4">M-67</option>
                  <option value="5">GROWELL</option>
                  <option value="6">PARAMSHAKTI</option>
                </select>
                <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
              </div>
         
            </div>
          </div>
        </div>
        <!--  -->
        
        <!--  -->
        <div class="row">
          <div class="col-md-5">
              <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Priority Level<small
                      class="asterik_sign">*</small></label>
                  <div class="col-sm-8">
                    <select class="form-control" name="validation-pcId">
                      <option value> Name</option>
                      <option value="1">A-88</option>
                      <option value="2">L-24/25</option>
                      <option value="3">J-18</option>
                      <option value="4">M-67</option>
                      <option value="5">GROWELL</option>
                      <option value="6">PARAMSHAKTI</option>
                    </select>
                  </div>
                </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
             
            </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <button type="submit" class="btn btn-success" uiSref="work" (click)="save(validationForm)">Generate Procesing Id</button>
  </div>
</div> 
<div class="mt-3">
  <app-add-product-cart></app-add-product-cart>
  <app-add-product-cart></app-add-product-cart>
</div>