<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Create Sales Invoice" [options]="false">
      <form #validationForm="ngForm" class="editForm" novalidate>
        <div class="row">
   
          <div class="col-md-5">
              <h5>Seller Company Detail</h5>
              <hr>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Company Id <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-3">
                <select class="form-control" name="validation-customerId"
                  [ngClass]="{'is-invalid': !customerId.valid && (customerId.dirty || customerId.touched || isSubmit)}"
                  #customerId="ngModel" required [(ngModel)]="formInput.customerId">
                  <option value>Id</option>
                  <option value="1">CU-#121</option>
                  <option value="2">CU-#564</option>
                  <option value="3">CU-#754</option>
                </select>
                <label *ngIf="!customerId.valid && (customerId.dirty || customerId.touched || isSubmit)"
                  id="validation-customerId-error"
                  class="error jquery-validation-error small form-text invalid-feedback">required.</label>
              </div>
              <div class="col-sm-5">
                <select class="form-control" name="validation-pcId">
                  <option value> Name</option>
                  <option value="1">Kamles</option>
                  <option value="2">Rajinder</option>
                  <option value="3">Diljeet</option>
                  <option value="4">Mannu</option>
                  <option value="5">Amjad</option>
                </select>
                <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
              <h5>Buyer ( Billing Address )</h5>
            <hr>
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Company Id <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-3">
                <select class="form-control" name="validation-companyId"
                  [ngClass]="{'is-invalid': !companyId.valid && (companyId.dirty || companyId.touched || isSubmit)}"
                  #companyId="ngModel" required [(ngModel)]="formInput.companyId">
                  <option value>Id</option>
                  <option value="1">COMP-1</option>
                  <option value="2">COMP-2</option>
                  <option value="3">COMP-3</option>
                  <option value="4">COMP-4</option>
                </select>
                <label *ngIf="!companyId.valid && (companyId.dirty || companyId.touched || isSubmit)"
                  id="validation-companyId-error"
                  class="error jquery-validation-error small form-text invalid-feedback">required.</label>
              </div>
              <div class="col-sm-5">
                <select class="form-control" name="validation-pcId">
                  <option value> Name</option>
                  <option value="1">GP Global Energy</option>
                  <option value="1">GP Global Asphalt</option>
                  <option value="1">GP Global Kimitsu</option>
                </select>
                <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Address</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Address</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
        </div>
         <!--  -->
         <div class="row">
            <div class="col-md-5">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Pincode</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Pincode</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>
           <!--  -->
        <div class="row">
            <div class="col-md-5">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">City</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">City</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>
           <!--  -->
        <div class="row">
            <div class="col-md-5">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">GST</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">GST</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="">
                </div>
              </div>
            </div>
          </div>
      </form>
    </app-card>

    <app-card cardTitle="Sales Invoice Details" [options]="false">
      <form #validationForm="ngForm" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Buyer Order No.</label>
              <input type="text" class="form-control" placeholder="Enter Order No.">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Buyer Order Date</label>
              <input type="date" class="form-control" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">E-Way Bill No.</label>
              <input type="text" class="form-control" placeholder="Enter Bill No.">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">E-Way Bill Date</label>
              <input type="date" class="form-control" placeholder="">
            </div>
          </div>
          <div class="col-md-2">
              <div class="form-group">
                <label for="validationCustom02">Payment Term</label>
                <select class="form-control">
                  <option value>Select</option>
                  <option value="1"></option>
                </select>
              </div>
            </div>
        
        </div>
      </form>
    </app-card>
    <app-card cardTitle="Product Details" [options]="false">
        <div class="table-responsive">
            <table class="table invoice-detail-table text-center">
              <thead>
                <tr class="thead-default">
                  <th>Sr. No.</th>
                  <th>Prod. Id</th>
                  <th>Description</th>
                  <th>Thickness <span class="d-block">(mm)</span></th>
                  <th>Width <span class="d-block">(mm)</span></th>
                  <th>Length <span class="d-block">(mm)</span></th>
                  <th>Temper</th>
                  <th>Net Wt. <span class="d-block">(mt.)</span></th>
                  <th>HSN /SAC<span class="d-block">(Code)</span></th>
                  <th>Price<span class="d-block">(mt.)</span></th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1.</td>
                  <td><a routerLink="">P-928</a></td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td>1.22</td>
                  <td>800</td>
                  <td>Coil</td>
                  <td>T4</td>
                  <td>2.12</td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td class="text-danger"></td>
                </tr>
                <tr>
                  <td>2.</td>
                  <td><a routerLink="">P-928</a></td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td>1.22</td>
                  <td>800</td>
                  <td>Coil</td>
                  <td>T4</td>
                  <td>2.12</td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td class="text-danger"></td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td><a routerLink="">P-928</a></td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td>1.22</td>
                  <td>800</td>
                  <td>Coil</td>
                  <td>T4</td>
                  <td>2.12</td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td class="text-danger"></td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td><a routerLink="">P-928</a></td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td>1.22</td>
                  <td>800</td>
                  <td>Coil</td>
                  <td>T4</td>
                  <td>2.12</td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td class="text-danger"></td>
                </tr>
                <tr>
                  <td>5.</td>
                  <td><a routerLink="">P-928</a></td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td>1.22</td>
                  <td>800</td>
                  <td>Coil</td>
                  <td>T4</td>
                  <td>2.12</td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td class="text-danger"></td>
                </tr>
                <tr>
                  <td>6.</td>
                  <td><a routerLink="">P-928</a></td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td>1.22</td>
                  <td>800</td>
                  <td>Coil</td>
                  <td>T4</td>
                  <td>2.12</td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td><input type="text" class="form-control" placeholder=""></td>
                  <td class="text-danger"></td>
                </tr>
              </tbody>
            </table>
          </div>
    </app-card>
    <app-card cardTitle="GST Details" [options]="false">
        <form #validationForm="ngForm" class="editForm" novalidate>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label for="validationCustom02">CGST</label>
                <input type="text" class="form-control" placeholder="Enter CGST">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="validationCustom02">SGST</label>
                <input type="text" class="form-control" placeholder="Enter SGST">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="validationCustom02">IGST</label>
                <input type="text" class="form-control" placeholder="Enter IGST">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="validationCustom02">GST Comp Cess</label>
                <input type="text" class="form-control" placeholder="Enter GST Comp">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="validationCustom02">TCS</label>
                <input type="text" class="form-control" placeholder="Enter TCS">
                
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="validationCustom02">Total GST</label>
                <input type="text" class="form-control" placeholder="Enter Total GST">
              </div>
            </div>
          </div>
        </form>
      </app-card>
    <app-card cardTitle="Transport Details" [options]="false">
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Transporter Id</label>
              <select class="form-control" name="validation-companyName">
                  <option value>Select Transporter Id</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Transport Reciept</label>
              <input type="text" class="form-control" placeholder="Enter Reciept">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Vehicle Number</label>
              <input type="text" class="form-control" placeholder="Enter Vehicle">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Container No.</label>
              <input type="email" class="form-control" placeholder="Enter Container">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Source Gross Wt.</label>
              <input type="email" class="form-control" placeholder="Enter Gross Wt.">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Source Net Wt.</label>
              <input type="email" class="form-control" placeholder="Enter Net Wt.">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Driver Name</label>
              <input type="text" class="form-control" placeholder="Enter Driver">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Driver Mobile</label>
              <input type="text" class="form-control" placeholder="Enter Mobile">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Licence Number</label>
              <input type="text" class="form-control" placeholder="Enter Licence">
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Mode</label>
              <select class="form-control" name="validation-companyName">
                <option value>Select Mode</option>
                <option value="1">Road</option>
                <option value="2">Train</option>
                <option value="3">Air</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Delivery </label>
              <select class="form-control" name="validation-companyName">
                <option value>Select Delivery</option>
                <option value="1">Our Warehouse</option>
                <option value="2">Customer Warehouse</option>
              </select>
            </div>
          </div> 
          <div class="col-md-2">
            <div class="form-group">
              <label for="validationCustom02">Any Other</label>
              <input type="email" class="form-control" placeholder="Other">
            </div>
          </div>
        </div>
      </app-card>
      <app-card cardTitle="Enter Bank Details" [options]="false">
          <form #validationForm="ngForm" class="editForm" novalidate>
            <div class="row">
              <div class="col-md-2">
                <div class="form-group">
                  <label for="validationCustom02">Benefeciary Name</label>
                  <input type="text" class="form-control" placeholder="Enter Order No.">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="validationCustom02">Bank Name</label>
                  <input type="date" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="validationCustom02">Account No.</label>
                  <input type="text" class="form-control" placeholder="Enter Bill No.">
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="validationCustom02">Branch Name</label>
                  <input type="date" class="form-control" placeholder="">
                </div>
              </div>
              <div class="col-md-2">
                  <div class="form-group">
                    <label for="validationCustom02">Account Type</label>
                    <select class="form-control">
                      <option value>Select</option>
                      <option value="1"></option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                      <label for="validationCustom02">IFSC Code</label>
                      <input type="date" class="form-control" placeholder="">
                    </div>
                  </div>
            </div>
          </form>
        </app-card>
    </div>
    </div>
    <button type="submit" class="btn btn-success active">Send for Approval</button>&nbsp;