<app-card cardTitle="Add New User" [options]="false">
  <wizard #wizard class="arc-wizard" navBarLayout="large-empty-symbols">
    <wizard-step stepTitle="Personal Detail" navigationSymbol="1">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="bg-clr-head1 p-10">Personal Detail</h5>
          <hr />
          <app-personal-details (selectedRole)="getSelectedRole($event)" (prsonalData)="getPersonData($event)"></app-personal-details>
        </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Business Details" navigationSymbol="2">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="bg-clr-head1 p-10">Business Details</h5>
          <hr />
          <app-company-details (companyDetails)="companyDetailData($event)"></app-company-details>
        </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Key Person Details" navigationSymbol="3">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="bg-clr-head1 p-10">Key Person Details</h5>
          <hr />
          <app-keyperson-details (keyPerson)="keyPersonData($event)"></app-keyperson-details>
        </div>
      </div>
    </wizard-step>
    <wizard-step *ngIf="selectedRole=='CUSTOMER' || selectedRole=='SUPPLIER' " stepTitle="Trade Details" navigationSymbol="4">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="bg-clr-head1 p-10">Fill your Material Requirements</h5>
          <hr />
          <app-trade-details (tradeDetail)="tradeData($event)"></app-trade-details>
        </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Terms & conditions" navigationSymbol="5">
      <div class="row">
        <div class="col-sm-12">
          <h5 class="bg-clr-head1 p-10">Finished</h5>
          <hr />
          <app-terms-conditions (readyToUpdate)="finalSubmit()"></app-terms-conditions>
        </div>
      </div>
    </wizard-step>
  </wizard>
</app-card>
