            <div class="user-profile user-card mb-4">
  <div class="card-header border-0 p-0 pb-0">
    <div class="cover-img-block">
      <div class="overlay"></div>
      <div class="change-cover">
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="user-about-block m-0">
      <div class="row">
        <div class="col-md-4 mt-md-4">
          <h3 class="f-24">Edit Purchase Confirmation</h3>
          <p class="m-b-5 text-dark f-w-600">PC Id : <span class="text-muted">PC-{{pcResponse?.purchase?.id}}</span> <span
              class="f-w-600 text-success"> {{pcResponse?.purchase?.status}}</span></p>
          <p class="m-b-5 text-dark f-w-600">PC Title : <span class="text-muted">{{pcResponse?.purchase?.title}}</span></p>
        </div>
        <div class="col-md-6 mt-md-4">
          <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'home'}"
                (click)="this.activeTab = 'home'" id="home-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="home" aria-selected="true"><i class="feather icon-home mr-2"></i>PC Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'profile'}"
                (click)="this.activeTab = 'profile'" id="profile-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="profile" aria-selected="false"><i class="feather icon-user mr-2"></i>Product Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'contact'}"
                (click)="this.activeTab = 'contact'" id="contact-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="contact" aria-selected="false"><i class="feather icon-phone mr-2"></i>Transport
                Details</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'gallery'}"
                  (click)="this.activeTab = 'gallery'" id="gallery-tab" data-toggle="tab" href="javascript:" role="tab"
                  aria-controls="gallery" aria-selected="false"><i class="feather icon-image mr-2"></i>Trade</a>
              </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- profile body start -->
<div class="row">
  <div class="col-md-12 order-md-2">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'home'}" id="home" role="tabpanel"
        aria-labelledby="home-tab">
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">PC Details</h5>
            <!-- <button type="button"
              (click)="this.editProfile1 = !this.editProfile1; this.editProfileIcon = this.editProfile1 ? 'icon-x': 'icon-edit';"
              class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
              aria-expanded="false" aria-controls="pro-det-edit-1">
              <i class="feather" [ngClass]="editProfileIcon"></i>
            </button> -->
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile1">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Category</label>
              <div class="col-sm-9">
                {{pcResponse?.purchase?.productCategory}}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Shape</label>
              <div class="col-sm-9">
                {{pcResponse?.purchase?.productShape}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Company</label>
              <div class="col-sm-9">
                {{pcResponse?.company?.name}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Warehouse</label>
              <div class="col-sm-9">
                {{pcResponse?.warehouse?.name}}
              </div>
            </div>
          </app-card>
          <!-- <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile1">
            <form [formGroup]="pcDetails" (ngSubmit)="submitPcDetails()">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Category</label>
                <div class="col-sm-9">
                  <select class="form-control" id="exampleFormControlSelect1" formControlName="productCategory">
                    <option 
                      *ngFor="let category of productCategoryList; let i=index" 
                      [value]="category" 
                      [selected]="(category === pcResponse?.purchase?.productCategory) ? true : false">
                      {{category}}
                    </option>
                  </select>
                  <small *ngIf="f1.productCategory.value == '' && (f1.productCategory.dirty || f1.productCategory.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Shape</label>
                <div class="col-sm-9">
                  <select class="form-control" id="exampleFormControlSelect2" formControlName="productShape">
                    <option *ngFor="let shape of productShapeList; let i=index"
                      [value]="shape"
                      [selected]="(shape === pcResponse?.purchase?.productShape) ? true : false">
                    {{shape}}
                    </option>
                  </select>
                  <small *ngIf="f1.productShape.value == '' && (f1.productShape.dirty || f1.productShape.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Company</label>
                <div class="col-sm-9">
                  <input type="text"  class="form-control" disabled formControlName="comapnyName">
                  <small *ngIf="f1.comapnyName.value == '' && (f1.comapnyName.dirty || f1.comapnyName.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Warehouse</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" disabled formControlName="warehouseName">
                  <small *ngIf="f1.warehouseName.value == '' && (f1.warehouseName.dirty || f1.warehouseName.touched )" id="passwordHelpBlock" class="form-text text-muted"
        >This field is required.</small>
                </div>
              </div>
  
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </form>
          </app-card> -->
        </div>
      </div>
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'profile'}" id="profile" role="tabpanel"
        aria-labelledby="profile-tab">
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Product Details</h5>
            <button type="button" (click)="this.editProfile = !this.editProfile;"
              class="btn btn-primary btn-sm rounded m-0 float-right">Add More</button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile" >
            <div  class="dt-responsive table-responsive" cardClass="card-datatable">
              <table *ngIf="productList" datatable class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Shape</th>
                    <th>Class</th>
                    <th>Thk. Range (mm)</th>
                    <th>Width Range</th>
                    <th>Length</th>
                    <th>Temper</th>
                    <th>Hardness</th>
                    <th>Height</th>
                    <th>Coating</th>
                    <th>Defect</th>
                    <th>Origin</th>
                    <th>Oiling</th>
                    <th>Surface</th>
                    <th>Annealing</th>
                    <th>Finish</th>
                    <th>Packaging</th>
                    <th>Gross Wt.</th>
                    <th>Net Wt.</th>
                    <th>Remarks</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of productList; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{product?.productType?.productType}}</td>
                    <td>{{product?.productCategory?.productCategory}}</td>
                    <td>{{product?.productShape?.productShape}}</td>
                    <td>{{product?.productClass?.productClass}}</td>
                    <td>{{product?.thicknessMin}} - {{product?.thicknessMax}}</td>
                    <td>{{product?.widthMin}} - {{product?.widthMax}}</td>
                    <td>{{product?.lengthMin}} - {{product?.lengthMax}}</td>
                    <td>{{product?.temperMax?.productTemper}}</td>
                    <td>{{product?.hardnessMax?.productHardness}}</td>
                    <td>{{product?.heigth}}</td>
                    <td>{{product?.productCoating?.productCoating}}</td>
                    <td>{{product?.productDefect?.productDefect}}</td>
                    <td>{{product?.productOrigin?.productOrigin}}</td>
                    <td>{{product?.productOiling?.productOiling}}</td>
                    <td>{{product?.productSurfaceCoating?.productSurfaceCoating}}</td>
                    <td>{{product?.productAnnealing?.productAnnealing}}</td>
                    <td>{{product?.productFinish?.productFinish}}</td>
                    <td>{{product?.productPackaging?.productPackaging}}</td>
                    <td>{{product?.gwt}}</td>
                    <td>{{product?.nwt}}</td>
                    <td>{{product?.remarks}}</td>
                    <td>
                      <button type="button" class="btn btn-icon btn-success"><i
                          class="feather icon-check-circle"></i></button>
                      <button type="button" class="btn btn-icon btn-danger"><i
                          class="feather icon-trash-2"></i></button>&nbsp;
                    </td>
                  </tr>
                
                </tbody>
              </table>
            </div><br>
            <button type="submit" class="btn btn-primary" uiSref="work" (click)="saveProductList()">Save</button>

          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile">
            <app-material-classification-specification (productData)= "getProductData($event)" [component] = "'purchase'"></app-material-classification-specification>
            <!-- <form [formGroup]="addProductDetails" (ngSubmit)="submitProductDetails()" >
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Type</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect1" formControlName="productType">
                    <option *ngFor="let type of productTypeList; let i=index"
                      [value]="type">{{type}}</option>
                  </select>
                  <small *ngIf="f.productType.value == '' && (f.productType.dirty || f.productType.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Category</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect2" formControlName="productCategory">
                    <option *ngFor="let category of productCategoryList; let i=index"
                      [value]="category">{{category}}</option>
                  </select>
                  <small *ngIf="f.productCategory.value == '' && (f.productCategory.dirty || f.productCategory.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Shape</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect3" formControlName="productShape">
                    <option *ngFor="let shape of productShapeList; let i=index"
                      [value]="shape">{{shape}}</option>
                  </select>
                  <small *ngIf="f.productShape.value == '' && (f.productShape.dirty || f.productShape.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Class</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect4" formControlName="productClass">
                    <option *ngFor="let class of productClassList; let i=index"
                      [value]="class">{{class}}</option>
                  </select>
                  <small *ngIf="f.productClass.value == '' && (f.productClass.dirty || f.productClass.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Thickness Range</label>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-md-6">
                       <input type="text" class="form-control" placeholder="Min" formControlName="thicknessMin">
                       <small *ngIf="f.thicknessMin.value == '' && (f.thicknessMin.dirty || f.thicknessMin.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                      </div>
                    <div class="col-md-6"> 
                      <input type="text" class="form-control" placeholder="Max" formControlName="thicknessMax">
                      <small *ngIf="f.thicknessMax.value == '' && (f.thicknessMax.dirty || f.thicknessMax.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                      <small *ngIf="f.thicknessMax.value !== '' && !f.thicknessMax.valid " id="passwordHelpBlock" class="form-text text-muted"
            >Maximum thickness should be greater than minimum thickness.</small
          >
                    </div>
                  </div>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Width Range</label>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-md-6"> 
                      <input type="text" class="form-control" placeholder="Min"formControlName="widthMin">
                    </div>
                    <div class="col-md-6"> 
                      <input type="text" class="form-control" placeholder="Max" formControlName="widthMax">
                      <small *ngIf="f.widthMax.value !== '' && !f.widthMax.valid " id="passwordHelpBlock" class="form-text text-muted"
            >Maximum width should be greater than minimum width.</small
          >
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Length Range</label>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-md-6"> 
                      <input type="text" class="form-control" placeholder="Min" formControlName="lengthMin">
                    </div>
                    <div class="col-md-6"> 
                      <input type="text" class="form-control" placeholder="Max" formControlName="lengthMax">
                      <small *ngIf="f.lengthMax.value !== '' && !f.lengthMax.valid " id="passwordHelpBlock" class="form-text text-muted"
            >Maximum length should be greater than minimum length.</small
          >
                    </div>
                  </div>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Temper Range</label>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-md-6"> 
                      <input type="text" class="form-control" placeholder="Min" formControlName="productTemperMin">
                      <small *ngIf="f.productTemperMin.value == '' && (f.productTemperMin.dirty || f.productTemperMin.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                    </div>
                    <div class="col-md-6"> 
                      <input type="text" class="form-control" placeholder="Max" formControlName="productTemperMax">
                      <small *ngIf="f.productTemperMax.value == '' && (f.productTemperMax.dirty || f.productTemperMax.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                      <small *ngIf="f.productTemperMax.value !== '' && !f.productTemperMax.valid " id="passwordHelpBlock" class="form-text text-muted"
            >Maximum temper should be greater than minimum temper.</small
          >
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Hardness</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect5" formControlName="productHardness">
                    <option *ngFor="let hardness of productHardnessList; let i=index"
                      [value]="hardness">{{hardness}}</option>
                  </select>
                  <small *ngIf="f.productHardness.value == '' && (f.productHardness.dirty || f.productHardness.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Coating</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect6" formControlName="productCoating">
                    <option *ngFor="let coating of productCoatingList; let i=index"
                      [value]="coating">{{coating}}</option>
                  </select>
                  <small *ngIf="f.productCoating.value == '' && (f.productCoating.dirty || f.productCoating.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Defect</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect7" formControlName="productDefect">
                    <option *ngFor="let defect of productDefectList; let i= index"
                      [value]="defect">{{defect}}</option>
                  </select>
                  <small *ngIf="f.productDefect.value == '' && (f.productDefect.dirty || f.productDefect.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Origin</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect8" formControlName="productOrigin">
                    <option *ngFor="let origin of productOriginList; let i=index"
                      [value]="origin">{{origin}}</option>
                  </select>
                 
                </div>
              </div>
    
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Oiling</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect9" formControlName="productOiling">
                    <option *ngFor="let oiling of productOilingList; let i=index"
                      [value]="oiling">{{oiling}}</option>
                  </select>
                  <small *ngIf="f.productOiling.value == '' && (f.productOiling.dirty || f.productOiling.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Surface</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect10" formControlName="productSurfaceCoating">
                    <option *ngFor="let surface of productSurfaceList; let i=index"
                      [value]="surface">{{surface}}</option>
                  </select>
                  <small *ngIf="f.productSurfaceCoating.value == '' && (f.productSurfaceCoating.dirty || f.productSurfaceCoating.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Annealing</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect11" formControlName="productAnnealing">
                    <option *ngFor="let annealing of productAnnealingList; let i=index"
                      [value]="annealing">{{annealing}}</option>
                  </select>
                  <small *ngIf="f.productAnnealing.value == '' && (f.productAnnealing.dirty || f.productAnnealing.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Finish</label>
                <div class="col-sm-3">
                  <select class="form-control" id="exampleFormControlSelect12" formControlName="productFinish">
                    <option *ngFor="let finish of productFinishList; let i=index"
                      [value]="finish">{{finish}}</option>
                  </select>
                  <small *ngIf="f.productFinish.value == '' && (f.productFinish.dirty || f.productFinish.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Gross Wt.</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="Mt." formControlName="gwt">
                  <small *ngIf="f.gwt.value !== '' && !f.gwt.valid " id="passwordHelpBlock" class="form-text text-muted"
                >This field only accepts numbers and this symbol:.</small>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Net Wt.</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="Mt." formControlName="nwt">
                  <small *ngIf="f.nwt.value !== '' && !f.nwt.valid " id="passwordHelpBlock" class="form-text text-muted"
                >This field only accepts numbers and this symbol:.</small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Remarks</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="" formControlName="remarks">
                <small *ngIf="f.remarks.value.length!== '' && f.remarks.errors?.minlength  " id="passwordHelpBlock" class="form-text text-muted"
                  >Remarks should be more than 2 characters.</small>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-1">
                  <button type="submit" class="btn btn-primary">Save</button>&nbsp;
                </div>
                <div class="col-sm-2">
                  <span style="float: left;"> <button type="button"
                      (click)="this.editProfile = !this.editProfile; this.editProfileIcon = this.editProfile ? 'icon-x': 'icon-x';"
                      class="btn btn-primary rounded m-0 float-right">
                      Cancel
                    </button></span>
                </div>
              </div>
            </form> -->
          </app-card>
        </div>
      </div>
      <!-- transport -->
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'contact'}" id="contact" role="tabpanel"
        aria-labelledby="contact-tab">
        <div class="merge-card">
          <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
            <h5 class="mb-0">Transport Details</h5>
            <button type="button"
              (click)="this.editProfile3 = !this.editProfile3; this.editProfileIcon = this.editProfile3 ? 'icon-x': 'icon-edit';"
              class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit"
              aria-expanded="false" aria-controls="pro-det-edit-3">
              <i class="feather" [ngClass]="editProfileIcon"></i>
            </button>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile3">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Supplier Id</label>
              <div class="col-sm-3">
                SU-{{pcResponse?.purchase?.supplierId}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Transpoter Id</label>
              <div class="col-sm-3">
                TP-{{pcResponse?.purchase?.transportId}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Expected Delivery</label>
              <div class="col-sm-3">
                {{pcResponse?.purchase?.expectedDate | date: 'medium'}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Net Weight </label>
              <div class="col-sm-3">
                {{pcResponse?.purchase?.netWt}} Mt.
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Gross Weight</label>
              <div class="col-sm-3">
                {{pcResponse?.purchase?.grossWt}} Mt.
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Container Number</label>
              <div class="col-sm-3">
                {{pcResponse?.purchase?.containerNumber}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Material Description </label>
              <div class="col-sm-3">
                {{pcResponse?.purchase?.materialDescription}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">No. of Coils/Bundles </label>
              <div class="col-sm-3">
                {{pcResponse?.purchase?.coilsBundle}}
              </div>
            </div>
            <div class="form-group row">
             
              <label class="col-sm-3 col-form-label font-weight-bolder">Vehicle Number</label>
              <div class="col-sm-3">
                {{pcResponse?.purchase?.lorryNumber}}
              </div>
            </div>
            <!-- <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Driver Name</label>
              <div class="col-sm-3">
                Ramesh Aggarwal??
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Driver Mobile</label>
              <div class="col-sm-3">
                +91-9978262522??
              </div>
            </div> -->
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile3">
            <form [formGroup]="transportDetails" (ngSubmit)="submitTransportDetails()">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Supplier Id</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="" formControlName="supplierId" disabled>
                  <small *ngIf="f2.supplierId.value == '' && (f2.supplierId.dirty || f2.supplierId.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small>
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Transpoter Id</label>
                <div class="col-sm-3">
                  <!-- <div class="row"> -->
                    <!-- <div class="col-md-5"> -->
                      <input type="text" class="form-control" disabled placeholder="" formControlName="transportId">
                      <small *ngIf="f2.transportId.value == '' && (f2.transportId.dirty || f2.transportId.touched )" id="passwordHelpBlock" class="form-text text-muted"
                      >This field is required.</small>
                      <small *ngIf="f2.transportId.value !== '' && !f2.transportId.valid " id="passwordHelpBlock" class="form-text text-muted"
                      >This field only accepts numeric values.</small
                    >

                      <!-- <select class="form-control" id="" formControlName="transportId">
                        <option value="1">TP-022</option>
                        <option value="2">TP-352</option>
                        <option value="3">TP-234</option>
                      </select> -->
                    <!-- </div> -->
                    <!-- <div class="col-md-7"> -->
                      <!-- <select class="form-control" id="">
                        <option value="1">Shri Transport Pvt Ltd.</option>
                        <option value="2">Vidya Transport Pvt Ltd.</option>
                        <option value="3">Kamal Transport Pvt Ltd.</option>
                      </select> -->
                    <!-- </div> -->
                  <!-- </div> -->
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Expected Delivery</label>
                <div class="col-sm-3">
                  <input type="date" class="form-control" placeholder="" formControlName="expectedDate">
                  <small *ngIf="f2.expectedDate.value == '' && (f2.expectedDate.dirty || f2.expectedDate.touched )" id="passwordHelpBlock" class="form-text text-muted"
                     >This field is required.</small>
                </div>
                <!-- <label class="col-sm-3 col-form-label font-weight-bolder">Invoice Number</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="" formControlName="invoice">
                  <small *ngIf="f2.invoice.value == '' && (f2.invoice.dirty || f2.invoice.touched )" id="passwordHelpBlock" class="form-text text-muted"
                     >This field is required.</small>
                </div> -->
                <label class="col-sm-3 col-form-label font-weight-bolder">Net Weight</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="" formControlName="netWt">
                  <small *ngIf="f2.netWt.value !== '' && !f2.netWt.valid " id="passwordHelpBlock" class="form-text text-muted"
            >This field only accepts numbers and this symbol:.</small
          >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Gross Weight</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="" formControlName="grossWt">
                  <small *ngIf="f2.grossWt.value !== '' && !f2.grossWt.valid " id="passwordHelpBlock" class="form-text text-muted"
            >This field only accepts numbers and this symbol:.</small
          >
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Container Number
                </label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="" formControlName="containerNumber">
                  <small *ngIf="f2.containerNumber.value == '' && (f2.containerNumber.dirty || f2.containerNumber.touched )" id="passwordHelpBlock" class="form-text text-muted"
                     >This field is required.</small>
                     <small *ngIf="f2.containerNumber.value !== '' && !f2.containerNumber.valid " id="passwordHelpBlock" class="form-text text-muted"
            >This field only accepts alphanumeric characters and these symbols: - . ( ) _</small
          >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Material Description</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="" formControlName="materialDescription">
                  <small *ngIf="f2.materialDescription.value == '' && (f2.materialDescription.dirty || f2.materialDescription.touched )" id="passwordHelpBlock" class="form-text text-muted"
            >This field is required.</small>
            <small *ngIf="f2.materialDescription.value !== '' && !f2.materialDescription.valid " id="passwordHelpBlock" class="form-text text-muted"
            >Material Description should be more than 2 characters.</small
          >
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">No. of Coils/Bundles</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="" formControlName="coilsBundle">
                  <small *ngIf="f2.coilsBundle.value == '' && (f2.coilsBundle.dirty || f2.coilsBundle.touched )" id="passwordHelpBlock" class="form-text text-muted"
            >This field is required.</small>
            <small *ngIf="f2.coilsBundle.value !== '' && !f2.coilsBundle.valid " id="passwordHelpBlock" class="form-text text-muted"
            >This field only accepts numbers and this symbol:.</small
          >
                </div>
              </div>
              <div class="form-group row">
                
                <label class="col-sm-3 col-form-label font-weight-bolder">Vehicle Number</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="" formControlName="lorryNumber">
                  <small *ngIf="f2.lorryNumber.value == '' && (f2.lorryNumber.dirty || f2.lorryNumber.touched )" id="passwordHelpBlock" class="form-text text-muted"
                     >This field is required.</small>
                     <small *ngIf="f2.lorryNumber.value !== '' && !f2.lorryNumber.valid " id="passwordHelpBlock" class="form-text text-muted"
            >This field only accepts alphanumeric characters and these symbols: - . ( ) _</small
          >
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-sm-3 col-form-label font-weight-bolder">Driver Name
                </label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="" formControlName="driverName">
                   <small *ngIf="f2.driverName.value == '' && (f2.driverName.dirty || f2.driverName.touched )" id="passwordHelpBlock" class="form-text text-muted"
            >This field is required.</small>
            <small *ngIf="f2.driverName.value !== '' && f2.driverName.errors?.minlength " id="passwordHelpBlock" class="form-text text-muted"
            >Driver Name should be more than 2 characters.</small
          >
                </div>
                <label class="col-sm-3 col-form-label font-weight-bolder">Driver Mobile</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control" placeholder="" formControlName="driverMobile">
                  <!-- <small *ngIf="f2.driverMobile.value == '' && (f2.driverMobile.dirty || f2.driverMobile.touched )" id="passwordHelpBlock" class="form-text text-muted"
                  >This field is required.</small> 
                    <small *ngIf="f2.driverMobile.value !== '' && f2.driverMobile.errors?.contactNumberValidation " id="passwordHelpBlock" class="form-text text-muted"
                  >This field only accepts 10 or 13 digits.</small>
                  
                </div>
              </div> -->
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </form>
          </app-card>
        </div>
      </div>
      <!--  -->
    </div>
  </div>
</div>
<!-- profile body end -->
<div class="row">
  <div class="col-md-12 text-center">
    <button type="submit" class="btn btn-danger active">Export PDF</button>&nbsp;
    <button type="submit" class="btn btn-success active">Print</button>&nbsp;
  </div>
</div>