<div class="row">
    <div class="col-md-12">
      <app-card [hidHeader]="true" cardClass="tab-card">
        <h5 class="mb-3">Processing Approval System</h5>
        <ngb-tabset (tabChange)="onTabChange($event)" type="pills">
          <ngb-tab title="Pending" id="pendingTab" class="mb-3">
            <ng-template ngbTabContent>
              <app-card [hidHeader]="true"  cardClass="user-profile-list">
              <div *ngIf="pendingProductList" class="dt-responsive table-responsive" cardClass="card-datatable">
                <table datatable class="table table-striped table-xs table-hover" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Sr. No.</th>
                      <th>Processing ID</th>
                      <th>Processing Type</th>
                      <th>Category</th>
                      <th>Company ID</th>
                      <th>Warehouse ID</th>
                      <th>Machine ID</th>
                      <th>Date of Creation</th>
                      <th>Last Mod. Date</th>
                       <th>Action</th>
                      <!-- th>Created By</th>
                      <th>Last Modified By</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of pendingProductList; let i= index">
                      <td><label class="badge badge-warning">{{product?.status}}</label></td>
                      <td>{{i+1}}</td>
                      <td *ngIf="product.processingType === 'SHEARING'">{{Ids.MATERIAL_SHEARING + '-' + product?.productProcessingId}}</td>
                      <td *ngIf="product.processingType === 'BLANKING'">{{Ids.MATERIAL_BLANKING + '-' + product?.productProcessingId}}</td>
                      <td *ngIf="product.processingType === 'ASSORTING'">{{Ids.MATERIAL_ASSORTING + '-' + product?.productProcessingId}}</td>
                      <td>{{product?.jobWorkType}}</td>
                      <td>{{product?.productCategory?.productCategory}}</td>
                      <td>COM-{{product?.companyId}}</td>
                      <td>WAR-{{product?.warehouseId}}</td>
                      <td>M-{{product?.machineDetailId}}</td>
                      <td>{{product?.createdDate | date: 'short'}}</td>
                      <td>{{product?.lastModifiedDate | date: 'short'}}</td>
                       <td>
                  <div class="overlay-edit">
                    <button (click)="addProductToList(product)" type="button" class="btn btn-icon btn-success"><i class="feather icon-plus"></i></button>
                  </div>
                </td>
                      <!-- <td>{{product?.createdBy}}</td>
                      <td>{{product?.lastModifiedBy}}</td> -->
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </app-card>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Approved" id="approvedTab">
            <ng-template ngbTabContent>
              <app-card [hidHeader]="true"  cardClass="user-profile-list">
              <div *ngIf="approvedProductList" class="dt-responsive table-responsive" cardClass="card-datatable">
                <table datatable class="table table-striped table-xs table-hover" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Sr. No.</th>
                      <th>Processing ID</th>
                      <th>Processing Type</th>
                      <th>Category</th>
                      <th>Company ID</th>
                      <th>Warehouse ID</th>
                      <th>Machine ID</th>
                      <th>Date of Creation</th>
                      <th>Last Mod. Date</th>
                       <th>Action</th>
                      <!-- <th>Created By</th>
                      <th>Last Modified By</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of approvedProductList; let i = index">
                      <td><label class="badge badge-success">{{product?.status}}</label></td>
                      <td>{{i+1}}</td>
                      <td *ngIf="product.processingType === 'SHEARING'">{{Ids.MATERIAL_SHEARING + '-' + product?.productProcessingId}}</td>
                      <td *ngIf="product.processingType === 'BLANKING'">{{Ids.MATERIAL_BLANKING + '-' + product?.productProcessingId}}</td>
                      <td *ngIf="product.processingType === 'ASSORTING'">{{Ids.MATERIAL_ASSORTING + '-' + product?.productProcessingId}}</td>
                      <td>{{product?.jobWorkType}}</td>
                      <td>{{product?.productCategory?.productCategory}}</td>
                      <td>COM-{{product?.companyId}}</td>
                      <td>WAR-{{product?.warehouseId}}</td>
                      <td>M-{{product?.machineDetailId}}</td>
                      <td>{{product?.createdDate | date: 'short'}}</td>
                      <td>{{product?.lastModifiedDate | date: 'short'}}</td>
                      <!-- <td>{{product?.createdBy}}</td>
                      <td>{{product?.lastModifiedBy}}</td> -->
                       <td>
                  <div class="overlay-edit">
                    <button (click)="addProductToList(product)" type="button" class="btn btn-icon btn-success"><i class="feather icon-plus"></i></button>
                  </div>
                </td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </app-card>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Rejected" id="rejectedTab">
            <ng-template ngbTabContent>
              <app-card [hidHeader]="true"  cardClass="user-profile-list">
              <div *ngIf="rejectedProductList" class="dt-responsive table-responsive" cardClass="card-datatable">
                <table datatable class="table table-striped table-xs table-hover" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Sr. No.</th>
                      <th>Processing ID</th>
                      <th>Processing Type</th>
                      <th>Category</th>
                      <th>Company ID</th>
                      <th>Warehouse ID</th>
                      <th>Machine ID</th>
                      <th>Date of Creation</th>
                      <th>Last Mod. Date</th>
                       <th>Action</th>
                      <!-- <th>Created By</th>
                      <th>Last Modified By</th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of rejectedProductList; let i= index">
                      <td><label class="badge badge-danger">{{product?.status}}</label></td>
                      <td>{{i+1}}</td>
                      <td *ngIf="product.processingType === 'SHEARING'">{{Ids.MATERIAL_SHEARING + '-' + product?.productProcessingId}}</td>
                      <td *ngIf="product.processingType === 'BLANKING'">{{Ids.MATERIAL_BLANKING + '-' + product?.productProcessingId}}</td>
                      <td *ngIf="product.processingType === 'ASSORTING'">{{Ids.MATERIAL_ASSORTING + '-' + product?.productProcessingId}}</td>
                      <td>{{product?.processingType}}</td>
                      <td>{{product?.productCategory?.productCategory}}</td>
                      <td>COM-{{product?.companyId}}</td>
                      <td>WAR-{{product?.warehouseId}}</td>
                      <td>M-{{product?.machineDetailId}}</td>
                      <td>{{product?.createdDate | date: 'short'}}</td>
                      <td>{{product?.lastModifiedDate | date: 'short'}}</td>
                      <!-- <td>{{product?.createdBy}}</td>
                      <td>{{product?.lastModifiedBy}}</td> -->
                       <td>
                  <div class="overlay-edit">
                    <button (click)="addProductToList(product)" type="button" class="btn btn-icon btn-success"><i class="feather icon-plus"></i></button>
                  </div>
                </td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </app-card>
            </ng-template>
          </ngb-tab>
  
        </ngb-tabset>
  
      </app-card>
        </div>
  </div>


<div class="row">
    <div class="col-md-12">
        <app-card [hidHeader]="false" cardTitle="Take action on above Selected Processing" [options]="false" cardClass="user-profile-list">
            <div  *ngIf="selectedProductList && selectedProductList.length>0" class="dt-responsive table-responsive" cardClass="card-datatable">
                 <table datatable class="table table-striped table-xs table-hover">
            <thead>
              <tr>
                    <th>Status</th>
                      <th>Sr. No.</th>
                      <th>Processing ID</th>
                      <th>Processing Type</th>
                      <th>Category</th>
                      <th>Company ID</th>
                      <th>Warehouse ID</th>
                      <th>Machine ID</th>
                      <th>Date of Creation</th>
                      <th>Last Mod. Date</th>
                       <th>Action</th>
              </tr>
            </thead>
            <tbody>
               <tr  *ngFor="let product of selectedProductList;let i = index">
               <td><label class="badge badge-danger">{{product?.status}}</label></td>
                      <td>{{i+1}}</td>
                      <td *ngIf="product.processingType === 'SHEARING'">{{Ids.MATERIAL_SHEARING + '-' + product?.productProcessingId}}</td>
                      <td *ngIf="product.processingType === 'BLANKING'">{{Ids.MATERIAL_BLANKING + '-' + product?.productProcessingId}}</td>
                      <td *ngIf="product.processingType === 'ASSORTING'">{{Ids.MATERIAL_ASSORTING + '-' + product?.productProcessingId}}</td>
                      <td>{{product?.jobWorkType}}</td>
                      <td>{{product?.productCategory?.productCategory}}</td>
                      <td>COM-{{product?.companyId}}</td>
                      <td>WAR-{{product?.warehouseId}}</td>
                      <td>M-{{product?.machineDetailId}}</td>
                      <td>{{product?.createdDate | date: 'short'}}</td>
                      <td>{{product?.lastModifiedDate | date: 'short'}}</td>
              <td>
                  <div class="overlay-edit">
                    <button (click)="removeSelectedProduct(product)" type="button" class="btn btn-icon btn-danger"><i class="feather icon-trash"></i></button>
                  </div>
                </td>
            </tr> 
             

  
            </tbody>
          </table>
            </div>
        </app-card>

    </div>
</div>


<div class="col-sm-12 centered-content m-t-20">
    <div class="btn-group mt-10">
           <button (click)="changeStatusOfSelectedProcessing('APPROVED')" *ngIf="selectedTab=='PENDING' || selectedTab =='REJECTED'" type="button" class="btn btn-success active">Approve</button>&nbsp;
                <div  *ngxPermissionsOnly="['INVENTORY_DELETE_PRIVILEGE']">

           <button (click)="changeStatusOfSelectedProcessing('REJECTED')" *ngIf="selectedTab=='PENDING' || selectedTab =='APPROVED'" type="button" class="btn btn-danger active">Reject</button>&nbsp;
                </div>
    </div>
</div>