<div class="row">
    <div class="col-md-12">
      <app-card [hidHeader]="true" cardClass="tab-card">
        <h5 class="mb-3">Processing Approval System</h5>
        <ngb-tabset (tabChange)="onTabChange($event)" type="pills">
          <ngb-tab title="Pending" id="pendingTab" class="mb-3">
            <ng-template ngbTabContent>
              <div *ngIf="pendingProductList" class="dt-responsive table-responsive" cardClass="card-datatable">
                <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Sr. No.</th>
                      <th>Processing Id</th>
                      <th>Processing Type</th>
                      <th>Category</th>
                      <th>Company Id</th>
                      <th>Warehouse Id</th>
                      <th>Machine Id</th>
                      <th>Date of Creation</th>
                      <th>Last Modified Date</th>
                      <th>Created By</th>
                      <th>Last Modified By</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of pendingProductList; let i= index">
                      <td><label class="badge badge-warning">{{product?.status}}</label></td>
                      <td>{{i+1}}</td>
                      <td>MSP-{{product?.productProcessingId}}</td>
                      <td>{{product?.jobWorkType}}</td>
                      <td>{{product?.productCategory?.productCategory}}</td>
                      <td>COM-{{product?.companyId}}</td>
                      <td>WAR-{{product?.warehouseId}}</td>
                      <td>M-{{product?.machineDetailId}}</td>
                      <td>{{product?.createdDate | date: 'medium'}}</td>
                      <td>{{product?.lastModifiedDate | date: 'medium'}}</td>
                      <td>{{product?.createdBy}}</td>
                      <td>{{product?.lastModifiedBy}}</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Approved" id="approvedTab">
            <ng-template ngbTabContent>
              <div *ngIf="approvedProductList" class="dt-responsive table-responsive" cardClass="card-datatable">
                <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Sr. No.</th>
                      <th>Processing Id</th>
                      <th>Processing Type</th>
                      <th>Category</th>
                      <th>Company Id</th>
                      <th>Warehouse Id</th>
                      <th>Machine Id</th>
                      <th>Date of Creation</th>
                      <th>Last Modified Date</th>
                      <th>Created By</th>
                      <th>Last Modified By</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of approvedProductList; let i = index">
                      <td><label class="badge badge-success">{{product?.status}}</label></td>
                      <td>{{i+1}}</td>
                      <td>MSP-{{product?.productProcessingId}}</td>
                      <td>{{product?.jobWorkType}}</td>
                      <td>{{product?.productCategory?.productCategory}}</td>
                      <td>COM-{{product?.companyId}}</td>
                      <td>WAR-{{product?.warehouseId}}</td>
                      <td>M-{{product?.machineDetailId}}</td>
                      <td>{{product?.createdDate | date: 'medium'}}</td>
                      <td>{{product?.lastModifiedDate | date: 'medium'}}</td>
                      <td>{{product?.createdBy}}</td>
                      <td>{{product?.lastModifiedBy}}</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Rejected" id="rejectedTab">
            <ng-template ngbTabContent>
              <div *ngIf="rejectedProductList" class="dt-responsive table-responsive" cardClass="card-datatable">
                <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Sr. No.</th>
                      <th>Processing Id</th>
                      <th>Processing Type</th>
                      <th>Category</th>
                      <th>Company Id</th>
                      <th>Warehouse Id</th>
                      <th>Machine Id</th>
                      <th>Date of Creation</th>
                      <th>Last Modified Date</th>
                      <th>Created By</th>
                      <th>Last Modified By</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of rejectedProductList; let i= index">
                      <td><label class="badge badge-danger">{{product?.status}}</label></td>
                      <td>{{i+1}}</td>
                      <td>MSP-{{product?.productProcessingId}}</td>
                      <td>{{product?.jobWorkType}}</td>
                      <td>{{product?.productCategory?.productCategory}}</td>
                      <td>COM-{{product?.companyId}}</td>
                      <td>WAR-{{product?.warehouseId}}</td>
                      <td>M-{{product?.machineDetailId}}</td>
                      <td>{{product?.createdDate | date: 'medium'}}</td>
                      <td>{{product?.lastModifiedDate | date: 'medium'}}</td>
                      <td>{{product?.createdBy}}</td>
                      <td>{{product?.lastModifiedBy}}</td>
                    </tr>
                   
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
  
        </ngb-tabset>
  
      </app-card>
      <!-- <app-add-product-cart></app-add-product-cart> -->
      <button type="submit" *ngIf="selectedTab=='PENDING' || selectedTab =='REJECTED'"  class="btn btn-success active">Approve</button>&nbsp;
      <button type="submit" *ngIf="selectedTab=='PENDING' || selectedTab =='APPROVED'"  class="btn btn-danger active">Reject</button>&nbsp;
    </div>
  </div>