<div class="row">
  <!-- site Analytics card start -->
  <div class="col-xl-12 col-sm-12">
    <!-- <h3 class="mb-3">Sales Details</h3> -->
    <div class="row">
      <div class="col-sm-3">
        <app-card [hidHeader]="false"  cardTitle="Sales Offer" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-warning text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>121</span></li>
                <li>Products Net Wt. <span>1621 Mt.</span></li>
                <!-- <li>Number of Coils <span>22</span></li> --> 
                <!-- <li>Number of Coils <span>22</span></li> --> 
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center"> 
              <div class="col p-1">
                <h5 (click)="getAllSalesByTypeAndStatusCheck('SALES_OFFER_LOT','APPROVED')" class="m-0 text-white">{{approvedSOCount}}</h5>
                <span>Registered</span>
              </div>
              <div class="col p-1">
                <h5 (click)="getAllSalesByTypeAndStatusCheck('SALES_OFFER_LOT','PENDING')" class="m-0 text-white">{{pendingSOCount}}</h5>
                <span>Pending</span>
              </div>
              <div class="col p-1">
                <h5 (click)="getAllSalesByTypeAndStatusCheck('SALES_OFFER_LOT','REJECTED')" class="m-0 text-white">{{rejectedSOCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-3">
        <app-card [hidHeader]="false"  cardTitle="Sales Confirmation" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-success text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>121</span></li>
                <li>Products Net Wt. <span>1621 Mt.</span></li>
                <!-- <li>Number of Coils <span>22</span></li> --> 
                <!-- <li>Number of Coils <span>22</span></li> --> 
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center"> 
              <div (click)="getAllSalesByTypeAndStatusCheck('SALES_CONFIRMATION','APPROVED')" class="col p-1">
                <h5 class="m-0 text-white">{{approvedSCCount}}</h5>
                <span>Registered</span>
              </div>
              <div (click)="getAllSalesByTypeAndStatusCheck('SALES_CONFIRMATION','PENDING')" class="col p-1">
                <h5 class="m-0 text-white">{{pendingSCCount}}</h5>
                <span>Pending</span>
              </div>
              <div (click)="getAllSalesByTypeAndStatusCheck('SALES_CONFIRMATION','REJECTED')" class="col p-1">
                <h5 class="m-0 text-white">{{rejectedSCCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>

      <div class="col-sm-3">
        <app-card [hidHeader]="false"  cardTitle="Delivery Order" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-danger text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>121</span></li>
                <li>Products Net Wt. <span>1621 Mt.</span></li>
                <!-- <li>Number of Coils <span>22</span></li> --> 
                <!-- <li>Number of Coils <span>22</span></li> --> 
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center"> 
              <div (click)="getAllSalesByTypeAndStatusCheck('DELIVERY_ORDER','APPROVED')" class="col p-1">
                <h5 class="m-0 text-white">{{approvedDOCount}}</h5>
                <span>Registered</span>
              </div>
              <div (click)="getAllSalesByTypeAndStatusCheck('DELIVERY_ORDER','PENDING')" class="col p-1">
                <h5 class="m-0 text-white">{{pendingDOCount}}</h5>
                <span>Pending</span>
              </div>
              <div (click)="getAllSalesByTypeAndStatusCheck('DELIVERY_ORDER','REJECTED')" class="col p-1">
                <h5 class="m-0 text-white">{{rejectedDOCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
      <div class="col-sm-3">
        <app-card [hidHeader]="false"  cardTitle="Trade Lead" cardClass="support-bar overflow-hidden" blockClass="p-0" [isCardFooter]="true" footerClass="bg-primary text-white">
          <div class="p-10 pb-2 pt-0">
            <div class="mylist">
              <ul>
                <li>Total No. of Products <span>121</span></li>
                <li>Products Net Wt. <span>1621 Mt.</span></li>
                <!-- <li>Number of Coils <span>22</span></li> --> 
                <!-- <li>Number of Coils <span>22</span></li> --> 
                <!-- <li>Product Approvals <span><a style="color:#f69600"> 0 </a> &nbsp;|&nbsp; <a style="color:#4CAF50"> 0 </a> &nbsp;|&nbsp; <a style="color:crimson"> 0 </a></span></li> -->
              </ul>
            </div>
          </div>
          <div class="app-card-footer">
            <div class="row text-center"> 
              <div (click)="getAllSalesByTypeAndStatusCheck('TRADE_LEAD_LOT','APPROVED')" class="col p-1">
                <h5 class="m-0 text-white">{{approvedTLCount}}</h5>
                <span>Registered</span>
              </div>
              <div (click)="getAllSalesByTypeAndStatusCheck('TRADE_LEAD_LOT','PENDING')" class="col p-1">
                <h5 class="m-0 text-white">{{pendingTLCount}}</h5>
                <span>Pending</span>
              </div>
              <div (click)="getAllSalesByTypeAndStatusCheck('TRADE_LEAD_LOT','REJECTED')" class="col p-1">
                <h5 class="m-0 text-white">{{rejectedTLCount}}</h5>
                <span>Rejected</span>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
  
  <!-- site Analytics card end -->

  <!-- project and team member start -->
  <div class="col-xl-12 col-md-12">
    <app-card cardTitle="Latest Sales Details" cardClass="table-card" blockClass="p-0">
      <div class="table-responsive">
        <table class="table table-hover mb-0">
          <thead>
           <tr>
                  <th>Sr. No.</th>
                  <th>SO ID</th>
                  <th>SO Type</th>
                  <th>Category</th>
                  <th>Shape</th>
                  <th>Company ID</th>
                  <th>Warehouse ID</th>
                  <th>Date of Creation</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sale of salesList; let i=index">
                <td>{{i+1}}</td>
                <td *ngIf="selectedType=='SALES_OFFER_LOT'">{{Ids.SALES_OFFER_LOT + '-' +sale.id}}</td>
                <td *ngIf="selectedType=='SALES_CONFIRMATION'">{{Ids.SALES_CONFIRMATION + '-' +sale.id}}</td>
                <td *ngIf="selectedType=='TRADE_LEAD_LOT'">{{Ids.TRADE_LEAD_LOT + '-' +sale.id}}</td>
                <td *ngIf="selectedType=='DELIVERY_ORDER'">{{Ids.DELIVERY_ORDER + '-' +sale.id}}</td>
                <td>{{sale.type}}</td>
                <td>{{sale.productCategory}}</td>
                <td>{{sale.productShape}}</td>
                <td>{{sale.sourceCompanyId}}</td>
                <td>{{sale.sourceWarehouseId}}</td>
                <td>{{sale.salesHistory[0].createdDate | date:'medium'}}</td>
                
              </tr> 
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
  <!-- <div class="col-xl-6 col-md-12">
    <app-card cardTitle="Latest Updates" cardClass="latest-update-card">
      <div class="latest-update-box">
        <div class="row p-t-30 p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 hrs ago</p>
            <i class="feather icon-twitter bg-twitter update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 1652 Followers</h6>
            </a>
            <p class="text-muted m-b-0">You’re getting more and more followers, keep it up!</p>
          </div>
        </div>
        <div class="row p-b-30">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">4 hrs ago</p>
            <i class="feather icon-briefcase bg-c-red update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+ 5 New Products were added!</h6>
            </a>
            <p class="text-muted m-b-0">Congratulations!</p>
          </div>
        </div>
        <div class="row p-b-0">
          <div class="col-auto text-right update-meta">
            <p class="text-muted m-b-0 d-inline-flex">2 day ago</p>
            <i class="feather icon-facebook bg-facebook update-icon"></i>
          </div>
          <div class="col">
            <a href="javascript:">
              <h6>+1 Friend Requests</h6>
            </a>
            <p class="text-muted m-b-10">This is great, keep it up!</p>
            <div class="table-responsive">
              <table class="table table-hover">
                <tr>
                  <td class="b-none">
                    <a href="javascript:" class="align-middle">
                      <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                      <div class="d-inline-block">
                        <h6>Jeny William</h6>
                        <p class="text-muted m-b-0">Graphic Designer</p>
                      </div>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="javascript:" class="b-b-primary text-primary">View all Projects</a>
      </div>
    </app-card>
  </div> -->
  <!-- project and team member end -->

 

  

</div>
