<div class="row">
    <div class="col-sm-12">
        <app-card [hidHeader]="false" cardTitle="Search & Select Sales Lead Id" [options]="false"
        cardClass="user-profile-list">
        <div class="dt-responsive table-responsive" cardClass="card-datatable"> 
          <table datatable class="table table-striped table-xs table-hover">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>Sales Lead ID</th>
                <th>Customer ID</th>
                <th>User Name</th>
                <th>Category</th>
                <th>Shape</th>
                <th>Thickness Range</th>
                <th>Temper Range</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
           
          </table>
        </div>
      </app-card>

      <app-card [hidHeader]="false" cardTitle="View Selected Sales Lead Id" [options]="false"
      cardClass="user-profile-list">
          <div class="dt-responsive table-responsive" cardClass="card-datatable"> 
            <table datatable class="table table-striped table-xs table-hover">
              <thead>
                <tr>
                  <th>Sr. No.</th>
                  <th>Sales Lead ID</th>
                  <th>Customer ID</th>
                  <th>User Name</th>
                  <th>Category</th>
                  <th>Shape</th>
                  <th>Thickness Range</th>
                  <th>Temper Range</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
             
            </table>
          </div>
        </app-card>
    </div>
  </div>
  <button type="submit" class="btn btn-success active excelBtn" (click)="exportToExcel()"><i  class="feather icon-menu"></i> Excel</button>&nbsp;
  <button type="submit" class="btn btn-danger active printBtn" (click)="print()"><i  class="feather icon-printer"></i> Print</button>&nbsp;
  <button type="submit" class="btn btn-danger active pdfBtn" (click)="exportToPDF()"><i  class="feather icon-file"></i> PDF</button>&nbsp;
  <button type="submit" class="btn btn-warning active copyBtn"><i  class="feather icon-copy"></i> Copy</button>&nbsp;