 <h5 class="bg-clr-head1 p-10 f-14">Select Details To Create Processing ID</h5>
      <hr/>
      <form [formGroup]="selectMrIdForm" (ngSubmit)="submitSelectMrId()" class="editForm" novalidate>
        <div class="row">
            <div class="col-md-5">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Job Work Type<small
                    class="asterik_sign">*</small></label>
                <div class="col-sm-8 m-t-10 p-t-5">
                  <select class="form-control" name="validation-lotType" formControlName="jobWorkType">
                    <option value="" disabled> Select </option>
                    <option value="JOB_WORK_SELF">Job Work Self</option>
                    <option value="JOB_WORK_OTHER">Job Work Other</option>
                  </select>
                  <!-- <label *ngIf="!lotType.valid && (lotType.dirty || lotType.touched || isSubmit)"
                    id="validation-lotType-error"
                    class="error jquery-validation-error small form-text invalid-feedback">required.</label> -->
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Category<small
                        class="asterik_sign">*</small></label>
                    <div class="col-sm-8 m-t-10 p-t-5">
                      <select class="form-control" name="validation-lotType" formControlName="productCategory">
                        <option value="" disabled> Select</option>
                        <option *ngFor="let category of productCategoryList" [value]="category">{{category}}</option>
                        <!-- <option value="2">Job Work Other</option> -->
                      </select>
                      <!-- <label *ngIf="!lotType.valid && (lotType.dirty || lotType.touched || isSubmit)"
                        id="validation-lotType-error"
                        class="error jquery-validation-error small form-text invalid-feedback">required.</label> -->
                    </div>
                  </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-5">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Contractor<small
                      class="asterik_sign">*</small></label>
                  <div class="col-sm-3 m-t-10 p-t-5">
                      <select class="form-control" formControlName="contractorId" (change)="setContractorName($event.target.value)" name="validation-warId">
                        <option value='' disabled>Select</option>
                        <option *ngFor="let id of contractorIdList" [value]="id">{{Ids.CONTRACTOR + '-' +id}}</option>
                    </select>
                    <!-- <label *ngIf="!warId.valid && (warId.dirty || warId.touched || isSubmit)"
                    id="validation-warId-error"
                    class="error jquery-validation-error small form-text invalid-feedback">required.</label> -->
                  </div>
                  <div class="col-sm-5 m-t-10 p-t-5">
                    <select class="form-control" formControlName="contractorFirstName"  (change)="setContractorId($event.target.value)" name="validation-pcId">
                      <option value='' disabled>Select</option>
                      <option *ngFor="let name of contractorList" [value]="name">{{name}}</option>
                      
                    </select>
                    <!-- <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small> -->
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Machine Details<small
                        class="asterik_sign">*</small></label>
                    <div class="col-sm-3 m-t-10 p-t-5">
                        <select class="form-control" formControlName="machineDetailId" (change)="setMachineName($event.target.value)" name="validation-warId">
                          <option value='' disabled>Select</option>
                          <option *ngFor="let id of machineDetailIdList" [value]="id">MD-{{id}}</option>
                        
                      </select>
                      <!-- <label *ngIf="!warId.valid && (warId.dirty || warId.touched || isSubmit)"
                      id="validation-warId-error"
                      class="error jquery-validation-error small form-text invalid-feedback">required.</label> -->
                    </div>
                    <div class="col-sm-5 m-t-10 p-t-5">
                      <select class="form-control" formControlName="machineName" (change)="setMachineId($event.target.value)" name="validation-pcId">
                        <option value='' disabled>Select</option>
                        <option *ngFor="let name of machineDetailList" [value]="name"> {{name}}</option>
                      </select>
                      <!-- <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small> -->
                    </div>
                  </div>
                </div>
            </div>
      <!--  -->
      <div class="row">
          <div class="col-md-5">
            <div class="form-group row">
             <label  for="inputEmail3" class="col-sm-4 col-form-label f-12 mt-2">Company Name <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-3 m-t-10 p-t-5">
                <select [value]="selectedName2.value" (change)="selectedCompany(selectedId2.value)" #selectedId2
                  formControlName="companyName" class="form-control" name="validation-category" required>
                  <option value> ID</option>
                  <option *ngFor="let item of companyData" [value]="item?.id">{{ item?.id }}</option>
                </select>
              </div>
              <div class="col-sm-5 m-t-10 p-t-5">
                <select #selectedName2 [value]="selectedId2.value" formControlName="companyName"
                  (change)="selectedCompany(selectedName2.value)" class="form-control" name="validation-pcId">
                  <option value> Name</option>
                  <option *ngFor="let item of companyData" [value]="item?.id">{{ item?.name }}</option>

                </select>
                <!-- <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small> -->
              </div>
            </div>
          </div>
            <div class="col-md-1"></div>
        <div class="col-md-5">
            <div *ngIf="selectedCmp">
              <div class="form-group row">
               <label  for="inputEmail3" class="col-sm-4 col-form-label f-12 mt-2">Warehouse ID <small
                    class="asterik_sign">*</small></label>
                <div class="col-sm-3 m-t-10 p-t-5">
                  <select formControlName="warehouseId" [value]="selectedWarehouseName.value" #selectedWarehouseId
                    class="form-control">
                    <option value>ID</option>
                    <option [value]="item.id" *ngFor="let item of warehouseList">{{ item.id }}</option>
                  </select>
                </div>
                <div class="col-sm-5 m-t-10 p-t-5">
                  <select #selectedWarehouseName formControlName="warehouseId" [value]="selectedWarehouseId.value"
                    class="form-control" name="validation-pcId">
                    <option value> Name</option>
                    <option [value]="item.id" *ngFor="let item of warehouseList">{{ item.name }}</option>
                  </select>
                  <!-- <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small> -->
                </div>
              </div>
            </div>
          </div>
      </div>
      <!--  -->
      
      <!--  -->
      <div class="row">
        <div class="col-md-5">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Priority Level<small
                    class="asterik_sign">*</small></label>
                <div class="col-sm-8 m-t-10 p-t-5">
                  <select class="form-control" formControlName="priorityLevel" name="validation-pcId">
                    <option value='' disabled>Select</option>
                    <option *ngFor="let name of priorityList | keyvalue" [value]="name.key">{{name.value}}</option>
                  </select>
                </div>
              </div>
        </div>
        <div class="col-md-1"></div>
        <div *ngIf="showDropDown!=''" class="col-md-5">
           <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Processing Type<small
                class="asterik_sign">*</small></label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="processingType" name="validation-pcId">
                <option *ngFor="let name of processingTypes" [value]="name">{{name}}</option>
              </select>
            </div>
          </div> 
          </div>
      </div>

      <div class="row form-group">
        <div class="col-md-12 centered-content">
          <button *ngIf="showDropDown!=''" type="submit" class="btn btn-primary btn-sm" >Convert <i  class="feather icon-arrow-right"></i></button>
          <button *ngIf="showDropDown==''" type="submit" class="btn btn-primary btn-sm" >Next <i  class="feather icon-arrow-right f-w-600"></i> <i  class="feather icon-arrow-right"></i></button>
          
        </div>
      </div>


    </form>