 <h5 class="bg-clr-head1 p-10 f-14">Select Details To Create Processing Id</h5>
      <hr/>
      <form [formGroup]="selectMrIdForm" (ngSubmit)="submitSelectMrId()" class="editForm" novalidate>
        <div class="row">
            <div class="col-md-5">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Job Work Type<small
                    class="asterik_sign">*</small></label>
                <div class="col-sm-8 m-t-10 p-t-5">
                  <select class="form-control" name="validation-lotType" formControlName="jobWorkType">
                    <option value="" disabled> Select </option>
                    <option value="JOB_WORK_SELF">Job Work Self</option>
                    <option value="JOB_WORK_OTHER">Job Work Other</option>
                  </select>
                  <!-- <label *ngIf="!lotType.valid && (lotType.dirty || lotType.touched || isSubmit)"
                    id="validation-lotType-error"
                    class="error jquery-validation-error small form-text invalid-feedback">required.</label> -->
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Category<small
                        class="asterik_sign">*</small></label>
                    <div class="col-sm-8 m-t-10 p-t-5">
                      <select class="form-control" name="validation-lotType" formControlName="productCategory">
                        <option value="" disabled> Select</option>
                        <option *ngFor="let category of productCategoryList" [value]="category">{{category}}</option>
                        <!-- <option value="2">Job Work Other</option> -->
                      </select>
                      <!-- <label *ngIf="!lotType.valid && (lotType.dirty || lotType.touched || isSubmit)"
                        id="validation-lotType-error"
                        class="error jquery-validation-error small form-text invalid-feedback">required.</label> -->
                    </div>
                  </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-5">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Contractor<small
                      class="asterik_sign">*</small></label>
                  <div class="col-sm-3 m-t-10 p-t-5">
                      <select class="form-control" formControlName="contractorId" (change)="setContractorName($event.target.value)" name="validation-warId">
                        <option value='' disabled>Select</option>
                        <option *ngFor="let id of contractorIdList" [value]="id">{{Ids.CONTRACTOR + '-' +id}}</option>
                    </select>
                    <!-- <label *ngIf="!warId.valid && (warId.dirty || warId.touched || isSubmit)"
                    id="validation-warId-error"
                    class="error jquery-validation-error small form-text invalid-feedback">required.</label> -->
                  </div>
                  <div class="col-sm-5 m-t-10 p-t-5">
                    <select class="form-control" formControlName="contractorFirstName"  (change)="setContractorId($event.target.value)" name="validation-pcId">
                      <option value='' disabled>Select</option>
                      <option *ngFor="let name of contractorList" [value]="name">{{name}}</option>
                      
                    </select>
                    <!-- <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small> -->
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Machine Details<small
                        class="asterik_sign">*</small></label>
                    <div class="col-sm-3 m-t-10 p-t-5">
                        <select class="form-control" formControlName="machineDetailId" (change)="setMachineName($event.target.value)" name="validation-warId">
                          <option value='' disabled>Select</option>
                          <option *ngFor="let id of machineDetailIdList" [value]="id">MD-{{id}}</option>
                        
                      </select>
                      <!-- <label *ngIf="!warId.valid && (warId.dirty || warId.touched || isSubmit)"
                      id="validation-warId-error"
                      class="error jquery-validation-error small form-text invalid-feedback">required.</label> -->
                    </div>
                    <div class="col-sm-5 m-t-10 p-t-5">
                      <select class="form-control" formControlName="machineName" (change)="setMachineId($event.target.value)" name="validation-pcId">
                        <option value='' disabled>Select</option>
                        <option *ngFor="let name of machineDetailList" [value]="name"> {{name}}</option>
                      </select>
                      <!-- <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small> -->
                    </div>
                  </div>
                </div>
            </div>
      <!--  -->
      <div class="row">
          <div class="col-md-5">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Company Id <small
                    class="asterik_sign">*</small></label>
                <div class="col-sm-3 m-t-10 p-t-5">
                    <select class="form-control" formControlName="companyId" (change)="setCompanyName($event.target.value)" name="validation-warId">
                      <option value='' disabled>Select</option>
                      <option *ngFor="let id of companyIdList" [value]="id">{{Ids.COMPANY + '-' +id}}</option>
                  </select>
                  <!-- <label *ngIf="!warId.valid && (warId.dirty || warId.touched || isSubmit)"
                  id="validation-warId-error"
                  class="error jquery-validation-error small form-text invalid-feedback">required.</label> -->
                </div>
                <div class="col-sm-5 m-t-10 p-t-5">
                  <select class="form-control" formControlName="companyName" (change)="setCompanyId($event.target.value)"  name="validation-pcId">
                    <option value='' disabled>Select</option>
                    <option *ngFor="let name of companyList" [value]="name"> {{name}}</option>
                  </select>
                  <!-- <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small> -->
                </div>
              </div>
            </div>
            <div class="col-md-1"></div>
        <div class="col-md-5">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Warehouse Id <small
                class="asterik_sign">*</small></label>
            <div class="col-sm-3 m-t-10 p-t-5">
                <select class="form-control" formControlName="warehouseId" (change)="setwarehouseName($event.target.value)"  name="validation-warId">
                  <option value='' disabled>Select</option>
                  <option *ngFor="let id of warehouseIdList" [value]="id" >{{Ids.WAREHOUSE + '-' +id}}</option>
              </select>
              <!-- <label *ngIf="!warId.valid && (warId.dirty || warId.touched || isSubmit)"
              id="validation-warId-error"
              class="error jquery-validation-error small form-text invalid-feedback">required.</label> -->
            </div>
            <div class="col-sm-5 m-t-10 p-t-5">
              <select class="form-control" formControlName="warehouseName"  (change)="setwarehouseId($event.target.value)"  name="validation-pcId">
                <option value='' disabled>Select</option>
                <option *ngFor="let name of warehouseList" [value]="name">{{name}}</option>
              </select>
              <!-- <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small> -->
            </div>
       
          </div>
        </div>
      </div>
      <!--  -->
      
      <!--  -->
      <div class="row">
        <div class="col-md-5">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Priority Level<small
                    class="asterik_sign">*</small></label>
                <div class="col-sm-8 m-t-10 p-t-5">
                  <select class="form-control" formControlName="priorityLevel" name="validation-pcId">
                    <option value='' disabled>Select</option>
                    <option *ngFor="let name of priorityList | keyvalue" [value]="name.key">{{name.value}}</option>
                  </select>
                </div>
              </div>
        </div>
        <div class="col-md-1"></div>
        <div *ngIf="showDropDown!=''" class="col-md-5">
           <div class="form-group row">
            <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Processing Type<small
                class="asterik_sign">*</small></label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="processingType" name="validation-pcId">
                <option *ngFor="let name of processingTypes" [value]="name">{{name}}</option>
              </select>
            </div>
          </div> 
          </div>
      </div>

      <div class="row form-group">
        <div class="col-md-12 centered-content">
          <button *ngIf="showDropDown!=''" type="submit" class="btn btn-primary btn-sm" >Convert <i  class="feather icon-arrow-right"></i></button>
          <button *ngIf="showDropDown==''" type="submit" class="btn btn-primary btn-sm" >Next <i  class="feather icon-arrow-right"></i></button>
          
        </div>
      </div>


    </form>