<div class="row">
  <div class="col-md-12">
    <app-card cardTitle="Create LOT Without PC" [options]="false">
      <form [formGroup]="lotWithoutPc" class="editForm" (submit)="generateLotId()">
        <div class="row">

          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Supplier Name <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-3">
                <select [value]="selectedName.value" formControlName="supplierId" #selectedId class="form-control">
                  <option value>Select</option>
                  <option *ngFor="let item of userList" [value]="item?.userDetialId">{{ item?.userDetialId }}</option>

                </select>
                <!-- <label *ngIf="!supplierId.valid && (supplierId.dirty || supplierId.touched || isSubmit)"
                  id="validation-supplierId-error"
                  class="error jquery-validation-error small form-text invalid-feedback">required.</label> -->
              </div>
              <div class="col-sm-5">
                <select #selectedName [value]="selectedId.value" formControlName="supplierId" class="form-control"
                  name="validation-category" required>
                  <option *ngFor="let item of userList" [value]="item?.userDetialId">{{ item?.firstName }}</option>
                </select>
                <!-- <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small> -->
              </div>
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Company Name <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-3">
                <select [value]="selectedName2.value" (change)="selectedCompany(selectedId2.value)" #selectedId2
                  formControlName="sourceCompanyId" class="form-control" name="validation-category" required>
                  <option value> Id</option>
                  <option *ngFor="let item of companyList" [value]="item?.id">{{ item?.id }}</option>
                </select>
              </div>
              <div class="col-sm-5">
                <select #selectedName2 [value]="selectedId2.value" formControlName="sourceCompanyId"
                  (change)="selectedCompany(selectedId2.value)" class="form-control" name="validation-pcId">
                  <option value> Name</option>
                  <option *ngFor="let item of companyList" [value]="item?.id">{{ item?.name }}</option>

                </select>
                <!-- <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small> -->
              </div>
            </div>
          </div>
        </div>

        <!--  -->
        <div class="row">
          <div class="col-md-5">
            <!-- <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Lot Type<small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-8">
                <select formControlName="lotType" class="form-control" name="validation-lotType">
                  <option value> Select</option>
                  <option value="WITHOUT_PC">Without Purchase Invoice</option>
                  <option value="JOB_WORK_OTHER">Job Work Other</option>
                </select>
               
              </div>
            </div> -->
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div *ngIf="selectedCmp">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Warehouse Id <small
                    class="asterik_sign">*</small></label>
                <div class="col-sm-3">
                  <select formControlName="sourceWarehouseId" [value]="selectedWarehouseName.value" #selectedWarehouseId
                    class="form-control">
                    <option value>Id</option>
                    <option [value]="item.id" *ngFor="let item of selectedCmp.warehouse">{{ item.id }}</option>
                  </select>
                </div>
                <div class="col-sm-5">
                  <select #selectedWarehouseName formControlName="sourceWarehouseId" [value]="selectedWarehouseId.value"
                    class="form-control" name="validation-pcId">
                    <option value> Name</option>
                    <option [value]="item.id" *ngFor="let item of selectedCmp.warehouse">{{ item.name }}</option>
                  </select>
                  <!-- <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="col-md-5">
            <div class="form-group row">
              <label for="exampleFormControlSelect1" class="col-sm-4 col-form-label mt-2">Product Cat. <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-8">
                <select formControlName="productCategory" class="form-control" name="validation-category" required>
                  <option *ngFor="let item of productCategoryList" [value]="item?.productCategory">
                    {{ item?.productCategory }}</option>
                </select>
              </div>
              <!-- <label *ngIf="!category.valid && (category.dirty || category.touched || isSubmit)" id="validation-category-error" class="error jquery-validation-error small form-text invalid-feedback">Product Category should be required.</label> -->
            </div>
          </div>
          <!-- </div> -->
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="form-group row">
              <label for="exampleFormControlSelect1" class="col-sm-4 col-form-label mt-2">Product Shape <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-8">
                <select formControlName="productShape" class="form-control" name="validation-category" required>
                  <option *ngFor="let productShape of productShapeList" [value]="productShape?.productShape">
                    {{ productShape?.productShape }}</option>
                </select>
              </div>
              <!-- <label *ngIf="!shape.valid && (shape.dirty || shape.touched || isSubmit)" id="validation-shape-error" class="error jquery-validation-error small form-text invalid-feedback">Product Shape should be required.</label> -->
            </div>
          </div>
        </div>
        <!-- </div> -->

        <!--  -->
        <div class="row">
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Gross Wt.<small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="grossWt" placeholder="Enter Net Wt." required>
                <!-- <label *ngIf="!grosswt.valid && (grosswt.dirty || grosswt.touched || isSubmit)" id="validation-grosswt-error" class="error jquery-validation-error small form-text invalid-feedback">Gross Wt should be required.</label> -->
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Net Wt.<small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" formControlName="netWt" placeholder="Enter Net Wt." required>
                <!-- <label *ngIf="!netWt.valid && (netWt.dirty || netWt.touched || isSubmit)" id="validation-netWt-error" class="error jquery-validation-error small form-text invalid-feedback">Net Wt should be required.</label> -->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center">
            <!-- [disabled] ="this.lotWithoutPc.invalid"  -->
            <button type="submit" class="btn btn-success">Generate Lot Id</button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>