        <h5 class="bg-clr-head1 p-10 f-14">Search & Select MR ID</h5> 
        <hr/>
        <div class="row">
          <div class="col-md-12">
            <app-card [hidHeader]="true"  cardClass="user-profile-list"> 
              <div *ngIf="mrList" class="dt-responsive table-responsive" cardClass="card-datatable">
                <table datatable class="table table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Sr. No.</th>
                      <th>MR ID</th>
                      <th>MR Title</th>
                      <th>Category</th>
                      <th>Shape</th>
                      <th>Company ID</th>
                      <th>Warehouse ID</th>
                      <th>Date of Creation</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                     <tr  *ngFor="let mr of mrList;let i = index">
                      <td (click)="routeToEditMr(mr.id)">{{i+1}}</td>
                      <td >MR-{{mr.id}}</td>
                      <td>{{mr.title}}</td>
                      <td>{{mr.productCategory}}</td>
                      <td>{{mr.productShape}}</td>
                      <td>COM-{{mr.sourceCompanyId}}</td>
                      <td>WAR-{{mr.sourceWarehouseId}}</td>
                      <td>{{mr.purchaseHistory[0].createdDate | date: 'short'}}</td>
                      <td>
                        <!-- <span class="badge badge-light-success">{{mr.status}}</span> -->
                        <div class="overlay-edit">
                          <button (click)="getSelectedMr(mr)" type="button" class="btn btn-icon btn-success"><i class="feather icon-plus"></i></button>
                        </div>
                      </td>
                     </tr> 
                  </tbody>
                </table>
              </div>
            </app-card>
          </div>
        </div>
       <div class="row">
         <div class="col-md-12">
           <h5 class="m-t-20 bg-clr-head1 f-14 p-10">Your Select MR ID. : {{selectedMrId}}</h5>
         </div>
        <hr/>
       </div>
        <div class="col-sm-12 centered-content">
          <div class="btn-group">
            <!-- <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp; -->
            <!-- [disabled]="!selectedMr"  -->
            <button *ngIf="component=='pc'" type="button" class="btn btn-primary btn-sm"   (click)="submitSelectMrId()">Next <i  class="feather icon-arrow-right f-w-600"></i> <i  class="feather icon-arrow-right"></i></button>
          </div>
        </div>
    