.easySearch ul {
    margin: 0;
    padding: 0;
}
.easySearch ul li {
    list-style: none;
    display: inline-block;
    margin-right: 1%;
}
.easySearch {
    margin-left: 15px;
}
.easySearch ul li:nth-child(1) {
width: 24%;
}
.easySearch ul li:nth-child(2) {
    width: 22%;
    }
    .easySearch ul li:nth-child(3) {
        width: 14%;
        }
        .easySearch ul li:nth-child(4) {
            width: 2%;
            }
        .easySearch ul li:nth-child(5) {
            width: 14%;
            }
            .easySearch ul li:nth-child(6) {
                width: 17%;
                }
                .thck {
                    position: absolute;
                    top: 12px;
                }