<button type="button" (click)="basicSwal()">Choose Another Type</button>
<app-create-lot-without-pc [selectedLotType]="selectedLotType" (purchaseData)="getPurchaseData($event)" *ngIf="selectedLotType=='WITHOUT_PC' || selectedLotType=='JOB_WORK_OTHER'"></app-create-lot-without-pc>
<app-create-lot-with-pc  [selectedLotType]="selectedLotType" *ngIf="selectedLotType=='WITH_PC' "></app-create-lot-with-pc>
<app-create-lot-mt-self [selectedLotType]="selectedLotType" (purchaseDataWithProduct)="getPurchaseDataRequest($event)"  *ngIf="selectedLotType =='MATERIAL_TRANSFER' || selectedLotType =='JOB_WORK_SELF'"></app-create-lot-mt-self>
