<div class="row">
  <div class="col-md-12">
    <app-card [hidHeader]="true" cardClass="tab-card">
      <h5 class="mb-3">Purchase Confirmation Approval System</h5>
      <ngb-tabset (tabChange)="onTabChange($event)" type="pills">
        <ngb-tab title="Pending" id="pendingTab" class="mb-3">
          <ng-template ngbTabContent>
            <app-purchasr-list-full-details (selectedPurchaseData)="getPurchaseData($event)" [tabSelected]="selectedTab"></app-purchasr-list-full-details>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Approved" id="approvedTab" >
          <ng-template ngbTabContent>
           <app-purchasr-list-full-details (selectedPurchaseData)="getPurchaseData($event)" [tabSelected]="selectedTab"></app-purchasr-list-full-details>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Rejected" id="rejectedTab">
          <ng-template ngbTabContent>
          <app-purchasr-list-full-details (selectedPurchaseData)="getPurchaseData($event)" [tabSelected]="selectedTab"></app-purchasr-list-full-details>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>

    </app-card>
    <!-- <app-add-product-cart></app-add-product-cart> -->
    </div>
</div>

<app-card>
<div  class="dt-responsive table-responsive" cardClass="card-datatable">
              <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Sr. No.</th>
                    <th>PC Id</th>
                    <th>PC Title</th>
                    <th>Category</th>
                    <th>Shape</th>
                    <th>Company Id</th>
                    <th>Warehouse Id</th>
                    <th>Supplier Id</th>
                    <th>Gross Wt.</th>
                    <th>Net Wt.</th>
                    <th>Date of Creation</th>
                    <th>Last Modified Date</th>
                    <th>Created By</th>
                    <th>Last Modified By</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let purchase of selectedPuchaseList; let i=index">
                    <td><label class="badge badge-warning">{{purchase.status}}</label></td>
                    <td>{{i+1}}</td>
                    <td>PC-{{purchase.id}}</td>
                    <td>{{purchase.title}}</td>
                    <td>{{purchase.productCategory}}</td>
                    <td>{{purchase.productShape}}</td>
                    <td>COM-{{purchase.sourceCompanyId}}</td>
                    <td>WAR-{{purchase.sourceWarehouseId}}</td>
                    <td>SU-{{purchase.supplierId}}</td>
                    <td>{{purchase.grossWt}}</td>
                    <td>{{purchase.v}}</td>
                    <td>{{purchase.purchaseHistory[0].createdDate | date: 'medium'}}</td>
                    <td>{{purchase.purchaseHistory[0].lastModifiedDate | date: 'medium'}}</td>
                    <td>{{purchase.purchaseHistory[0].createdBy}}</td>
                    <td>{{purchase.purchaseHistory[0].lastModifiedBy}}</td>
                    <td>
                  <!-- <span class="badge badge-light-success">{{purchase.status}}</span> -->
                  <div class="overlay-edit">
                    <button (click)="removeSelectedPurchase(purchase)" type="button" class="btn btn-icon btn-danger"><i class="feather icon-trash"></i></button>
                  </div>
                </td>
                  </tr>
                 
                </tbody>
              </table>
            </div>
</app-card>

<div class="col-sm-12 centered-content m-t-20">
    <div class="btn-group mt-10">
           <button (click)="changeStatusOfSelectedMR('APPROVED')" *ngIf="selectedTab=='PENDING' || selectedTab =='REJECTED'" type="button" class="btn btn-success active">Approve</button>&nbsp;
    <button (click)="changeStatusOfSelectedMR('REJECTED')" *ngIf="selectedTab=='PENDING' || selectedTab =='APPROVED'" type="button" class="btn btn-danger active">Reject</button>&nbsp;
 
    </div>
</div>