<div class="row btn-page">
  <div class="container">
    <div class="card p-15">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-3">
              <div class="logo">
                <img class="img-fluid" src="assets/images/GP-Global-Logo.png" alt="GP Global Logo" class="gp_logo">
              </div>
            </div>
            <div class="col-md-9">
              <div class="companyHead">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-4">
          <div class="overviewHead">
            <h1>User Overview</h1>
            <p><span>User ID: </span> CU-#189</p>
            <p><span>User Type: </span> Customer</p>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-xs-12 overviewHead">
            <h6 class="m-b-5 bg-clr-head1 p-10 f-16">Personal Details:</h6>
            <div class="row">
              <div class="col-md-4">
                <p><span>Full Name: </span> Abdul Samad</p>
              </div>
              <div class="col-md-4">
                <p><span>Date of Birth: </span> +91- 9871898478</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p><span>Registered Mobile: </span> +91- 9871897322</p>
              </div>
              <div class="col-md-4">
                <p><span>Registered E-mail: </span> info@steelmine.com</p>
              </div>
              <div class="col-md-4">
                <p><span>Whatsapp No.: </span> +91- 9871898478</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12 overviewHead">
            <h6 class="m-b-5 bg-clr-head1 p-10 f-16">Business Details:</h6>
            <div class="row">
              <div class="col-md-4">
                <p><span>Business Type: </span> Manufacturing</p>
              </div>
              <div class="col-md-4">
                <p><span>Company Name: </span> STEELMINE PVT. LTD.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p><span>Registered Address: </span> A-88 MIDC Taloja, <br />District Raigad, Navi Mumbai - 410208,
                  <br />Maharashtra</p>
              </div>
              <div class="col-md-4">
                <p><span>Billing Address: </span> A-88 MIDC Taloja, <br />District Raigad, Navi Mumbai - 410208,
                  <br />Maharashtra</p>
              </div>
              <div class="col-md-4">
                <p><span>Shipping Address: </span> A-88 MIDC Taloja, <br />District Raigad, Navi Mumbai - 410208,
                  <br />Maharashtra</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p><span>GST No.: </span> 2JDU89028901F2S</p>
              </div>
              <div class="col-md-4">
                <p><span>Registered Mobile: </span> +91- 9871898478</p>
              </div>
              <div class="col-md-4">
                <p><span>Registered E-mail: </span> info@steelmine.com</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p><span>Skype ID: </span> steelmine12</p>
              </div>
              <div class="col-md-4">
                <p><span>Company Website: </span> www.steelmine.com</p>
              </div>
              <div class="col-md-4">
                <p><span>No. of Employees: </span> 25-50 Employees</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-6 overviewHead">
            <h6 class="bg-clr-head1 m-b-5 p-10 f-16">Key Person Details :</h6>
            <div class="row">
              <div class="col-md-4">
                <p><span>Name: </span> Kamal Singh</p>
              </div>
              <div class="col-md-4">
                <p><span>Designation: </span> Self Owned</p>
              </div>
              <div class="col-md-4">
                <p><span>Date of Birth: </span> 23/10/1990</p>
              </div>
              <div class="col-md-4">
                <p><span>Mobile: </span> +91-8833898939</p>
              </div>
              <div class="col-md-4">
                <p><span>E-mail: </span> kamalsngh@gmail.com</p>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-md-4">
                <p><span>Name: </span> Sameer Kumar</p>
              </div>
              <div class="col-md-4">
                <p><span>Designation: </span> Manager/Director</p>
              </div>
              <div class="col-md-4">
                <p><span>Date of Birth: </span> 13/3/1989</p>
              </div>
              <div class="col-md-4">
                <p><span>Mobile: </span> +91-8833898939</p>
              </div>
              <div class="col-md-4">
                <p><span>E-mail: </span> kmrsameer@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <app-card [hidHeader]="false" cardTitle="Material Requirement" [options]="false"
              cardClass="user-profile-list">
              <div class="dt-responsive table-responsive" cardClass="card-datatable">
                <table class="table invoice-detail-table text-center">
                  <thead>
                    <tr class="thead-default">
                      <th>Sr. No.</th>
                      <th>Type</th>
                      <th>Category</th>
                      <th>Shape</th>
                      <th>Class</th>
                      <th>Thickness <span class="d-block">(mm)</span></th>
                      <th>Width <span class="d-block">(mm)</span></th>
                      <th>Length <span class="d-block">(mm)</span></th>
                      <th>Temper Range</th>
                      <th>Monthly Requirement<span class="d-block">(Mts.)</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td>CFRS</td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4 - T5</td>
                      <td>2.12</td>
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td>CFRS</td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4 - T5</td>
                      <td>2.12</td>
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td>CFRS</td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4 - T5</td>
                      <td>2.12</td>
                    </tr>
                    <tr>
                      <td>4.</td>
                      <td>CFRS</td>
                      <td>CR</td>
                      <td>MWC</td>
                      <td>2A</td>
                      <td>1.22</td>
                      <td>800</td>
                      <td>Coil</td>
                      <td>T4 - T5</td>
                      <td>2.12</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </app-card>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-6">
            <h6>Created By :</h6>
            <p>Vineet, <a routerLink="">Emp-001</a></p>
          </div>
          <div class="col-sm-6">
            <div class="text-right">
              <h6>Apporved By :</h6>
              <p>Mukesh, <a routerLink="">Emp-341</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-12 invoice-btn-group text-center">
        <button type="submit" class="btn btn-success active excelBtn" (click)="exportToExcel()"><i
            class="feather icon-menu"></i> Excel</button>&nbsp;
        <button type="submit" class="btn btn-danger active printBtn" (click)="print()"><i
            class="feather icon-printer"></i> Print</button>&nbsp;
        <button type="submit" class="btn btn-danger active pdfBtn" (click)="exportToPDF()"><i
            class="feather icon-file"></i> PDF</button>&nbsp;
      </div>
    </div>

  </div>
  <!-- [ Invoice ] end -->
</div>