<!-- <app-grn-purchase-invoice *ngIf="selecteValue == 'purchaseInvoice'"></app-grn-purchase-invoice>
<app-grn-transport-details *ngIf="selecteValue == 'withoutPurchaseInvoice'"></app-grn-transport-details>
<app-grn-mt-self *ngIf="selecteValue == 'materialTransfer'"></app-grn-mt-self>
<app-grn-job-work-chalan *ngIf="selecteValue == 'jobWorkChalan'"></app-grn-job-work-chalan> -->
<div class="row">
  <div class="col-sm-12">
    <button type="button" (click)="basicSwal()" class="btn btn-primary btn-sm changeBtn"
    style="margin: 45px 0px 10px;float:right;">Choose Another Type</button>
  </div>
</div>
<app-card *ngIf="transporterList && transporterList.length" cardTitle="Create GRN" [options]="false">
    <wizard #wizard class="arc-wizard" navBarLayout="large-empty-symbols">
      <wizard-step stepTitle="Select LOT ID" navigationSymbol="1">
        <h5>Search & Select LOT ID </h5>
        <hr/>
        <!-- #validationForm="ngForm" -->
        
        <form *ngIf="lot_details" [formGroup]="lotIdForm" class="editForm" novalidate>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label mt-2">Purchase LOT ID <small class="asterik_sign">*</small></label>
                <div class="col-sm-6">
                    <select class="form-control" formControlName="purchaseId">
                        <option value='' disabled>Select LOT ID</option>
                        <option [value]="item.id" *ngFor="let item of lot_details.purchaseList">{{ item.id }}</option>
                      </select>
                      <small *ngIf="f.purchaseId.value == '' && (f.purchaseId.dirty || f.purchaseId.touched )" id="passwordHelpBlock" class="form-text text-muted"
                          >This field is required.</small>
                      <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
                      
                </div>
              </div>
            </div>
            <!-- <div class="col-md-4"></div> -->

      </div>
           
          <!-- <button type="submit" class="btn btn-primary" uiSref="work" (click)="save(validationForm)">Submit</button> -->
        </form>

        <div class="col-sm-12 centered-content m-t-20">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary btn-sm" (click)="submitLotId()">Next <i  class="feather icon-arrow-right f-w-600"></i></button>
          </div>
        </div>

       
        
      </wizard-step>
      <wizard-step *ngIf="suppliarList" stepTitle="Purchase Invoice Details" navigationSymbol="2">
        <h5>Enter Purchase Invoice Details </h5>
        <hr/>
       <app-supplier 
            [process]="selecteValue" 
            [suppliarList]="suppliarList" 
            [allCompany]="allCompany" 
            (supplierData) = "patchSupplierData($event)"
        ></app-supplier>
        
      </wizard-step>
      <wizard-step stepTitle="Transport Details" navigationSymbol="3">
        <h5>Enter Transport Details </h5>
        <hr/>
        <app-transport-details 
            [process]="selecteValue"
            (transportData) = "patchtransportData($event)"
        ></app-transport-details>
        <!-- <div class="col-sm-12 centered-content m-t-20">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-danger btn-sm">Print</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success btn-sm" (click)="submit()">Send for Approval</button>
          </div>
        </div> -->
      </wizard-step>
      
      
    </wizard>
</app-card>