<!-- <app-grn-purchase-invoice *ngIf="selecteValue == 'purchaseInvoice'"></app-grn-purchase-invoice>
<app-grn-transport-details *ngIf="selecteValue == 'withoutPurchaseInvoice'"></app-grn-transport-details>
<app-grn-mt-self *ngIf="selecteValue == 'materialTransfer'"></app-grn-mt-self>
<app-grn-job-work-chalan *ngIf="selecteValue == 'jobWorkChalan'"></app-grn-job-work-chalan> -->
<button type="button" (click)="basicSwal()">Choose Another Type</button>
<app-card *ngIf="transporterList && transporterList.length" cardTitle="Create GRN" [options]="false">
    <wizard #wizard class="arc-wizard" navBarLayout="large-empty-symbols">
      <wizard-step stepTitle="Select LOT Id" navigationSymbol="1">
        <h5>Search & Select LOT Id </h5>
        <hr/>
        <form  *ngIf="lot_details" #validationForm="ngForm" class="editForm" novalidate>
          <div class="row">
            <div class="col-md-8">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label mt-2">Purchase LOT Id <small class="asterik_sign">*</small></label>
                <div class="col-sm-6">
                    <select class="form-control">
                        <option value>Select LOT Id</option>
                        <option [value]="item.id" *ngFor="let item of lot_details.purchaseList">{{ item.id }}</option>
                      </select>
                      <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
                </div>
              </div>
            </div>
          </div>
          <!-- <button type="submit" class="btn btn-primary" uiSref="work" (click)="save(validationForm)">Submit</button> -->
        </form>
       
        <div class="col-sm-12 centered-content m-t-20">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary btn-sm" nextStep>Next</button>
          </div>
        </div>
      </wizard-step>
      <wizard-step *ngIf="suppliarList" stepTitle="Purchase Invoice Details" navigationSymbol="2">
        <h5>Enter Purchase Invoice Details </h5>
        <hr/>
       <app-supplier 
            [process]="selecteValue" 
            [suppliarList]="suppliarList" 
            [allCompany]="allCompany" 
            (supplierData) = "patchSupplierData($event)"
        ></app-supplier>
        <div class="col-sm-12 centered-content">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary btn-sm" nextStep>Continue</button>
          </div>
        </div>
      </wizard-step>
      <wizard-step stepTitle="Transport Details" navigationSymbol="3">
        <h5>Enter Transport Details </h5>
        <hr/>
        <app-transport-details 
            [process]="selecteValue"
            (transportData) = "patchtransportData($event)"
        ></app-transport-details>
        <div class="col-sm-12 centered-content m-t-20">
          <div class="btn-group mt-10">
            <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
            <button type="submit" class="btn btn-danger btn-sm">Print</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success btn-sm" (click)="submit()">Send for Approval</button>
          </div>
        </div>
      </wizard-step>
      
      
    </wizard>
</app-card>