<app-card cardTitle="Create Delivery Order" [options]="false">
  <wizard #wizard class="arc-wizard" navBarLayout="large-empty-symbols">
    <wizard-step stepTitle="Search & Select SC Lot ID" navigationSymbol="1">
      <form #validationForm="ngForm" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Select SC LOT Id<small class="asterik_sign">*</small></label>
              <div class="col-sm-6">
                  <select class="form-control">
                      <option value>Select SC Id</option>
                      <option value="1">SC-#9021</option>
                    </select>
                    <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
              </div>
            </div>
          </div>
          <div class="col-md-8">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Create Loading Slip<small class="asterik_sign">*</small></label>
                <div class="col-sm-6">
                    <select class="form-control">
                        <option value>Select Loading Id</option>
                        <option value="1">SC-#9021</option>
                      </select>
                      <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
                </div>
              </div>
            </div>
        </div>
      </form>
      <div class="col-sm-12 centered-content m-t-20">
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-primary btn-sm" nextStep>Continue</button>
        </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Enter Sales Invoice Details" navigationSymbol="2">
      <form #validationForm="ngForm" class="editForm" novalidate>
        <div class="row">
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Customer Id <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-3">
                <select class="form-control">
                  <option value>Id</option>
                  <option value="1">SU-#121</option>
                  <option value="2">SU-#564</option>
                  <option value="3">SU-#754</option>
                </select>
              </div>
              <div class="col-sm-5">
                <select class="form-control" name="validation-pcId">
                  <option value> Name</option>
                  <option value="1">Kamles</option>
                  <option value="2">Rajinder</option>
                  <option value="3">Diljeet</option>
                  <option value="4">Mannu</option>
                  <option value="5">Amjad</option>
                </select>
                <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Company Id <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-3">
                <select class="form-control">
                  <option value>Id</option>
                  <option value="1">COMP-1</option>
                  <option value="2">COMP-2</option>
                  <option value="3">COMP-3</option>
                  <option value="4">COMP-4</option>
                </select>
              </div>
              <div class="col-sm-5">
                <select class="form-control" name="validation-pcId">
                  <option value> Name</option>
                  <option value="1">GP Global Energy</option>
                  <option value="1">GP Global Asphalt</option>
                  <option value="1">GP Global Kimitsu</option>
                </select>
                <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
              </div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="row">
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Invoice No.</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Warehouse Id <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-3">
                  <select class="form-control">
                  <option value>Id</option>
                  <option value="1">WAR-1</option>
                  <option value="1">WAR-2</option>
                  <option value="1">WAR-3</option>
                  <option value="1">WAR-4</option>
                  <option value="1">WAR-5</option>
                </select>
              </div>
              <div class="col-sm-5">
                <select class="form-control" name="validation-pcId">
                  <option value> Name</option>
                  <option value="1">A-88</option>
                  <option value="2">L-24/25</option>
                  <option value="3">J-18</option>
                  <option value="4">M-67</option>
                  <option value="5">GROWELL</option>
                  <option value="6">PARAMSHAKTI</option>
                </select>
                <small class="form-text text-muted text-right">If don't know? <a routerLink="">Click Here!</a></small>
              </div>
            </div>
          </div>
        </div>
    
        <!--  -->
        <div class="row">
            <div class="col-md-5">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Material Description</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Material Description">
                    </div>
                  </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">No. of Coils/ Bundles</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="No. of Coils/ Bundles">
                    </div>
                  </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-5">
                  <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Invoice Gross Wt.</label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="">
                      </div>
                    </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                  <div class="form-group row">
                      <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Invoice Net Wt.</label>
                      <div class="col-sm-8">
                          <input type="text" class="form-control" placeholder="">
                      </div>
                    </div>
              </div>
            </div>
      </form>
      <div class="col-sm-12 centered-content">
        <div class="btn-group mt-10">
          <button type="submit" class="btn btn-primary btn-sm" uiSref="work" nextStep>Continue</button>
        </div>
      </div>
    </wizard-step>
    <wizard-step stepTitle="Transport Details" navigationSymbol="3">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="validationCustom02">Transporter Id</label>
            <select class="form-control" name="validation-companyName">
                <option value>Select Transporter Id</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="validationCustom02">Transport Reciept</label>
            <input type="text" class="form-control" placeholder="Enter Reciept">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="validationCustom02">Vehicle Number</label>
            <input type="text" class="form-control" placeholder="Enter Vehicle">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="validationCustom02">Container No.</label>
            <input type="email" class="form-control" placeholder="Enter Container">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="validationCustom02">Source Gross Wt.</label>
            <input type="email" class="form-control" placeholder="Enter Gross Wt.">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="validationCustom02">Source Net Wt.</label>
            <input type="email" class="form-control" placeholder="Enter Net Wt.">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label for="validationCustom02">Driver Name</label>
            <input type="text" class="form-control" placeholder="Enter Driver">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="validationCustom02">Driver Mobile</label>
            <input type="text" class="form-control" placeholder="Enter Mobile">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="validationCustom02">Licence Number</label>
            <input type="text" class="form-control" placeholder="Enter Licence">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="validationCustom02">Mode</label>
            <select class="form-control" name="validation-companyName">
              <option value>Select Mode</option>
              <option value="1">Road</option>
              <option value="2">Train</option>
              <option value="3">Air</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="validationCustom02">Delivery </label>
            <select class="form-control" name="validation-companyName">
              <option value>Select Delivery</option>
              <option value="1">Our Warehouse</option>
              <option value="2">Customer Warehouse</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="validationCustom02">Any Other</label>
            <input type="email" class="form-control" placeholder="Other">
          </div>
        </div>
      </div>
      <div class="col-sm-12 centered-content m-t-20">
        <div class="btn-group mt-10">
          <button type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-success btn-sm">Send for Approval</button>
        </div>
      </div>
    </wizard-step>
  </wizard>
</app-card>