<div class="user-profile user-card mb-4">
  <div class="card-header border-0 p-0 pb-0">
    <div class="cover-img-block">
      <div class="overlay"></div>
      <div class="change-cover">
      </div>
    </div>
  </div>
  <div class="card-body py-0">
    <div class="user-about-block m-0">
      <div class="row">
        <div class="col-md-4 mt-md-4">
          <h3 class="f-18">Edit User Group</h3>
          <p class="m-b-5 text-dark f-w-600">UG Id : <span class="text-muted">{{selectedUserGroup?.userGroupId}} &nbsp;&nbsp;</span>
            <span class="f-w-600" *ngIf="selectedUserGroup?.status === 'PENDING'"><label class="badge badge-warning">{{selectedUserGroup?.status}}</label></span>
            <span class="f-w-600" *ngIf="selectedUserGroup?.status === 'APPROVED'"> <label class="badge badge-success">{{selectedUserGroup?.status}}</label></span>
            <span class="f-w-600" *ngIf="selectedUserGroup?.status === 'REJECTED'"> <label class="badge badge-danger">{{selectedUserGroup?.status}}</label></span>
          </p>
          <p class="m-b-5 text-dark f-w-600">UG Title : <span
              class="text-muted">{{selectedUserGroup?.userGroupName}}</span></p>
        </div>
        <div class="col-md-6 mt-md-4">
          <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'home'}"
                (click)="this.activeTab = 'home'" id="home-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="home" aria-selected="true"><i class="feather icon-home mr-2"></i> <span class="f-16 f-w-600">User Group Details</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'profile'}"
                (click)="this.activeTab = 'profile'" id="profile-tab" data-toggle="tab" href="javascript:" role="tab"
                aria-controls="profile" aria-selected="false"><i class="feather icon-user mr-2"></i> <span class="f-16 f-w-600">Users Details</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- profile body start -->
<div class="row">
  <div class="col-md-12 order-md-2">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'home'}" id="home" role="tabpanel"
        aria-labelledby="home-tab">
        <div class="merge-card">
        <div class="row">
          <div class="col-md-12">
            <button type="button"
            (click)="this.editProfile1 = !this.editProfile1; this.editProfileIcon = this.editProfile1 ? 'icon-x': 'icon-edit';"
            class="btn btn-primary btn-sm rounded m-t-10 m-b-10 float-right" data-toggle="collapse" data-target=".pro-det-edit"
            aria-expanded="false" aria-controls="pro-det-edit-1">
            <i class="feather" [ngClass]="editProfileIcon"></i>
          </button>
          </div>
        </div>
            <app-card [hidHeader]="false" cardTitle="User Group Details" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile1">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Group ID</label>
              <div class="col-sm-3 m-t-10 p-t-5 brdr1">
                <span *ngIf="selectedUserGroup?.userRole === 'CUSTOMER'" >{{Ids.CUSTOMER_GROUP + '-' + selectedUserGroup?.userGroupId}}</span>
                <span *ngIf="selectedUserGroup?.userRole === 'SUPPLIER'" >{{Ids.SUPPLIER_GROUP + '-' + selectedUserGroup?.userGroupId}}</span>
                <span *ngIf="selectedUserGroup?.userRole === 'AGENT'" >{{Ids.AGENT_GROUP + '-' + selectedUserGroup?.userGroupId}}</span>
                <span *ngIf="selectedUserGroup?.userRole === 'CONTRACTOR'" >{{Ids.CONTRACTOR_GROUP + '-' + selectedUserGroup?.userGroupId}}</span>
                <span *ngIf="selectedUserGroup?.userRole === 'TRANSPORTER'" >{{Ids.TRANSPORTER_GROUP + '-' + selectedUserGroup?.userGroupId}}</span>
                <!-- {{selectedUserGroup?.userGroupId}} -->
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Group Title</label>
              <div class="col-sm-3 m-t-10 p-t-5 brdr1">
                {{selectedUserGroup?.userGroupName}}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Category</label>
              <div class="col-sm-3 m-t-10 p-t-5 brdr1">
                {{selectedUserGroup?.productCategory}}
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Thickness Range (mm)</label>
              <div class="col-sm-3 m-t-10 p-t-5 brdr1">
                {{selectedUserGroup?.thicknessMin}} - {{selectedUserGroup?.thicknessMax}}
              </div>
            </div>
                     <!-- <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Company</label>
              <div class="col-sm-3 m-t-10 p-t-5 brdr1">
                GP Global Steel
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Warehouse</label>
              <div class="col-sm-3 m-t-10 p-t-5 brdr1">
                WAR-92, L24/L25 Taloja MIDC
              </div>
            </div> -->
          </app-card>
            <!-- <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile1">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">CUG Id</label>
              <div class="col-sm-3">
                <select class="form-control" id="exampleFormControlSelect1" disabled>
                  <option value>CUG-922</option>
                </select>
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">CUG Title</label>
              <div class="col-sm-3">
                <select class="form-control" id="exampleFormControlSelect1" disabled>
                  <option value>CUG-CR-MWC</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Category</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" class="form-control" disabled value="Cold Rolled">
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Thickness Range (mm)</label>
              <div class="col-sm-3">
                <input type="text" placeholder="" class="form-control"  value="1.22 - 2.14">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label font-weight-bolder">Company</label>
              <div class="col-sm-3">
                <input type="text" placeholder="GP Global Steel" class="form-control" disabled>
              </div>
              <label class="col-sm-3 col-form-label font-weight-bolder">Warehouse</label>
              <div class="col-sm-3">
                <input type="text" placeholder="WAR-92, L24/L25 Taloja MIDC" class="form-control" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"></label>
              <div class="col-sm-9">
                <button type="button" class="btn btn-primary">Save</button>
              </div>
            </div>
          </app-card> -->
        </div>
      </div>
      <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'profile'}" id="profile" role="tabpanel"
        aria-labelledby="profile-tab">
        <div class="merge-card">
          <div class="row">
            <div class="col-md-12">
             <button type="button" (click)="getUserType()" class="btn btn-primary btn-sm rounded m-t-10 m-b-10 float-right">Add
               More</button>
            </div>
          </div>
          <app-card [hidHeader]="false" cardTitle="User Details" blockClass="border-top pro-det-edit collapse show" *ngIf="!editProfile">
            <div class="dt-responsive table-responsive" cardClass="card-datatable">
              <table datatable class="table table-striped table-xs table-hover">
                <thead>
                  <tr>
                    <th>Sr. No.</th>
                    <th>User ID</th>
                    <th>UserType</th>
                    <th>User Name</th>
                    <th>Mobile</th>
                    <th>Email</th>
                    <th>Company Name</th>
                    <th>Status</th>

                  </tr>
                </thead>
                <tbody>
                  <tr href="kdkd" *ngFor="let user of userGroupList;let i = index">
                    <td>{{i+1}}</td>
                    <td *ngIf="user.userRole === 'CUSTOMER'" (click)="goToView(user)">{{Ids.CUSTOMER + '-' + user.userDetialId}}</td>
                    <td *ngIf="user.userRole === 'SUPPLIER'" (click)="goToView(user)">{{Ids.SUPPLIER + '-' + user.userDetialId}}</td>
                    <td *ngIf="user.userRole === 'AGENT'" (click)="goToView(user)">{{Ids.AGENT + '-' + user.userDetialId}}</td>
                    <td *ngIf="user.userRole === 'CONTRACTOR'" (click)="goToView(user)">{{Ids.CONTRACTOR + '-' + user.userDetialId}}</td>
                    <td *ngIf="user.userRole === 'TRANSPORTER'" (click)="goToView(user)">{{Ids.TRANSPORTER + '-' + user.userDetialId}}</td>
                    <td>{{user.userRole}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.emailId}}</td>
                    <td>{{user.businessDetails[0]?.companyName}}</td>
                    <td>
                      <span class="badge badge-light-success">{{user.status}}</span>
                      <div class="overlay-edit">
                        <!-- <button (click)="selectUser(user)" type="button" class="btn btn-icon btn-success"><i
                      class="feather icon-check-circle"></i></button> -->

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </app-card>
          <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile">
            <app-user-selection [selectedUserType]="selectedUserType" (userData)="updateGroup($event)" [doNotShowBack]="doNotShowBack">
            </app-user-selection>
            <!-- </wizard-step>    -->
          </app-card>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- profile body end -->
<div class="row">
  <div class="col-md-12 text-center">
    <button type="submit" class="btn btn-danger active">Export PDF</button>&nbsp;
    <button type="submit" class="btn btn-success active">Print</button>&nbsp;
  </div>
</div>