<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <div class="easySearch p-l-15 m-t-25 br-5">
      <ul>
        <li>
          <select class="form-control">
            <option value='' disabled>Select Category</option>
            <option >1</option>
          </select>
        </li>
        <li>
          <select class="form-control">
            <option value='' disabled>Select Shape</option>
            <option >1</option>
          </select>
        </li>
        <li>
          <input type="text" placeholder="Thk. Min" class="form-control" >
        </li>
        <li>
          <span class="clr-blk f-w-600">-</span>
        </li>
        <li>
          <input type="text" placeholder="Thk. Max" class="form-control" >
        </li>
        <li style="text-align: center;">
          <button type="submit" class="btn btn-success active printBtn btn-sm" style="padding: 7px;"
            ><i class="feather icon-search f-w-600"></i>Easy Search</button>&nbsp;
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <app-nav-search></app-nav-search>
  </li>
</ul>
