<div class="row">
    <div class="col-md-12">
      <app-card [hidHeader]="false" cardTitle="Search & View Sales Offer" [options]="false"
        cardClass="user-profile-list">
        <div #epltable *ngIf="salesList" class="dt-responsive table-responsive" cardClass="card-datatable">
          <table id="contentToConvert" datatable class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>Sr. No.</th>
                <th>SO Id</th>
                <th>SO Type</th>
                <th>Category</th>
                <th>Shape</th>
                <th>Company Id</th>
                <th>Warehouse Id</th>
                <th>Date of Creation</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr (click)="routerToSoEdit(sale.id)" *ngFor="let sale of salesList; let i=index">
                <td>{{i+1}}</td>
                <td >{{Ids.SALES_OFFER_LOT + '-' + sale.id}}</td>
                <td>{{sale.type}}</td>
                <td>{{sale.productCategory}}</td>
                <td>{{sale.productShape}}</td>
                <td>{{Ids.COMPANY + '-' + sale.sourceCompanyId}}</td>
                <td>{{Ids.WAREHOUSE + '-' + sale.sourceWarehouseId}}</td>
                <td>{{sale.salesHistory[0].createdDate | date:'medium'}}</td>
                <td><button type="button" (click)="addToSelectedList(sale)" class="btn btn-icon btn-success"><i class="feather icon-plus"></i></button></td>
              </tr>  
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <app-card [hidHeader]="false" cardTitle="View Selected Sales Offer LOT/s" [options]="false"
        cardClass="user-profile-list">
        <div *ngIf="selectedSalesList" class="dt-responsive table-responsive" cardClass="card-datatable">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                  <th>Sr. No.</th>
                  <th>SO Id</th>
                  <th>SO Type</th>
                  <th>Category</th>
                  <th>Shape</th>
                  <th>Company Id</th>
                  <th>Warehouse Id</th>
                  <th>Date of Creation</th>
                  <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sale of selectedSalesList; let i=index">
                <td>{{i+1}}</td>
                <td>SOL-{{sale.id}}</td>
                <td>{{sale.type}}</td>
                <td>{{sale.productCategory}}</td>
                <td>{{sale.productShape}}</td>
                <td>{{sale.sourceCompanyId}}</td>
                <td>{{sale.sourceWarehouseId}}</td>
                <td>{{sale.salesHistory[0].createdDate | date:'medium'}}</td>
                <td>
                  <span class="badge badge-light-success">Approved</span>
                  <div class="overlay-edit">
                    <button type="button" (click)="removeFromSelectedList(sale)" class="btn btn-icon btn-danger" ><i
                        class="feather icon-trash-2"></i></button>
                  </div>
                </td>
              </tr>  
            </tbody>
          </table>
        </div>
      </app-card>
  
    </div>
  </div> -->
<button type="submit" class="btn btn-success active" (click)="exportToExcel()">Excel</button>&nbsp;
<!-- <button type="submit" class="btn btn-danger active" (click)="print()">Print</button>&nbsp; -->
<button type="submit" class="btn btn-danger active" (click)="exportToPDF()">PDF</button>&nbsp;