<div class="row">
    <div class="col-md-12">
        <app-card [hidHeader]="false" cardTitle="Search & Select Customer/s " [options]="false" cardClass="user-profile-list">
            <div  class="dt-responsive table-responsive" cardClass="card-datatable">
                <table datatable class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>User Id</th>
                            <th>UserType</th>
                            <th>User Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>Company Name</th>
                            <th>Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userList2; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{user.id}}</td>
                            <td>{{user.userRole}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.mobile}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.userDetail.companyName}}</td>
                            <td>
                                <span class="badge badge-light-success">{{user.status}}</span>
                                <div class="overlay-edit">
                                    <button (click)="selectUser(user)" type="button" class="btn btn-icon btn-success"><i
                      class="feather icon-check-circle"></i></button>

                                </div>
                            </td>
                        </tr>


                    </tbody>

                </table>
            </div>
        </app-card>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- *ngIf="selectedUserList && selectedUserList.length >0" -->
        <app-card  [hidHeader]="false" cardTitle="View Above Selected Customer/s" [options]="false" cardClass="user-profile-list">
            <div class="dt-responsive table-responsive" cardClass="card-datatable">
                <table datatable class="table table-striped table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Sr. No.</th>
                        <th>User Id</th>
                        <th>UserType</th>
                        <th>User Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Company Name</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr href="kdkd" *ngFor="let user of selectedUserList;let i = index">
                            <td>{{i+1}}</td>
                            <td>{{user.id}}</td>
                            <td>{{user.userRole}}</td>
                            <td>{{user.firstName}}</td>
                            <td>{{user.mobile}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.userDetail.companyName}}</td>
                            <td>
                                <span class="badge badge-light-success">{{user.status}}</span>
                                <div class="overlay-edit">
                                    <button (click)="removeUser(user)" type="button" class="btn btn-icon btn-danger"><i class="feather icon-trash-2"></i></button>


                                </div>
                            </td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </app-card>

    </div>
</div>
<div class="col-sm-12 centered-content m-t-20">
    <div class="btn-group mt-10">
        <button *ngIf="!doNotShowBack" type="button" class="btn btn-secondary btn-sm" previousStep>Back</button>&nbsp;&nbsp;
        <button type="submit" class="btn btn-danger btn-sm">Print</button>&nbsp;&nbsp;
        <button type="button" (click)="userSelectionSubmit()" class="btn btn-success btn-sm">Send for Approval</button>
    </div>
</div>