<div class="row">
  <div class="col-md-7">

    <app-card cardTitle="Add Product Type" [options]="false">
      <form [formGroup]="productTypeForm" (submit)="productTypeOnSubmit()" class="editForm">
        <div class="row">
          <!-- <div class="col-md-12">
              <div class="form-group row">
                <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Product Code <small class="asterik_sign">*</small></label>
                <div class="col-sm-6">
                    <input formControlName="productCode" type="text" class="form-control">
                </div>
              </div>
            </div> -->
          <div class="col-md-12">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Product Type <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-6">
                <input formControlName="productType" type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-4 col-form-label mt-2">Description <small
                  class="asterik_sign">*</small></label>
              <div class="col-sm-6">
                <input formControlName="description" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Add Product Type</button>

      </form>
    </app-card>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-card [hidHeader]="false" cardTitle="View or Modify Type" [options]="false" cardClass="user-profile-list">
      <div class="dt-responsive table-responsive" cardClass="card-datatable">
        <table datatable class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Product Code</th>
              <th>Product Type</th>
              <th>Product Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let productTypeObj of productTypeList">
              <td>{{productTypeObj.id}}</td>
              <td>{{productTypeObj.productType}}</td>
              <td>{{productTypeObj.description}}</td>
              <td>
                <button type="button" class="btn btn-icon btn-success"><i
                    class="feather icon-check-circle"></i></button>&nbsp;

                <button type="button" class="btn btn-icon btn-danger"><i class="feather icon-trash-2"
                    (click)="deleteType(productTypeObj)"></i></button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>
