<div class="row">
  <div class="col-md-12">
    <app-card [hidHeader]="true" cardClass="tab-card">
      <h5 class="mb-3">Sales Confirmation Approval System</h5>
      <ngb-tabset type="pills">
        <ngb-tab title="Pending" class="mb-3">
          <ng-template ngbTabContent>
            <div class="dt-responsive table-responsive" cardClass="card-datatable">
              <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Sr. No.</th>
                    <th>SC Id</th>
                    <th>SC Type</th>
                    <th>Category</th>
                    <th>Shape</th>
                    <th>Company Id</th>
                    <th>Warehouse Id</th>
                    <th>Customer Id</th>
                    <th>Transporter Id</th>
                    
                    <th>Date of Creation</th>
                    <th>Last Modified Date</th>
                    <th>Created By</th>
                    <th>Last Modified By</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><label class="badge badge-warning">Pending</label></td>
                    <td>1.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>CU-922</td>
                    <td>TP-018</td>
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                  <tr>
                    <td><label class="badge badge-warning">Pending</label></td>
                    <td>2.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>CU-922</td>
                    <td>TP-018</td>
                    
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                  <tr>
                    <td><label class="badge badge-warning">Pending</label></td>
                    <td>3.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>CU-922</td>
                    <td>TP-018</td>
                    
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                  <tr>
                    <td><label class="badge badge-warning">Pending</label></td>
                    <td>4.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>CU-922</td>
                    <td>TP-018</td>
                    
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                  <tr>
                    <td><label class="badge badge-warning">Pending</label></td>
                    <td>5.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>CU-922</td>
                    <td>TP-018</td>
                    
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                  <tr>
                    <td><label class="badge badge-warning">Pending</label></td>
                    <td>6.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>CU-922</td>
                    <td>TP-018</td>
                    
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                  <tr>
                    <td><label class="badge badge-warning">Pending</label></td>
                    <td>7.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>CU-922</td>
                    <td>TP-018</td>
                    
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                  <tr>
                    <td><label class="badge badge-warning">Pending</label></td>
                    <td>8.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>CU-922</td>
                    <td>TP-018</td>
                    
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Approved">
          <ng-template ngbTabContent>
            <div class="dt-responsive table-responsive" cardClass="card-datatable">
              <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Sr. No.</th>
                    <th>SC Id</th>
                    <th>SC Type</th>
                    <th>Category</th>
                    <th>Shape</th>
                    <th>Company Id</th>
                    <th>Warehouse Id</th>
                    <th>Customer Id</th>
                    <th>Transporter Id</th>
                    
                    <th>Date of Creation</th>
                    <th>Last Modified Date</th>
                    <th>Created By</th>
                    <th>Last Modified By</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><label class="badge badge-success">Approved</label></td>
                    <td>1.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>CU-922</td>
                    <td>TP-018</td>
                    
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                  <tr>
                    <td><label class="badge badge-success">Approved</label></td>
                    <td>2.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                  <tr>
                    <td><label class="badge badge-success">Approved</label></td>
                    <td>3.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                  <tr>
                    <td><label class="badge badge-success">Approved</label></td>
                    <td>4.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                  <tr>
                    <td><label class="badge badge-success">Approved</label></td>
                    <td>5.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Rejected">
          <ng-template ngbTabContent>
            <div class="dt-responsive table-responsive" cardClass="card-datatable">
              <table datatable class="table table-striped table-bordered table-hover" style="width: 100%;">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>SC Id</th>
                    <th>SC Type</th>
                    <th>Category</th>
                    <th>Shape</th>
                    <th>Company Id</th>
                    <th>Warehouse Id</th>
                    <th>Customer Id</th>
                    <th>Transporter Id</th>
                    
                    <th>Date of Creation</th>
                    <th>Last Modified Date</th>
                    <th>Created By</th>
                    <th>Last Modified By</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><label class="badge badge-danger">Rejected</label></td>
                    <td>1.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                  <tr>
                    <td><label class="badge badge-danger">Rejected</label></td>
                    <td>2.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                  <tr>
                    <td><label class="badge badge-danger">Rejected</label></td>
                    <td>3.</td>
                    <td>SC-892</td>
                    <td>Sales Confirmation</td>
                    <td>GL</td>
                    <td>2RC</td>
                    <td>GP Global Pvt Ltd.</td>
                    <td>L-24/25</td>
                    <td>24-10-2019</td>
                    <td>24-10-2019</td>
                    <td>Aehmad</td>
                    <td>Kamlesh</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </ngb-tab>

      </ngb-tabset>

    </app-card>
    <app-add-product-cart></app-add-product-cart>
    <button type="submit" class="btn btn-success active">Approve</button>&nbsp;
    <button type="submit" class="btn btn-danger active">Reject</button>&nbsp;
  </div>
</div>